{% extends '::proyecto.html.twig' %}

{% block title %}Proyecto{% endblock %}

{% block titulo %}
    <h1>LISTA DE PROYECTOS GENERAL</h1>
    {{ perfil.nivelorganizacional.descripcion|upper }}
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li class="active">LISTA DE PROYECTOS</li>
</ol>
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    
    <table id="tabladatatable" class="table table-hover">
        <thead>
            <tr>
                <th style="display:none;">Id</th>
                <th style="width: 25%">Nombre</th>
                <th style="width: 15%">Descripcion</th>
                <th>Fecha inicio</th>
                <th>Fecha fin (e)</th>
                <th>Estatus</th>
                <th>Completado</th>
                <th>Unidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td style="display:none;">{{ entity.id }}</td>
                <td><a style="font-size: 20px;color:black;" href="{{ path('proyecto_show', { 'id': entity.id }) }}">{{ entity.nombre|upper }}</a></td>
                <td width="10%" style="text-align: justify;"><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="{{ entity.descripcion}}">{{ entity.descripcion|capitalize|slice(0,10) }}...</span></td>
                <td align="center">
                    {% if entity.fechainicio %}
                        {{ entity.fechainicio|date('d-m-Y') }}
                    {% else %}
                        <span class="label label-info">POR DEFINIR</span>
                    {% endif %}
                </td>
                <td align="center">
                    {% if entity.fechafinestimada %}
                        {{ entity.fechafinestimada|date('d-m-Y') }}
                    {% else %}
                        <span class="label label-info">POR DEFINIR</span>
                    {% endif %}
                </td>
                <td align="center">
                    {% if entity.estatus==1 %}
                        <span class="label label-danger">SIN INICIAR</span>
                    {% elseif entity.estatus==2 %}
                        <span class="label label-warning">EN PROGRESO</span>
                    {% elseif entity.estatus==3 %}
                        <span class="label label-success">CULMINADO</span>
                    {% endif %}
                </td>
                <td align="center">
                    {% if entity.porcentaje==0 and entity.estatus==1 %}
                        <span class="label label-info">N/A</span>
                    {% elseif entity.porcentaje==0 %}
                        <span class="label label-info">SIN AVANCE</span>
                    {% else %}
                        <br><div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ entity.porcentaje }}%;color:black;font-weight:bold;">
                            {{ entity.porcentaje }}%
                          </div>
                        </div>
                    {% endif %}
                </td>
                <td width="13%" style="text-align: justify;"><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="{{ entity.nivelorganizacional.descripcion|capitalize}}">{{ entity.nivelorganizacional.descripcion|capitalize|slice(0,15) }}...</span></td>
                <td>
                    
                    <a style="color:black;" href="{{ path('proyecto_show_general', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a style="color:black;" href="{{ path('tarea_general', { 'idproyecto': entity.id }) }}">TAREAS  <span class="badge">{% if totaltarea[entity.id] is defined %}{{ totaltarea[entity.id] }}{% else %}0{% endif %}</span></a> 
                    
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    <br><br>


                
    <script type="text/javascript">
        $(document).ready(function(){
           $('span').tooltip()
            
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'desc']],
            } );
        })
    </script>

    {% endblock %}
{# empty Twig template #}
