{% extends '::proyecto.html.twig' %}

{% block title %}Proyecto{% endblock %}

{% block titulo %}
    <h3>LISTA DE PROYECTOS</h3>
    {{ perfil.nivelorganizacional.descripcion|upper }}
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li class="active">LISTA DE PROYECTOS</li>
</ol>
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    

    

    <div class="panel-group" id="accordion" style="width: 80%;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          ACTIVIDADES ACTUALMENTE EN PROCESO
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        {# ACTIVIDADES EN PROCESO #}
        <table class="table table-bordered">
            <tr>
                <th width="20%">RESPONSABLE</th>
                <th width="20%">PROYECTO</th>
                <th width="20%">TAREA</th>
                <th width="40%">ACTIVIDAD</th>
            </tr>
        {% for int in integrantes %}
            {% set x=0 %}
            {% for act in actividades if act.responsable.id==int.id %}
                {% set x=1%}
                <tr>
                    <td>{{ int.primerNombre|title }} {{ int.primerApellido|title }}</td>
                    <td>{{ act.tarea.proyecto.nombre|capitalize }}</td>
                    <td>{{ act.tarea.nombre|capitalize }}</td>
                    <td><a href="{{ path('actividad',{'idtarea':act.tarea.id})}}">{{ act.descripcion|capitalize }}</a></td>
                </tr>
            {% endfor %}

            {% if x==0 %}
                <tr>
                    <td>{{ int.primerNombre|title }} {{ int.primerApellido|title }}</td>
                    <td colspan="3">Sin actividades en proceso</td>
                </tr>
            {% endif %}

        {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% if is_granted('ROLE_PROYECTO_ADMIN') %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          ACTIVIDADES POR REVISAR
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        {# ACTIVIDADES EN REVISION #}
          <table class="table table-bordered">
              <tr>
                  <th style="text-align: center" colspan="4">ACTIVIDADES POR REVISAR</th>
              </tr>
              <tr>
                  <th width="20%">RESPONSABLE</th>
                  <th width="20%">PROYECTO</th>
                  <th width="20%">TAREA</th>
                  <th width="40%">ACTIVIDAD</th>
              </tr>
          {% for int in integrantes %}
              {% set x=0 %}
              {% for act in revision if act.responsable.id==int.id %}
                  {% set x=1%}
                  <tr>
                      <td>{{ int.primerNombre|title }} {{ int.primerApellido|title }}</td>
                      <td>{{ act.tarea.proyecto.nombre|capitalize }}</td>
                      <td>{{ act.tarea.nombre|capitalize }}</td>
                      <td><a href="{{ path('actividad',{'idtarea':act.tarea.id})}}">{{ act.descripcion|capitalize }}</a></td>
                  </tr>
              {% endfor %}

              {% if x==0 %}
                  <tr>
                      <td>{{ int.primerNombre|title }} {{ int.primerApellido|title }}</td>
                      <td colspan="3">Sin actividades por revisar</td>
                  </tr>
              {% endif %}

          {% endfor %}
          </table>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          MIS ACTIVIDADES PENDIENTES
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        {# ACTIVIDADES EN REVISION #}
          <table class="table table-bordered">
              <thead>
              <tr>
                  <th width="20%">PROYECTO</th>
                  <th width="20%">TAREA</th>
                  <th width="10%">FIN TAREA</th>
                  <th width="50%">ACTIVIDAD</th>
              </tr>
              </thead>
              <tbody>
              {% for act in actpendiente if act.responsable.id==app.user.id %}
                  {% set x=1%}
                  <tr>
                      <td>{{ act.tarea.proyecto.nombre|capitalize }}</td>
                      <td>{{ act.tarea.nombre|capitalize }}</td>
                      <td>{{ act.tarea.fechafinestimada|date("d-m-Y") }}</td>
                      <td><a href="{{ path('actividad',{'idtarea':act.tarea.id})}}">{{ act.descripcion|capitalize }}</a></td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

          <br><br>
    <table id="tabladatatable" class="table table-hover">
        <thead>
            <tr>
                <th style="display:none;">Id</th>
                <th style="width: 20%">Nombre</th>
                <th style="width: 20%">Descripcion</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Estatus</th>
                <th>Completado</th>
                <th>Responsables</th>
                <th style="width: 17%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td style="display:none;">{{ entity.id }}</td>
                <td><a style="font-size: 14px;color:black;" href="{{ path('proyecto_show', { 'id': entity.id }) }}">{{ entity.nombre|upper }}</a></td>
                <td width="15%" style="text-align: justify;"><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="{{ entity.descripcion}}">{{ entity.descripcion|capitalize|slice(0,30) }}...</span></td>
                <td align="center">
                    {% if entity.fechainicio %}
                        {{ entity.fechainicio|date('d-m-Y') }}
                    {% else %}
                        <span class="label label-info">POR DEFINIR</span>
                    {% endif %}
                </td>
                <td align="center">
                    {% if entity.fechafin %}
                        {{ entity.fechafin|date('d-m-Y') }}
                    {% else %}
                        <span class="label label-info">POR DEFINIR</span>
                    {% endif %}
                </td>
                <td align="center">
                    {% if entity.estatus==1 %}
                        <span class="label label-danger">SIN INICIAR</span>
                    {% elseif entity.estatus==2 %}
                        <span class="label label-warning">EN PROGRESO</span>
                    {% elseif entity.estatus==3 %}
                        <span class="label label-success">CULMINADO</span>
                    {% endif %}
                </td>
                <td align="center">
                    {% if entity.porcentaje==0 and entity.estatus==1 %}
                        <span class="label label-info">N/A</span>
                    {% elseif entity.porcentaje==0 %}
                        <span class="label label-info">SIN AVANCE</span>
                    {% else %}
                        <br><div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ entity.porcentaje }}%;color:black;font-weight:bold;">
                            {{ entity.porcentaje }}%
                          </div>
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% if entity.responsable is not empty %}
                        {% set cont = 0 %}
                        {% set largo = entity.responsable | length %}
                        {% for es in entity.responsable %} 
                            {% set cont=cont+1 %}
                                {{ es.primerNombre|title }} {{ es.primerApellido|title }}{% if cont == largo-1 %} y{% elseif largo > 1 and cont < largo-1  %},{% else %}.{% endif %}
                        {% endfor %}
                            
                    {% else %}
                        Debe agregar un responsable
                    {% endif %}
                </td>
                <td>
                    
                    <a style="color:black;" href="{{ path('proyecto_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a style="color:black;" href="{{ path('proyecto_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a style="color:black;" href="{{ path('tarea', { 'idproyecto': entity.id }) }}">TAREAS  <span class="badge">{% if totaltarea[entity.id] is defined %}{{ totaltarea[entity.id] }}{% else %}0{% endif %}</span></a> 
                    
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    {% if is_granted('ROLE_PROYECTO_ADMIN') %}
    <a class="btn btn-default" href="{{ path('proyecto_new') }}">NUEVO PROYECTO</a>
    {% endif %}
    <br><br>


                
    <script type="text/javascript">
        $(document).ready(function(){
           $('span').tooltip()
            
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'desc']],
            } );
        })
    </script>

    {% endblock %}
