{% extends '::administracion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulo %}
    <h2>BIENVENIDO {{ usuario.primerNombre | upper}} {{ usuario.primerApellido | upper }}</h2>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li class="active">PAGINA PRINCIPAL</li>
</ol>
{% endblock %}

{% block body %}

    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <br>
<div class="row">
    <div class="col-md-5" style="padding-left:40px;">
        {% if app.user %} 
        <div class="infousuario" align="left">
            <div><b>NOMBRE:</b> {{ usuario.primerNombre | upper }} {{ usuario.segundoNombre | upper }}</div>
            <div><b>APELLIDO:</b> {{ usuario.primerApellido | upper }} {{ usuario.segundoApellido | upper }}</div>
            <div><b>USUARIO:</b> {{ app.user.username | upper }}</div>
            <div><b>CEDULA:</b> {{ usuario.cedula | upper }} </div>
            {% if usuario.user.fueradenomina==false %}
                <div><b>UNIDAD:</b> {% if usuario.nivelorganizacional!=null%} {{ usuario.nivelorganizacional.descripcion | upper }} {% else %} N/A {% endif %}</div>
                <div><b>DEPENDENCIA:</b> {{ datos.nombre }}</div>
                <div><b>SUELDO NORMAL:</b> {{ datos.sueldo_basico | number_format(2, ',', '.') }}</div>
                <div><b>FECHA INGRESO:</b> {{ datos.fecha_ingreso | upper | date('d-m-Y') }}</div>
                <div><b>FECHA NACIMIENTO:</b> {{ datos.fecha_nacimiento| upper | date('d-m-Y') }}</div>
                <div><b>CARGO:</b> {{ datos.descripcion_cargo }}</div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="col-md-7" style="padding-right:40px;">
        <div class="row">
            {% if usuario.user.password!=null %}
              <div class="col-md-4">
                    <a href="{{ path('cambioclave')}}">CAMBIAR CLAVE<br><img id="neto" src="{{ asset("images/CLAVE.jpg") }}" data-placement="bottom" title="CAMBIAR CLAVE" data-trigger="hover"></a>      
              </div>
            {% endif %}

            <div class="col-md-4">
                <a href="{{ path('telesur_personal') }}">PERSONAL TELESUR<br><img  src="{{ asset("images/logo.jpg") }}" data-placement="bottom" title="Personal" data-trigger="hover"></a>
            </div>

            {% if is_granted('ROLE_DISTRIBUCION') %}
                <div class="col-md-4">
                    <a href="{{ path('distribucion_homepage')}}">DISTRIBUCIÓN<br><img id="neto" src="{{ asset("images/apps/mapamundi.jpg") }}" data-placement="bottom" title="DISTRIBUCIÓN" data-trigger="hover"></a>      
                </div>
            {% endif %}   

            {% if is_granted('ROLE_LICENCIAS') or is_granted('ROLE_LICADMIN') %}
                <div class="col-md-4">
                    <a href="{{ path('licencias_homepage')}}">LICENCIAS<br><img id="licencias" src="{{ asset("images/licencias/candado.png") }}" data-placement="bottom" title="LICENCIAS" data-trigger="hover"></a>
                </div>  
            {% endif %}

            {% if is_granted('ROLE_VISITAS') %}
                <div class="col-md-4">
                    <a href="{{ path('control_visitas_usuario')}}">VISITAS<br><img id="licencias" src="{{ asset("images/User_male.png") }}" data-placement="bottom" title="VISITAS" data-trigger="hover"></a>        
                </div>
            {% endif %}

            {% if usuario.user.fueradenomina==false %}
                <div class="col-md-4">
                    <a href="{{ path('neto_homepage')}}">NETO<br><img id="licencias" src="{{ asset("images/moneda.jpg") }}" data-placement="bottom" title="RECIBO DE PAGO" data-trigger="hover"></a> 
                </div>
            {% endif %}

            {% if is_granted('ROLE_VIDEOTECA') %}
                <div class="col-md-4">
                    <a href="{{ path('videoteca_homepage')}}">VIDEOTECA<br><img id="licencias" src="{{ asset("images/videoteca.jpg") }}" data-placement="bottom" title="VIDEOTECA" data-trigger="hover"></a>
                </div>
            {% endif %}

            {% if is_granted('ROLE_NOMINA') %}
                <div class="col-md-4">
                    <a href="{{ path('nomina_formalimentacion')}}">NÓMINA<br><img id="licencias" src="{{ asset("images/nomina.jpeg") }}" data-placement="bottom" title="TXT PRESTACIONES" data-trigger="hover"></a>
                </div>
            {% endif %}

            {% if usuario.user.fueradenomina==false %}
                <div class="col-md-4">
                    <a href="{{ path('constancia_homepage')}}">CONSTANCIA<br><img id="licencias" src="{{ asset("images/constancia.jpeg") }}" data-placement="bottom" title="CONSTANCIA DE TRABAJO" data-trigger="hover"></a>
                </div>
            {% endif %}

            <div class="col-md-4">
                <a href="{{ path('sit_homepage')}}">SIT<br><img id="licencias" src="{{ asset("images/sit.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>

            {% if is_granted('ROLE_CONTENIDOS_ADMIN') or is_granted('ROLE_CONTENIDOS_DGE') or is_granted('ROLE_CONTENIDOS_TESORERIA') or is_granted('ROLE_CONTENIDOS_FINANZAS') or is_granted('ROLE_CONTENIDOS_RRHH') or is_granted('ROLE_CONTENIDOS_PTTO') or is_granted('ROLE_CONTENIDOS_APOYO') or is_granted('ROLE_CONTENIDOS_COMPRAS') or is_granted('ROLE_CONTENIDOS_ASISTENTES') or is_granted('ROLE_CONTENIDOS_DIRECTORLINEA') %}
                <div class="col-md-4">
                    <a href="{{ path('datosproveedor')}}">CONTROL DE PAGOS<br><img id="licencias" src="{{ asset("images/dinero.jpg") }}" data-placement="bottom" title="CONTROL DE PAGOS" data-trigger="hover"></a>
                </div>
            {% endif %}

            <div class="col-md-4">
                <a href="javascript:void(0)" id="pe">ESTUDIOS<br><img src="{{ asset("images/estudio.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>

            <div class="col-md-4">
                <a href="javascript:void(0)" id="mm">MAPAMUNDI<br><img  src="{{ asset("images/mapamundi.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>

            {% if is_granted('ROLE_CREATV') %}
                <div class="col-md-4">
                    <a href="javascript:void(0)">CREATV<br><img  src="{{ asset("images/creatv.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
                </div>
            {% endif %}

            {% if is_granted('ROLE_TRANSPORTE') %}
                <div class="col-md-4">
                    <a href="javascript:void(0)">TRANSPORTE<br><img  src="{{ asset("images/transporte.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
                </div>
            {% endif %}

            {# UNA SOLA JORNADA#}
            <div class="listado_aplicaciones">
              <a href="{{ path('mercal_homepagenum',{'idjornada':8})}}">JORNADAS<br><img id="licencias" src="{{ asset("images/jornada.png") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>

            {# DOS JORNADAS #}
            {#
            <div class="col-md-4">
                <a href="{{ path('mercal_numeracion',{'idjornada1':1,'idjornada2':2})}}">JORNADAS<br><img id="licencias" src="{{ asset("images/jornada.png") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>
            #}

            {#
            {% if is_granted('ROLE_ADMINISTRADOR') %}
            <div class="col-md-4">
                <a href="{{ path('transporte') }}">TRANSPORTE NUEVO<br><img  src="{{ asset("images/transporte.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>
            {% endif %}
            #}
           
            {% if is_granted('ROLE_CONTRATOS')%}
                <div class="col-md-4">
                    <a href="{{ path('contratos') }}">CONTRATOS<br><img  src="{{ asset("images/contratos.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
                </div>
            {% endif %}

            {% if is_granted('ROLE_DIRECTORIO') %}
                <div class="col-md-4">
                    <a href="{{ path('directorio_homepage')}}">DIRECTORIO<br><img src="{{ asset("images/directorio.jpg") }}" data-placement="bottom"  data-trigger="hover"></a>
                </div>
            {% endif %}

            {% if is_granted('ROLE_CUMPLEANIOS') %}
                <div class="col-md-4">
                    <a href="{{ path('cumpleanios_personal')}}">CUMPLEAÑOS<br><img src="{{ asset("images/cumpleanios.jpg") }}" data-placement="bottom"  data-trigger="hover"></a>
                </div>
            {% endif %}

        </div>
    </div>
</div>

    {# ESTA SECCION ES PARA LOGEUAR AUTOMÁTICAMENTES ESTAS APLICACIONES EN EL SISTEMA #}
    <SCRIPT TYPE="text/javascript">
    $( "#pe" ).click(function() {
        $('#form60').attr('action', '/Telesur/web/estudios.php');
        $( "#form60" ).submit();
    });

    $( "#mm" ).click(function() {
        $('#form60').attr('action', '/Telesur/web/mapamundi.php');
        $( "#form60" ).submit();
    });

    $( "#ct" ).click(function() {
        $('#form60').attr('action', '/Telesur/web/creatv.php');
        $( "#form60" ).submit();
    });

    $( "#tp" ).click(function() {
        $('#form60').attr('action', '/Telesur/web/transporte.php');
        $( "#form60" ).submit();
    });
    </SCRIPT>

    <form id="form60" action="" method="post" style="display:none;">
        <input type="text" name="signin[username]" id="signin_username" value="{{ app.user.username }}"/>
        <input type="password" name="signin[password]" id="signin_password" value="{{ PASSPASS }}"/>
    </form>
    {# HASTA AQUÍ #}

{% endblock %}
