{% extends '::administracion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    LISTADO DE APLICACIONES
{% endblock %}

{% block body %}

    {{ parent() }}


    {% set datos  %} {% if app.user %} USUARIO: {{ app.user.username | upper }} | NOMBRE: {{ usuario.primerNombre | upper }} | APELLIDO: {{ usuario.primerApellido | upper }} | CEDULA: {{ usuario.cedula | upper }} | SUELDO NORMAL: {{ datos.sueldo_basico | upper }} | FECHA INGRESO: {{ datos.fecha_ingreso | upper | date('d-m-Y') }}{% endif %}{% endset %}
    
    <div class="titulo"><span id="info" style="cursor:pointer;" data-content={{ datos|json_encode|raw }} title="USUARIO">BIENVENIDO {{ usuario.primerNombre | upper}} {{ usuario.primerApellido | upper }} <div class="icon-search"></div></span></div>

    <br>
    <div class="jquery" align="left">

            {% if is_granted('ROLE_DISTRIBUCION') %}
            <div class="listado_aplicaciones">
                <a href="{{ path('distribucion_homepage')}}">DISTRIBUCIÓN<br><img id="neto" src="{{ asset("images/apps/mapamundi.jpg") }}" data-placement="bottom" title="DISTRIBUCIÓN" data-trigger="hover"></a><br>
            </div>
            {% endif %}

            {% if is_granted('ROLE_LICENCIAS') or is_granted('ROLE_LICADMIN') %}
            <div class="listado_aplicaciones">
              <a href="{{ path('licencias_homepage')}}">LICENCIAS<br><img id="licencias" src="{{ asset("images/licencias/candado.png") }}" data-placement="bottom" title="LICENCIAS" data-trigger="hover"></a>
            </div>
            {% endif %}
            
           {# <div class="listado_aplicaciones">
              <a href="http://10.10.0.152/egroupware/login.php?phpgw_forward=%2Findex.php">PROYECTOS<br><img id="licencias" src="{{ asset("images/logo.png") }}" data-placement="bottom" title="DATOS DE USUARIO" data-trigger="hover"></a>
            </div> #}

            {% if is_granted('ROLE_VISITAS') %}
            <div class="listado_aplicaciones">
              <a href="{{ path('control_visitas_usuario')}}">VISITAS<br><img id="licencias" src="{{ asset("images/User_male.png") }}" data-placement="bottom" title="VISITAS" data-trigger="hover"></a>
            </div>
            {% endif %}


            <div class="listado_aplicaciones">
              <a href="{{ path('neto_homepage')}}">NETO<br><img id="licencias" src="{{ asset("images/moneda.jpg") }}" data-placement="bottom" title="RECIBO DE PAGO" data-trigger="hover"></a>
            </div>


            {% if is_granted('ROLE_VIDEOTECA') %}
            <div class="listado_aplicaciones">
              <a href="{{ path('videoteca_homepage')}}">VIDEOTECA<br><img id="licencias" src="{{ asset("images/videoteca.jpg") }}" data-placement="bottom" title="VIDEOTECA" data-trigger="hover"></a>
            </div>
            {% endif %}

            {% if is_granted('ROLE_NOMINA') %}
            <div class="listado_aplicaciones">
              <a href="{{ path('nomina_formalimentacion')}}">NÓMINA<br><img id="licencias" src="{{ asset("images/nomina.jpeg") }}" data-placement="bottom" title="TXT PRESTACIONES" data-trigger="hover"></a>
            </div>
            {% endif %}

            <div class="listado_aplicaciones">
              <a href="{{ path('constancia_homepage')}}">CONSTANCIA<br><img id="licencias" src="{{ asset("images/constancia.jpeg") }}" data-placement="bottom" title="CONSTANCIA DE TRABAJO" data-trigger="hover"></a>
            </div>

            <div class="listado_aplicaciones">
              <a href="{{ path('sit_homepage')}}">SIT<br><img id="licencias" src="{{ asset("images/sit.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>

            {% if is_granted('ROLE_CONTENIDOS') %}
                <div class="listado_aplicaciones">
                  <a href="{{ path('datosproveedor')}}">CONTENIDOS<br><img id="licencias" src="{{ asset("images/dinero.jpg") }}" data-placement="bottom" title="CONTROL DE PAGOS" data-trigger="hover"></a>
                </div>
            {% endif %}

            <div class="listado_aplicaciones">
              <a href="javascript:void(0)" id="pe">ESTUDIOS<br><img src="{{ asset("images/estudio.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>

            <div class="listado_aplicaciones">
              <a href="javascript:void(0)" id="mm">MAPAMUNDI<br><img  src="{{ asset("images/mapamundi.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>

            <div class="listado_aplicaciones" id="ct">
              <a href="javascript:void(0)">CREATV<br><img  src="{{ asset("images/creatv.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>


            <div class="listado_aplicaciones" id="tp">
              <a href="javascript:void(0)">TRANSPORTE<br><img  src="{{ asset("images/transporte.jpg") }}" data-placement="bottom" title="SOLICITUDES" data-trigger="hover"></a>
            </div>

   </div>

    <br>

    <div style="clear:both;float:none;"></div>


    <script type="text/javascript">

        $(document).ready(function (){

                $(".jquery").hide(1);

                $(".jquery").fadeIn(3000);

        });

        $(document).ready(function () {
            $('#info').gips({ 'theme': 'red', placement: 'right',text:{{ datos|raw }}, autoHide: true });
        });

    </script>

   
    <script>

    $('#info').popover();

    </script>



    {# ESTA SECCION ES PARA LOGEUAR AUTOMÁTICAMENTES ESTAS APLICACIONES EN EL SISTEMA #}
    <SCRIPT TYPE="text/javascript">
    $( "#pe" ).click(function() {
        $('#form60').attr('action', '/Telesur/web/estudios.php');
        $( "#form60" ).submit();
    });

    $( "#mm" ).click(function() {
        $('#form60').attr('action', '/Telesur/web/mapamundi.php');
        $( "#form60" ).submit();
    });

    $( "#ct" ).click(function() {
        $('#form60').attr('action', '/Telesur/web/creatv.php');
        $( "#form60" ).submit();
    });

    $( "#tp" ).click(function() {
        $('#form60').attr('action', '/Telesur/web/transporte.php');
        $( "#form60" ).submit();
    });
    </SCRIPT>

    <form id="form60" action="" method="post" style="display:none;">
        <input type="text" name="signin[username]" id="signin_username" value="{{ app.user.username }}"/>
        <input type="password" name="signin[password]" id="signin_password" value="{{ PASSPASS }}"/>
    </form>
    {# HASTA AQUÍ #}

{% endblock %}
