{% extends '::administracion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    LISTADO DE APLICACIONES
{% endblock %}

{% block body %}

    {{ parent() }}


    {% set datos  %} {% if app.user %} USUARIO: {{ app.user.username | upper }} | NOMBRE: {{ usuario.primerNombre | upper }} | APELLIDO: {{ usuario.primerApellido | upper }} | CEDULA: {{ usuario.cedula | upper }} | SUELDO: {{ datos.sueldo | upper }}{% endif %}{% endset %}
    
    <div class="titulo"><span id="info" style="cursor:pointer;" data-content={{ datos|json_encode|raw }} title="USUARIO">BIENVENIDO {{ usuario.primerNombre | upper}} {{ usuario.primerApellido | upper }} <div class="icon-search"></div></span></div>

    <br>
    <div class="jquery" align="left">

            {% if is_granted('ROLE_DISTRIBUCION') %}
            <div class="listado_aplicaciones">
                <a href="{{ path('distribucion_homepage')}}" onclick="document.form.submit()">DISTRIBUCIÓN<br><img id="neto" src="{{ asset("images/apps/mapamundi.jpg") }}" data-placement="bottom" title="DISTRIBUCIÓN" data-trigger="hover"></a><br>
            </div>
            {% endif %}

            {% if is_granted('ROLE_LICENCIAS') %}
            <div class="listado_aplicaciones">
              <a href="{{ path('licencias_homepage')}}" onclick="document.form.submit()">LICENCIAS<br><img id="licencias" src="{{ asset("images/licencias/candado.png") }}" data-placement="bottom" title="LICENCIAS" data-trigger="hover"></a>
            </div>
            {% endif %}
           {# <div class="listado_aplicaciones">
              <a href="http://10.10.0.152/egroupware/login.php?phpgw_forward=%2Findex.php" onclick="document.form.submit()">PROYECTOS<br><img id="licencias" src="{{ asset("images/logo.png") }}" data-placement="bottom" title="DATOS DE USUARIO" data-trigger="hover"></a>
            </div> #}

            {% if is_granted('ROLE_VISITAS') %}
            <div class="listado_aplicaciones">
              <a href="{{ path('control_visitas_usuario')}}" onclick="document.form.submit()">VISITAS<br><img id="licencias" src="{{ asset("images/User_male.png") }}" data-placement="bottom" title="VISITAS" data-trigger="hover"></a>
            </div>
            {% endif %}

            {% if is_granted('ROLE_NETO') %}
            <div class="listado_aplicaciones">
              <a href="{{ path('neto_homepage')}}" onclick="document.form.submit()">NETO<br><img id="licencias" src="{{ asset("images/moneda.jpg") }}" data-placement="bottom" title="RECIBO DE PAGO" data-trigger="hover"></a>
            </div>
            {% endif %}

            {% if is_granted('ROLE_VIDEOTECA') %}
            <div class="listado_aplicaciones">
              <a href="{{ path('videoteca_homepage')}}" onclick="document.form.submit()">VIDEOTECA<br><img id="licencias" src="{{ asset("images/videoteca.jpg") }}" data-placement="bottom" title="RECIBO DE PAGO" data-trigger="hover"></a>
            </div>
            {% endif %}
   </div>

    <br>

    <div style="clear:both;float:none;"></div>


    <script type="text/javascript">

        $(document).ready(function (){

                $(".jquery").hide(1);

                $(".jquery").fadeIn(3000);

        });

        $(document).ready(function () {
            $('#info').gips({ 'theme': 'red', placement: 'right',text:{{ datos|raw }}, autoHide: true });
        });

    </script>

    <form name="form" action="/Telesur/web/index.php/login" method="post">
        <input type="hidden" value="jvalera" value="<?php echo $idu;?>" id="signin_username" name="signin[username]">
        <input type="hidden" value="#v4l3r4*.." value="<?php echo $_SESSION['clave'];?>" id="signin_password" name="signin[password]">
    </form>
    
    <script>

    $('#info').popover();

    </script>

{% endblock %}

         