<div id="ajaxlistausuario">
{# PERSONAL INTERNO #}
{% if tipo=="I" %}
    {% for usu in usuarios %}
        <div id="ajaxusuarios" onclick="armarlista('{{ usu.primerNombre}} {{ usu.primerApellido}}, C.I: {{ usu.cedula}}')" style="cursor:pointer;">
        	{{ usu.primerNombre}} {{ usu.primerApellido}},  C.I: {{ usu.cedula}}
        </div>
    {% endfor %}
{% endif %}
{# PERSONAL EXTERNO #}
{% if tipo=="E" %}
    {% for usu in usuarios %}
        <div id="ajaxusuarios" style="cursor:pointer;" onclick="armarlista('{{ usu.Nombre}}')">
        	{{ usu.Nombre}}
        </div>
    {% endfor %}
{% endif %}

</div>