{% extends '::transporte.html.twig' %}
 
{% block title %}Crear Solicitud{% endblock %}

{% block titulo %}
    CREAR SOLICITUD
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("missolicitudes") }}">LISTADO DE MIS SOLICITUDES</a></li>
  <li class="active">CREAR SOLICITUD</li>
</ol>
{% endblock %}
{% block stylesheets %}
 {{ parent() }} 
 <style type="text/css">
     /* select with CSS avatar icons */
    option.avatar {
      background-repeat: no-repeat !important;
      padding-left: 20px;
    }
    .avatar .ui-icon-closethick {
      background-position: left top;
      background: url("{{ asset("images/images/ui-icons_2e83ff_256x240.png") }}");
    }
 </style>
   
{% endblock %}
{% block body -%}
  {{ parent() }}


  <form novalidate action="{{ path('solicitudes_create') }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}               
    <div class="formShow"><br>
      <div class="contenedorform">
        <div class="labelform">Fecha de Solicitud:</div> 
        <div class="widgetform">{{"now"|date("m/d/Y")}}</div>
      </div>
      <div class="contenedorform">
        <div class="text-error">{{ form_errors(form.fechaSalida) }}</div>
        <div class="labelform">Fecha Salida:</div>
        <div class="widgetform">                
          {{ form_widget(form.fechaSalida, {'attr':{'class':'fecha'}})}}
        </div>
      </div>        
      <div class="contenedorform">
          <div class="text-error">{{ form_errors(form.horaSalida) }}</div>
          <div class="labelform">Hora Salida:</div>
          <div class="widgetform">{{ form_widget(form.horaSalida, {'attr':{'class':'hora'}}) }}</div>   
      </div>        
      <div class="contenedorform">
          <div class="labelform">Tipo de Personal:</div>
          <div class="widgetform">
              <select name="tipop" id="tipop" title="Seleccione el tipo de personal a trasladar para Buscar en el siguiente campo...">
                  <option value="I">Interno</option>
                  <option value="E">Externo</option>
              </select>
          </div>            
      </div>    
      <div class="contenedorform">
        <div class="text-error">{{ form_errors(form.asistentes) }}</div>   
        <div class="labelform">Personal a Trasladar:</div>    
        <div class="widgetform" id="lista">                                                
          <input type="text" id="buscar" placeholder="Coloque aqui la cédula o nombre a buscar" title="Escriba los nombres para listar. Recuerde diferenciar  minúsculas de mayúsculas" style="width:80%;height:50px;" autocomplete=off id="cpi" onkeyup="ajax('/sait/web/transporte.php/ajax/muestrapersonal','contenido',document.getElementById('cpi').value)">
        </div>
        <div class="contenedorform">
          <div class="labelform"></div>    
          <div class="widgetform">                                                
            {{ form_widget(form.asistentes, {'attr':{'style':'width:80%;height:200px;'}}) }}
          </div>
        </div>           
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.direccionDesde) }}</div>
            <div class="labelform">Direccion Desde u Origen:</div>
            <div class="widgetform">{{ form_widget(form.direccionDesde, {'attr':{'style':'width:80%;height:100px;'}}) }}</div> 
        </div>       
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.direccionHasta) }}</div>
            <div class="labelform">Direccion Hasta o Destino:</div>
            <div class="widgetform">{{ form_widget(form.direccionHasta, {'attr':{'style':'width:80%;height:100px;'}}) }}</div>
        </div>        
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.descripcionEquipos) }}</div>
            <div class="labelform">Equipos/Implementos a trasladar:</div>
            <div class="widgetform">{{ form_widget(form.descripcionEquipos, {'attr':{'style':'width:80%;height:100px;'}}) }}</div>
        </div>        
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.datosInteresRazon) }}</div>
            <div class="labelform">Motivo de la Solicitud:</div>
            <div class="widgetform">{{ form_widget(form.datosInteresRazon, {'attr':{'style':'width:80%;height:100px;'}}) }}</div>
        </div>  
      </div>
    </div>
        <br>
            <button class="btn btn-primary" type="submit">CREAR</button> |
        <a class="btn btn-default" href="{{ path('missolicitudes') }}">IR AL LISTADO</a>
        <br>
    </form>


<script>
  $(
    function(){
      $( ".fecha" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd",
        });
    });

  $(".hora select").css(
    {
      'width':'40px',
    });
  </script>
  

  
{% endblock %}
