{% extends '::transporte.html.twig' %}
 
{% block title %}Crear Solicitud{% endblock %}

{% block titulo %}
    CREAR SOLICITUD
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("missolicitudes") }}">LISTADO DE MIS SOLICITUDES</a></li>
  <li class="active">CREAR SOLICITUD</li>
</ol>
{% endblock %}
{% block body -%}
    {{ parent() }}


    <form action="{{ path('solicitudes_create') }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}               
        <div class="formShow">
            <br>
            <div class="contenedorform">
                <div class="labelform">Fecha de Solicitud:</div> 
                <div class="widgetform">{{"now"|date("m/d/Y")}}</div>
            </div>
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.fechaSalida) }}</div>
                <div class="labelform">Fecha Salida:</div>
                <div class="widgetform">                
                    {{ form_widget(form.fechaSalida, {'attr':{'class':'fecha'}})}}
                    <script>
                      $(function() {
                        $( ".fecha" ).datepicker({
                          changeMonth: true,
                          changeYear: true,
                          dateFormat: "yy-mm-dd",
                        });
                      });
                    </script>
                </div>
            </div>        
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.horaSalida) }}</div>
                <div class="labelform">Hora Salida:</div>
                <div class="widgetform">{{ form_widget(form.horaSalida, {'attr':{'class':'hora'}}) }}</div>
                <script>
                $(".hora select").css({
                    'width':'50px',
                });
                </script>    
            </div>        
            <div class="contenedorform">
                <div class="labelform">Tipo de Personal:</div>
                <div class="widgetform">
                    <select name="tipop" id="tipop" title="Seleccione el tipo de personal a trasladar para Buscar en el siguiente campo...">
                        <option value="I">Interno</option>
                        <option value="E">Externo</option>
                    </select>
                </div>            
            </div>    
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.asistentes) }}</div>
                <div class="widgetform">  {{ form_widget(form.asistentes) }}</div>            
                <div class="labelform">Personal a Trasladar:</div>    
                <div class="widgetform" id="lista">                                                
                    <input type="text" id="buscar" placeholder="Buscar" title="Escriba los nombres para listar. Recuerde diferenciar  minúsculas de mayúsculas" autocomplete=off>                                                 
                    <div id="ajaxlistado"></div>
                    <select style="width:250px;height:100px;" multiple name="asistentes_tmp" id="asistentes_tmp" title="Haga click para eliminar de la lista"></select>                
                    <script type="text/javascript">
                    //ajax para buscar usuarios
                    $('#form_solicitud_asistentes').val('');
                    $(document).ready(function () {
                      $('#buscar').keyup(function(){

                        if($('#buscar').val()==''){
                            $('#ajaxlistado').html('');
                        }else{
                            if ($('#tipop').val()=="I"){
                                var ruta= "{{ path('solicitudes_ajaxusuarios',{'val':'val'}) }}";
                                ruta = ruta.replace("val",  $('#buscar').val());
                            }else{
                                var ruta= "{{ path('solicitudes_ajaxexternos',{'val':'val'}) }}";
                                ruta = ruta.replace("val",  $('#buscar').val());
                            }
                                

                         $.ajax({
                           url: ruta,
                           type : 'POST',
                           beforeSend: function(){
                            $("#loading").show();
                           },
                           complete: function(){
                             $("#loading").hide();
                           },
                           success: function(data){
                            $('#ajaxlistado').html(data);
                           }
                         });    
                        }
                      });

                    });
                    //armar lista de usuarios seleccionados
                    function armarlista(valor){
                        var existe=false;                    
                        var sel = document.getElementById("asistentes_tmp");                         
                        var tip = document.getElementById("tipop").value;                         
                        //Buscamos si ya existe el valor seleccionado
                        for (var i = 0; i < sel.length; i++) 
                        {                        
                            if (sel[i].value==valor+'-'+tip)
                            existe=true;                      
                        }
                        if (existe)
                            alert("Ya este usuario fue seleccionado: "+valor);
                        else
                            $('#asistentes_tmp').append('<option value="' + valor + '-'+tip+'">' + valor +'-'+tip+'</option>');          
                        actAsistentes();
                        //$('#lista select option').attr('selected','selected');
                        $('#ajaxlistausuario').hide()
                        $('#buscar').val('')
                    }
                    function actAsistentes(){
                        //PASA LOS DATOS ACTUALES DE LA LISTA AL CAMPO OCULTO DEL FORMULARIO QUE IRA A LA BD
                        $('#form_solicitud_asistentes').val('');                    
                        var sel = document.getElementById("asistentes_tmp");  
                        var lista="";
                        for (var i = 0; i < sel.length; i++) 
                        {                        
                            lista+=sel[i].value+", ";                                              
                        }                    
                        document.getElementById("form_solicitud_asistentes").value=lista;
                    }
                    //Si hacemos click sobre el select que se esta cargando, Borramos la opción seleccionada
                    $('#asistentes_tmp').click(function(){

                        if($('#asistentes_tmp').val()!=null){
                            if (confirm("Quitar este usuario seleccionado?")){
                                $("#asistentes_tmp option:selected").remove();    
                                actAsistentes();
                            }
                        } else alert('Listado vacío.')
                    });
                    </script>
                </div>
            </div>           
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.direccionDesde) }}</div>
                <div class="labelform">Direccion Desde u Origen:</div>
                <div class="widgetform">{{ form_widget(form.direccionDesde) }}</div>
            </div>        
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.direccionHasta) }}</div>
                <div class="labelform">Direccion Hasta o Destino:</div>
                <div class="widgetform">{{ form_widget(form.direccionHasta) }}</div>
            </div>        
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.descripcionEquipos) }}</div>
                <div class="labelform">Equipos/Implementos a trasladar:</div>
                <div class="widgetform">{{ form_widget(form.descripcionEquipos) }}</div>
            </div>        
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.datosInteresRazon) }}</div>
                <div class="labelform">Motivo de la Solicitud:</div>
                <div class="widgetform">{{ form_widget(form.datosInteresRazon) }}</div>
            </div>  
        </div>
        <br><br>
            <button class="btn btn-primary" type="submit">CREAR</button> |
        <a class="btn btn-default" href="{{ path('missolicitudes') }}">IR AL LISTADO</a>
        <br>
    </form>

{% endblock %}
