{% extends '::transporte.html.twig' %}
 
{% block title %}Crear Solicitud{% endblock %}

{% block titulo %}
    CREAR SOLICITUD
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("missolicitudes") }}">LISTADO DE MIS SOLICITUDES</a></li>
  <li class="active">CREAR SOLICITUD</li>
</ol>
{% endblock %}

{% block body -%}
  {{ parent() }}


  <form novalidate action="{{ path('solicitudes_create') }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}               
    <div class="formShow"><br>
      <div class="contenedorform">
        <div class="labelform">Fecha de Solicitud:</div> 
        <div class="widgetform">{{"now"|date("m/d/Y")}}</div>
      </div>
      <div class="contenedorform">
        <div class="text-error">{{ form_errors(form.fechaSalida) }}</div>
        <div class="labelform">Fecha Salida:</div>
        <div class="widgetform">                
          {{ form_widget(form.fechaSalida, { 'attr': { 'class': 'fecha', 'readOnly': 0 } }) }}
        </div>
      </div>        
      <div class="contenedorform">
          <div class="text-error">{{ form_errors(form.horaSalida) }}</div>
          <div class="labelform">Hora Salida:</div>
          <div class="widgetform">{{ form_widget(form.horaSalida, {'attr':{'class':'hora'}}) }}</div>   
      </div>        
      <div class="contenedorform">
          <div class="labelform">Tipo de Personal:</div>
          <div class="widgetform">
              <select name="tipop" id="tipop" title="Seleccione el tipo de personal a trasladar para Buscar en el siguiente campo...">
                  <option value="I">Interno</option>
                  <option value="E">Externo</option>
              </select>
          </div>            
      </div>    
      <div class="contenedorform">                       
        <div class="labelform">Personal a Trasladar:</div>
        <div class="widgetform" id="lista">
          <input type="text" id="buscar" placeholder="Coloque aqui la cédula o nombre a buscar" title="Escriba los nombres para listar. Recuerde diferenciar  minúsculas de mayúsculas" style="width:400px;height:50px;" autocomplete=off>
        </div>
      </div>
      <div class="contenedorform">                       
        <div class="labelform"></div>
        <div class="widgetform"> 
                    
                  <div class="widgetform" id="ajaxlistado" 'attr': {'style': 'width:350%;height:200px;' title="Haga click para eliminar de la lista"  >
                  </div>

                  {{ form_widget(form.asistentes,{'attr':{'style':'display:none'}}) }}  
                  <div id="tags"></div>
            </div>
        </div>           
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.direccionDesde) }}</div>
            <div class="labelform">Direccion Desde u Origen:</div>
            <div class="widgetform">{{ form_widget(form.direccionDesde, {'attr':{'style':'width:80%;height:100px;'}}) }}</div> 
        </div>       
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.direccionHasta) }}</div>
            <div class="labelform">Direccion Hasta o Destino:</div>
            <div class="widgetform">{{ form_widget(form.direccionHasta, {'attr':{'style':'width:80%;height:100px;'}}) }}</div>
        </div>        
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.descripcionEquipos) }}</div>
            <div class="labelform">Equipos/Implementos a trasladar:</div>
            <div class="widgetform">{{ form_widget(form.descripcionEquipos, {'attr':{'style':'width:80%;height:100px;'}}) }}</div>
        </div>        
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.datosInteresRazon) }}</div>
            <div class="labelform">Motivo de la Solicitud:</div>
            <div class="widgetform">{{ form_widget(form.datosInteresRazon, {'attr':{'style':'width:80%;height:100px;'}}) }}</div>
        </div>  
      </div>
        <br>
            <button class="btn btn-primary" type="submit">CREAR</button> |
        <a class="btn btn-default" href="{{ path('missolicitudes') }}">IR AL LISTADO</a>
        <br>
    </form>


<script type="text/javascript">
  $(
    function(){
      $( ".fecha" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd",
        });
    });

  $(".hora select").css(
    {
      'width':'40px',
    });

   //ajax para buscar usuarios
    $(document).ready(function () 
    {
      $('#buscar').keyup(function()
      {
        if($('#buscar').val()=='')
        {
          $('#ajaxlistado').html('');
        }else
        {
          if ($('#tipop').val()=="I")
          {
            var ruta= "{{ path('solicitudes_ajaxusuarios',{'val':'val'}) }}";
            ruta = ruta.replace("val",  $('#buscar').val());
          }else
          {
            var ruta= "{{ path('solicitudes_ajaxexternos',{'val':'val'}) }}";
            ruta = ruta.replace("val",  $('#buscar').val());
          }
          $.ajax
          (
            {
              url: ruta,
              type : 'POST',
              beforeSend: function()
              {
                $("#loading").show();
              },
              complete: function()
              {
                $("#loading").hide();
              },
              success: function(data)
              {
                $('#ajaxlistado').html(data);
              }
            }
          );    
        }
      });
    });

    

    //armar lista de usuarios seleccionados
    function armarlista(valor){

        listaoculta = $('#form_solicitud_asistentes').val()

        //valido que no se agregue dos veces el mismo usuario
        listaarray=listaoculta.split(",");
        if(jQuery.inArray(valor, listaarray)!=-1){return;}

        if(listaoculta=='')
            listaoculta=valor
        else
            listaoculta=listaoculta+','+valor

        $('#form_solicitud_asistentes').val(listaoculta)
        $('#ajaxlistausuario').hide()
        $('#buscar').val('')

        tags()
    }

    //agrego las etiquetas
    function tags(){

        $('#tags').html('');
        listaoculta = $('#form_solicitud_asistentes').val()

        //transformo la lista en un array
        listaarray=listaoculta.split(",");tag="";
        //alert(listaarray);
        for(var i=0;i<listaarray.length;i++){
            datos=listaarray[i]
            tag='<div style="cursor:pointer;" class="tags" id="'+i+'" onclick="eliminartag(\''+i+'\',\''+datos+'\')">'+datos+ '<img src="{{ asset("images/mal.jpeg" ) }}" height="15px"></div>';
            $('#tags').append(tag)
        }
    }

    //eliminar usuarios
    function eliminartag(iddiv,datos){
        var r = confirm("Desea eliminar?");
        if (r == true) {
            $('#'+iddiv).remove()
            $('#'+iddiv).remove()

          listaoculta = $('#form_solicitud_asistentes').val()
          listaoculta=listaoculta.replace(","+datos,"")
          listaoculta=listaoculta.replace(datos+",","")
          listaoculta=listaoculta.replace(datos,"")
          $('#form_solicitud_asistentes').val(listaoculta)
        }        
    }

    //
    if($('#form_solicitud_asistentes').val()!=''){
        tags()
    }


</script> 
{% endblock %}
