{% extends '::transporte.html.twig' %}
 
{% block title %}Crear Solicitud{% endblock %}

{% block titulo %}
    CREAR SOLICITUD
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("missolicitudes") }}">LISTADO DE MIS SOLICITUDES</a></li>
  <li class="active">CREAR SOLICITUD</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}

 <div class="formShow">
    
    <form action="{{ path('solicitudes_create') }}" method="post" novalidate {{ form_enctype(form) }} {{ form_enctype(form1) }}>   
    {{ form_widget(form._token) }} {{ form_widget(form1._token) }}

        <div class="contenedorform">
            <div class="labelform">Tipo de Personal:</div>
            <div class="widgetform">
                <select name="tipop" id="tipop" title="Seleccione el tipo de personal a trasladar para Buscar en el siguiente campo...">
                    <option value="I">Interno</option>
                    <option value="E">Externo</option>
                </select>
            </div>            
        </div>    
        <div class="contenedorform">                       
            <div class="labelform">Personal a Trasladar:</div>                                              
            <div class="widgetform" id="aaaaa">  
                {{ form_widget(form1.buscar, { 'attr': {'style': 'width:80%;height:50px;','title':'Escriba los nombres para listar. Recuerde diferenciar  minúsculas de mayúsculas', 'placeholder': 'Coloque aqui el nombre o cédula a buscar', 'id': 'buscar'} }) }}
            </div>

            <div class="text-error">{{ form_errors(form.asistentes) }}</div>
            <div class="labelform"></div>
            <div class="widgetform">{{ form_widget(form.asistentes, {'attr':{'style':'width:80%;height:200px;'}}) }}</div> 
        </div>  
        <div id="muestra"></div>                
        <ul>
        <li>
            <a href="{{ path('solicitudes_create') }}">               
                <button class="btn btn-primary" type="submit">Crear Solicitud</button>
            </a>| 
            <a class="btn" href="{{ path('solicitudes') }}">IR AL LISTADO
            </a>            
        </li>
        </ul>      
    </form>    
</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_buscar').change(function(){
                var dato = $("#form_buscar").val();
                var ruta = "{{ path('ajax_solicitudesmuestrapersonal', {'valores': 'variable'}) }}";
                ruta = ruta.replace("variable", dato);
                $('#muestra').load(ruta);       
            });   
        });
         $(function() {
            $( ".fecha" ).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
            });
    });
    </script>
{% endblock %}