{% extends '::transporte.html.twig' %}

{% block title %}Transporte{% endblock %}

{% block titulobanner %}
    TRANSPORTE
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">TRANSPORTE -  DETALLE DE SOLICITUD</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}


 <div class="formShow">

    <table class="record_properties">
        <tbody>
            <div class="contenedorform">
                <div class="labelform">Id</div>
                <div class="widgetform">{{ entity.id }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Asistentes</div>
                <div class="widgetform">{{ entity.asistentes }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Fecha de Solicitud</div>
                <div class="widgetform">{{ entity.fechaSolicitud|date('d-m-Y') }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Fecha de Salida</div>
                <div class="widgetform">{{ entity.fechaSalida|date('d-m-Y') }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Hora de Salida</div>
                <div class="widgetform">{{ entity.horaSalida|date('G:i:s') }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Direccion Desde</div>
                <div class="widgetform">{{ entity.direccionDesde }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Direccion Hasta</div>
                <div class="widgetform">{{ entity.direccionHasta }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Equipos/Implementos</div>
                <div class="widgetform">{{ entity.descripcionEquipos }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Motivo de la Solicitud</div>
                <div class="widgetform">{{ entity.datosInteresRazon }}</div>
            </div>
            {% if  entity.justificacionRechazo %}
            <div class="contenedorform">
                <div class="labelform">Justificación de Rechazo</div>
                <div class="widgetform">{{ entity.justificacionRechazo }}</div>
            </div>
            {% endif %}
            <div class="contenedorform">
                <div class="labelform">Estatus</div>
                <div class="widgetform">
                    {% if entity.estatus=="N" %} Nueva {% endif %}
                    {% if entity.estatus=="A" %} Asignada {% endif %}
                    {% if entity.estatus=="AP" %} Aprobada {% endif %}
                    {% if entity.estatus=="C" %} Culminada {% endif %}
                    {% if entity.estatus=="R" %} Rechazada {% endif %}
                </div>
            </div>
        </tbody>
    </table>

    <ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('solicitudes') }}">IR AL LISTADO</a> | 
        <a href="{{ path('solicitudes_edit', {'id': entity.id }) }}">
            <button class="btn btn-primary" type="button">EDITAR</button> 
        </a>
    </li>
    {#
    <li>
        <form action="{{ path('solicitudes_delete', { 'id': entity.id }) }}" metdod="post">
            <input type="hidden" name="_metdod" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    #}
    </ul>
{% endblock %}
