{% extends '::transporte.html.twig' %}
 
{% block title %}Detalle de Solicitud{% endblock %}

{% block titulo %}
    DETALLE DE SOLICITUD
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("solicitudes") }}">LISTADO DE MIS SOLICITUDES</a></li>
  <li class="active">DETALLE DE SOLICITUD</li>
</ol>
{% endblock %}


{% block body -%}
    {{ parent() }}
    <div class="formShow"> 
        <div class="contenedorform">
            <div class="labelform">Asistentes</div>
            <div class="widgetform">
                {% for asistente in campo %}
                    {{ asistente }},
                {% endfor %}
            </div>          
        </div>
        <div class="contenedorform">
            <div class="labelform">Fecha de Solicitud</div>
            <div class="widgetform">{{ entity.fechaSolicitud|date('d-m-Y') }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Fecha de Salida</div>
            <div class="widgetform">{{ entity.fechaSalida|date('d-m-Y') }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Hora de Salida</div>
            <div class="widgetform">{{ entity.horaSalida|date('G:i:s') }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Direccion Desde</div>
            <div class="widgetform">{{ entity.direccionDesde }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Direccion Hasta</div>
            <div class="widgetform">{{ entity.direccionHasta }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Equipos/Implementos</div>
            <div class="widgetform">{{ entity.descripcionEquipos }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Motivo de la Solicitud</div>
            <div class="widgetform">{{ entity.datosInteresRazon }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Estatus Actual</div>
            <div class="widgetform">
                {% if entity.estatus=="N" %}
                    <td><a class="label label-info" href="#">Nueva</a></td>
                {% elseif entity.estatus=="AP" %}
                    <td><a class="label label-success" href="#">Aprobada</a></td>
                {% elseif entity.estatus=="R" %}
                    <td><a class="label label-danger" href="#">Rechazada</a></td>
                {% endif %}
            </div>
        </div>
        {% if  entity.justificacion %}
            <div class="contenedorform">
                <div class="labelform">Justificación</div>
                <div class="widgetform">{{ entity.justificacion }}</div>
            </div>
        {% endif %}        
        {% if entity.estatus=="N" %}
            <form action="{{ path('solicitudes_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}<br>
                <div class="contenedorform">
                    <div class="labelform" style="width:35%;">Administrar:</div>
                    <div class="widgetform">{{ form_widget(form.estatus) }}</div>
                </div>
                <div id="muestra"></div>
            </form>
        {% endif %}
    </div>
    <br>
    <a class="btn btn-default" href="{{ path('solicitudes') }}">IR A LA LISTA</a><br><br>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_estatus').change(function(){
                var dato = $("#form_estatus").val();
                var ruta = "{{ path('ajaxapruebarechaza', {'datos': 'variable'}) }}";
                ruta = ruta.replace("variable", dato);
                $('#muestra').load(ruta);
            });
        });
    </script>
{% endblock %}