{% extends '::distribucion.html.twig' %}

{% block title %}Distribución{% endblock %}

{% block titulobanner %}
    DISTRIBUCIÓN - EDITAR PAQUETE
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="titulo">EDITAR PAQUETE {{ entity.paquete | upper}}</div>

    <form novalidate class="formNewEditOperador" action="{{ path('paquete_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form._token) }}
        <fieldset>
            <legend id="a"><div class="divisor">EDITAR DATOS DE PAQUETE</div></legend>
                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.paquete) }}</div>
                    <div class="labels">Paquete:</div>
                    <div class="widgets">{{ form_widget(edit_form.paquete) }}</div>
                </div>

        </fieldset>
        <br>
        <p>
            <button class="btn" type="submit">Editar</button> |

            <a class="btn" href="{{ path('paquete') }}">
                Ir a lista
            </a>
        </p>
    </form>

    <form action="{{ path('paquete_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar?')">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar</button>
    </form>

{% endblock %}
