{% extends '::distribucion.html.twig' %}

{% block title %}DISTRIBUCIÓN{% endblock %}

{% block titulobanner %}
    PAQUETES - CONSULTA
{% endblock %}

{% block body %}

{{ parent() }}

    <div class="titulo">CONSULTA PAQUETES</div>

    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="form-show">

        <div class="contenedor">
            <div class="labelshow">Id:</div>
            <div class="dato">{{ entity.id }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Paquete:</div>
            <div class="dato">{{ entity.paquete }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">Última Modificación:</div>
                <div class="dato">{{ entity.user.primernombre | title
 }} {{ entity.user.primerapellido | title
 }}</div>
        </div>
    </div>

    <br>

    <a class="btn" href="{{ path('paquete') }}">
        Ir a lista
    </a>
    |
    <a class="btn" href="{{ path('paquete_edit', { 'id': entity.id }) }}">
        Ir a editar
    </a>

    <br><br>

    <form action="{{ path('paquete_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar?')">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>

    <br>
{% endblock %}
