{% extends '::distribucion.html.twig' %}
{% block title %}Distribución{% endblock %}

{% block titulobanner %}
    TIPO DE OPERADOR - LISTA
{% endblock %}

    
{% block body -%}
    {{ parent() }}
    <div class="titulo">LISTA DE TIPOS OPERADOR</div>

    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="Redflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

    {% endif %}

    <table class="records_list" cellpaddin=0 cellspacing=0>
        <thead>
            <tr>
                <th>Id</th>
                <th>Operador</th>
                <th>Codigo</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if loop.index is odd %}style="background-color: #e9f5fe;"{% endif %}>
                <td><a href="{{ path('tipooperador_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.operador }}</td>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.user }}</td>
                <td>
          
                    <a href="{{ path('tipooperador_show', { 'id': entity.id }) }}"><span class="icon-search"></a>
         
                    {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
                    <a href="{{ path('tipooperador_edit', { 'id': entity.id }) }}"><span class="icon-edit"></a>
                    {% endif %}
  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
    <a class="btn" href="{{ path('tipooperador_new') }}">
        Ir a nuevo
    </a>
    <br><br>
    {% endif %}
    

    {% endblock %}
