{% extends '::distribucion.html.twig' %}

{% block title %}DISTRIBUCIÓN{% endblock %}

{% block titulobanner %}
    TIPO DE OPERADOR - CONSULTA
{% endblock %}

{% block body %}

{{ parent() }}

    <div class="titulo">CONSULTA TIPO DE OPERADOR</div>

    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="form-show">

        <div class="contenedor">
            <div class="labelshow">Id:</div>
            <div class="dato">{{ entity.id }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Tipo:</div>
            <div class="dato">{{ entity.operador }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">Código:</div>
                <div class="dato">{{ entity.codigo }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">Última Modificación:</div>
                <div class="dato">{{ entity.user.primernombre | title
 }} {{ entity.user.primerapellido | title
 }}</div>
        </div>

    </div>

    <br>

    <a class="btn" href="{{ path('tipooperador') }}">
        Ir a lista
    </a>
    |
    <a class="btn" href="{{ path('tipooperador_edit', { 'id': entity.id }) }}">
        Ir a editar
    </a>
    <br><br>
    <form action="{{ path('tipooperador_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar?')">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar</button>
    </form>

    <br><br>
{% endblock %}
