{% extends '::sit.html.twig' %}
 
{% block title %}SIT{% endblock %}

{% block titulo %}
    SISTEMA INTEGRAL DE TECNOLOGÍA
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">SIT INICIO</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}
    
<div class="row">
  <div class="col-md-6">
  	<div class="tickettitulo alert alert-info"><h5>SOLICITAR SOPORTE TÉCNICO</h5></div>
  	<div class="ticketsoporte">

    {% if form_errors(form.unidad) or form_errors(form.solicitud) or form_errors(form2.extension) or form_errors(form.file)%}
    <div class="alert alert-danger errores" style="width:90%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.unidad) }}</div>
        <div>{{ form_errors(form.solicitud) }}</div>
        <div>{{ form_errors(form2.extension) }}</div>
        <div>{{ form_errors(form.file) }}</div>
    </div>
    {% endif %}

    <form novalidate action="{{ path('ticket_create') }}" method="post" {{ form_enctype(form) }}>
	        {{ form_widget(form._token) }}
	        {{ form_widget(form2._token) }}

		<div class="formShowSit">
	            <div class="contenedorformSit">
	                <div class="labelformSit">Unidad:</div>
	                <div class="widgetformSit">{{ form_widget(form.unidad,{'attr':{'style':'width:50%'}}) }}</div>
	            </div>
	        	<div class="contenedorformSit">
	                <div class="labelformSit">Solicitud:</div>
	                <div class="widgetformSit">{{ form_widget(form.solicitud,{'attr':{'style':'width:50%'}}) }}</div>
	            </div>
	            <div class="contenedorformSit">
	                <div class="labelformSit">Ext. Solicitante:</div>
	                <div class="widgetformSit">{{ form_widget(form2.extension, { 'attr': {'value': datosusuario.extension,'style':'width:50%'} }) }}</div>
                    </div><br>
	   	        <div class="contenedorformSit">
                    <div style="text-align:center;padding-left: 120px;">
                       	{{ form_widget(form.file) }}
                    </div>
                </div>
		</div>

            <button class="btn btn-large btn-primary" type="submit">SOLICITAR</button>
	    </form>
  	</div>
  </div>
  
  <div class="col-md-6">
  	<div class="tickettitulo alert alert-info"><h5>ESTATUS DE TICKETS</h5></div>
	<div class="ticketespera">
		
		{% set nuevo=0 %} {% set asignado=0 %} {% set culminado=0 %} {% set seguimiento=0 %}
		{% for tu in ticketusuario %}
			{% if tu.estatus==1 %}
				{% set nuevo=nuevo+1 %}
			{% elseif tu.estatus==2 %}
				{% set asignado=asignado+1 %}
			{% elseif tu.estatus==5 %}
				{% set seguimiento=seguimiento+1 %}
			{% elseif tu.estatus==4 or tu.estatus==6 %}
				{% set culminado=culminado+1 %}
			{% endif %}
		{% endfor %}

		Nuevos: <a style="cursor:pointer;" title="Tickets solicitados que aún no se han atendido"><span class="badge" style="background-color:#b94a48;">{{ nuevo }}</span></a>
		Asignados: <a style="cursor:pointer;" title="Tickets asignados para su resolución"><span class="badge" style="background-color:#468eb2;">{{ asignado }}</span></a>
		Seguimiento: <a style="cursor:pointer;" title="Tickets asignados para su resolución"><span class="badge" style="background-color:orange;">{{ seguimiento }}</span></a>
		Culminados: <a style="cursor:pointer;" title="Tickets resueltos"><span class="badge" style="background-color:#468847;">{{ culminado }}</span></a>

		<div id="muestra">
			<br>
			<div><b>HISTORIAL</b></div>
			<div class="listadoticketsolicitante">
			<table class="ticketsolicitante table table-striped" cellpadding=0 cellspacing=0>
				<tr><th>Solicitud</th><th>Fecha/Hora</th><th>Accion</th></tr>


				{% for tu in ticketusuario  if tu.estatus==5 %}				
					<tr  style="color:orange;">
						<td>{{ tu.solicitud|slice(0,20) }}</td>
						<td>{{ tu.fechasolicitud|date("d-m-Y") }} {{ tu.horasolicitud|date("G:i:s") }}</td>
						<td><a href="{{ path('sit_seguimientoprincipal',{idticket:tu.id })}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
					</tr>
                                        
				{% endfor %}


				{% for tu in ticketusuario  if tu.estatus!=5 %}				
					<tr {% if tu.estatus==1 %}style="color:red;"{% elseif tu.estatus==2%} style="color:steelblue;"{% elseif tu.estatus==4 or tu.estatus==6 %}style="color:green;"{% endif %}>
						<td>{{ tu.solicitud|slice(0,20) }}</td>
						<td>{{ tu.fechasolicitud|date("d-m-Y") }} {{ tu.horasolicitud|date("G:i:s") }}</td>

						{% if tu.estatus==6 %}
							<td><a href="{{ path('sit_seguimientoprincipal',{idticket:tu.id })}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
						{% else %}
							<td><a data-toggle="modal" href="#myModal{{ tu.id }}"><span class="glyphicon glyphicon-search"></span></a></td>
						{% endif %}

						
					</tr>
                                        
                                        <div class="modal fade" id="myModal{{ tu.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">ESTATUS DE TICKET</h4>
                                              </div>
                                              <div class="modal-body">
                                                        <b>Solicitud:</b> {{ tu.solicitud }} <br> <br>

                                                        {% if tu.estatus==1 %}
                                                                <p class="text-error">El ticket aún no se ha asignado a un técnico.</p>
                                                        {% elseif tu.estatus==2%}
                                                                <p class="text-info">El ticket fue asignado a un técnico de la unidad de {{ tu.unidad.descripcion }}.</p>
                                                        {% elseif tu.estatus==3 %}
                                                                <p class="text-error">Haz envíado el ticket a la unidad equivocada por lo que fue reasignado a la unidad de {{ tu.unidad.descripcion }}.</p>
                                                        {% elseif tu.estatus==4 or tu.estatus==6 %}
                                                                <p class="text-success">Tu ticket fue cerrado el {{ tu.fechasolucion|date('d-m-Y') }} a las {{ tu.horasolucion|date('G:i:s') }} y la solucion fue la siguiente: "<b>{{ tu.solucion }}</b>".</p>
                                                        {% endif %}
                                              </div>
                                              <div class="modal-footer">
                                                  <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
				{% endfor %}
			</table>
			</div>
		</div>

	</div>
  </div>
</div>
<br>
{% endblock %}
