{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}

{% block titulobanner %}
    SISTEMA INTEGRAL DE TECNOLOGÍA
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">SISTEMA INTEGRAL DE TECNOLOGÍA</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}


<div class="row-fluid">
  <div class="span6">
  	<div class="tickettitulo alert alert-info"><h5>SOLICITAR SOPORTE TÉCNICO</h5></div>
  	<div class="ticketsoporte">

	    {% if form_errors(form.unidad) or form_errors(form.solicitud) or form_errors(form.file) or form_errors(form2.extension) %}
	    <div class="text-error siterror">
	        <ul>
	            <li>{{ form_errors(form.unidad) }}</li>
	            <li>{{ form_errors(form.solicitud) }}</li>
	            <li>{{ form_errors(form2.extension) }}</li>
	            <li>{{ form_errors(form.file) }}</li>
	        </ul>
	    </div>
	    {% endif %}

	    <form novalidate action="{{ path('ticket_create') }}" method="post" {{ form_enctype(form) }}>
	        {{ form_widget(form._token) }}
	        {{ form_widget(form2._token) }}

			<div class="formShowSit">
	            <div class="contenedorformSit">
	                <div class="labelformSit">Unidad:</div>
	                <div class="widgetformSit">{{ form_widget(form.unidad) }}</div>
	            </div>
	        	<div class="contenedorformSit">
	                <div class="labelformSit">Solicitud:</div>
	                <div class="widgetformSit">{{ form_widget(form.solicitud) }}</div>
	            </div>
	            <div class="contenedorformSit">
	                <div class="labelformSit">Ext. Solicitante:</div>
	                <div class="widgetformSit">{{ form_widget(form2.extension) }}</div>
	            </div>
	   	        <div class="contenedorformSit">
	                <div class="labelformSit">Archivo:</div>
	                <div class="widgetformSit">{{ form_widget(form.file) }}</div>
	            </div>
			</div>

            <button class="btn btn-large btn-primary" type="submit">Solicitar</button>
	    </form>
  	</div>
  </div>
  
  <div class="span6">
  	<div class="tickettitulo alert alert-info"><h5>ESTADÍSTICAS DE USUARIO</h5></div>
	<div class="ticketespera">
		
		{% set nuevo=0 %} {% set asignado=0 %} {% set culminado=0 %}
		{% for tu in ticketusuario %}
			{% if tu.estatus==1 %}
				{% set nuevo=nuevo+1 %}
			{% elseif tu.estatus==2 %}
				{% set asignado=asignado+1 %}
			{% elseif tu.estatus==4 %}
				{% set culminado=culminado+1 %}
			{% endif %}
		{% endfor %}

		Nuevos: <a style="cursor:pointer;" title="Tickets solicitados que aún no se han atendido"><span class="badge badge-important">{{ nuevo }}</span></a>
		Asignados: <a style="cursor:pointer;" title="Tickets asignados para su resolución"><span class="badge badge-warning">{{ asignado }}</span></a>
		Culminados: <a style="cursor:pointer;" title="Tickets resueltos"><span class="badge badge-success">{{ culminado }}</span></a>

		<div id="muestra">
			<br>
			<div><b>HISTORIAL</b></div>
			<div class="listadoticketsolicitante">
			<table class="ticketsolicitante table table-striped" cellpadding=0 cellspacing=0>
				<tr><th>Solicitud</th><th>Fecha/Hora</th><th>Accion</th></tr>
				{% for tu in ticketusuario %}
				
					<tr {% if tu.estatus==1 %}style="color:red;"{% elseif tu.estatus==2 %}style="color:darkorange;"style="color:red;"{% elseif tu.estatus==4 %}style="color:green;"{% endif %}>

						<td>{{ tu.solicitud|slice(0,20) }}</td>
						<td>{{ tu.fechasolicitud|date("d-m-Y") }} {{ tu.horasolicitud|date("G:i:s") }}</td>
						<td><span class="icon-search"></span></td>

					</tr>
					
				{% endfor %}
			</table>
			</div>
		</div>

	</div>
  </div>
</div>


{% endblock %}
