{% extends '::constancia.html.twig' %}
 
{% block title %}Constancia{% endblock %}


{% block titulobanner %}
    CONSTANCIA DE TRABAJO
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">LISTADO DE CONSTANCIAS</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}


    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th>Fecha solicitud</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Tipo</th>
                <th>Dirigida</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.fechasolicitud|date("d-m-Y") }}</td>
                <td>{{ entity.user.primernombre|title }}</td>
                <td>{{ entity.user.primerapellido|title }}</td>
                <td>{{ entity.user.cedula|title }}</td>

                <td>
                    {% if entity.tipo=='sb' %}SUELDO BÁSICO{% elseif entity.tipo=='sn' %}SUELDO NORMAL{% elseif entity.tipo=='si' %}SUELDO INTEGRAL{% elseif entity.tipo=='sba' %}SUELDO BÁSICO ANUAL{% elseif entity.tipo=='sna' %}SUELDO NORMAL ANUAL{% elseif entity.tipo=='sia' %}SUELDO INTEGRAL ANUAL{% endif %}
                </td>
                <td>{{ entity.dirigida }}</td>
                <td align="center">{% if entity.culminada==false %}<span style="display:none;">1-</span><span class="label label-important">Nuevo</span>{% else %}<span style="display:none;">2-</span><span class="label label-success">Cerrado</span>{% endif %}</td>
                <td>

                        <a href="{{ path('constancia_show', { 'id': entity.id }) }}"><span class="icon-search"></span></a>
      
                        <a href="{{ path('constancia_edit', { 'id': entity.id }) }}"><span class="icon-edit"></span></a>

                        <a href="{{ path('constancia_pdf', { 'id': entity.id }) }}"><img width="18px" src="{{ asset('images/pdf.gif')}}"></a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    <div><span class="label label-important">Nuevo</span> | <span class="label label-success">Cerrado</span></div>
    {% endblock %}
