{% extends '::transporte.html.twig' %}
 
{% block title %}Transporte{% endblock %}

{% block titulobanner %}
    TRANSPORTE
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">TRANSPORTE</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table align=center width="100%"> 
        <tr>
            <th>
                Solicitar<br>
                <a href=""><img src="{{asset('images/transporte/transporte.jpg')}}" width=100px></a>
            </th>
            <th>
                Correspondencia<br>
                <a href=""><img src="{{asset('images/transporte/correspondencia.jpeg')}}" width=100px></a>
            </th>
        </tr>
        <tr>
            <th colspan=2>
                Ver Solicitudes<br>
                <a href=""><img src="{{asset('images/transporte/lupa.png')}}" width=100px></a> 
            </th>    
        </tr>
    </table>
    
    
    

{% endblock %}