{% extends '::transporte.html.twig' %}
 
{% block title %}Transporte Inicio{% endblock %}

{% block titulo %}
    TRANSPORTE INICIO
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">TRANSPORTE INICIO</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}
    <table align=center width="30%"> 
        <tr>
            <th>
                Nueva Solicitud<br>
                <a href="{{ path('solicitudes_new') }}"><img src="{{asset('images/transporte/transporte.jpg')}}" width=100px></a>
            </th>
            <th>
                Mis Solicitudes<br>
                <a href="{{ path('missolicitudes') }}"><img src="{{asset('images/transporte/lupa.png')}}" width=80px></a> 
            </th>
        </tr>      
    </table>
{% endblock %}