<div id='cssmenu'>
<ul>

   <li class='active'><a href="{{ path('mercal_homepagenum',{'idjornada':3})}}"><span>INICIO</span></a></li>

   {% if is_granted('ROLE_JORNADA') %}
   <li class='has-sub'><a href='{{ path('jornada') }}'><span>JORNADAS</span></a></li>
   {% endif %}

   {% if is_granted('ROLE_JORNADA_ASIGNUM') %}
   <li class='has-sub'><a href='{{ path('mercal_seleccionajornada') }}'><span>ASIGNAR NÚMERO</span></a></li>
   {% endif %}

   {% if is_granted('ROLE_JORNADA_NUM') %}
   <li class='has-sub'><a href='{{ path('mercal_jornadanumeracion') }}'><span>NUMERACIÓN</span></a></li>
   {% endif %}

   <li class='has-sub'><a href='{{ path('usuario_homepage') }}'><span>APLICACIONES</span></a></li>
   <li><a href='{{ path('usuario_logout') }}'><span>SALIR</span></a></li>
</ul>
</div>

