{% extends '::contenidos.html.twig' %}

{% block body -%}
    <h1>Tipoproveedor creation</h1>

    <form action="{{ path('tipoproveedor_create') }}" method="post" {{ form_enctype(form) }}>
       
        <div id="descripcion" class="form-show_edit">
            <div class="contenedor">
                <br>
                {{ form_errors(form.nombre) }}
                <div class="labels">Nombre del Tipo de Proveedor:</div>
                <div class="widgets">{{ form_widget(form.nombre) }}</div>
            </div>  
            <br>     
            <button class="btn" type="submit">Crear</button>
            <br><br>
        </div>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipoproveedor') }}">
            <img width="85px" src="{{ asset('images/listado.jpg')}}">
        </a>
    </li>
</ul>
{% endblock %}
