{% extends '::contenidos.html.twig' %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">NUEVO PRESUPUESTO</div>

    <form action="{{ path('disponibilidad_show') }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}
        <fieldset>       
            <legend id="c"><div class="divisor">DATOS (PPRESUPUESTO - PROVEEDOR)</div> </legend>
            <div id="aprobacion" class="form-show_edit">
                <br>
                <div class="form-contenedor">
                    {{ form_errors(form.nombre) }}
                    <div class="labels">Proveedor:</div>
                    <div class="widgets">{{ form_widget(form.nombre) }}</div>
                </div>
                <div id="presupuesto"></div>
            </div>
        </fieldset>
        <br>
        
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_nombre').change(function(){
                var dato = $("#form_nombre").val();
                var ruta = "{{ path('ajax_disponibilidad', {'datos': 'variable', 'mostrar': 'presupuesto'}) }}";
                ruta = ruta.replace("variable", dato);
                $('#presupuesto').load(ruta);
            });
        });
    </script>
{% endblock %}