{% extends '::contenidos.html.twig' %}
{% block title %}Contenidos-Proveedor- Editar{% endblock %}

{% block titulobanner %}
   PRESUPUESTO - EDITAR
{% endblock %}
    
{% block body -%}
    {{ parent() }}

     <div class="titulo">EDITAR DATOS DEL PRESUPUESTO</div>

     {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <form novalidate="novalidate" action="{{ path('presupuesto_update', { 'id': entity.id, 'id_proveedor': id_proveedor}) }}" method="post" {{ form_enctype(edit_form) }}>{{ form_widget(edit_form._token) }}
        <input type="hidden" name="_method" value="PUT" />

        <fieldset> 
            <div id="descripcion" class="form-show_edit">      
                <legend id="a"><div class="divisor">DATOS DEL PRESUPUESTO</div> </legend>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.descripcion) }}
                    <div class="labels">Descripcion:</div>
                    <div class="widgets">{{ form_widget(edit_form.descripcion) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.fechaInicio) }}
                    <div class="labels">Fecha de Inicio:</div>
                    <div class="widgets">{{ form_widget(edit_form.fechaInicio, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.fechaFin) }}
                    <div class="labels">Fecha de Fin:</div>
                    <div class="widgets">{{ form_widget(edit_form.fechaFin, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>
                {% if tipomoneda == 1 %}
                    <div class="form-contenedor" style="display:none">
                        {{ form_errors(edit_form.montoDolares) }}
                        <div class="labels">Monto en Dolares:</div>
                        <div class="widgets">{{ form_widget(edit_form.montoDolares) }}</div>
                    </div>
                {% elseif tipomoneda == 2 %}
                    <div class="form-contenedor" style="display:none">
                        {{ form_errors(edit_form.montoEuros) }}
                        <div class="labels">Monto en Euros:</div>
                        <div class="widgets">{{ form_widget(edit_form.montoEuros) }}</div>
                    </div>
                {% endif %}
                    <div class="form-contenedor" style="display:none">
                        {{ form_errors(edit_form.montoBs) }}
                        <div class="labels">Monto en Bolivares:</div>
                        <div class="widgets">{{ form_widget(edit_form.montoBs) }}</div>
                    </div>
                     <button type="submit" class="btn">Editar</button><br><br>
                </div>
            </fieldset>
        <br>       
        <a href="{{ path('presupuesto' , { 'id_proveedor': id_proveedor } ) }}"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    </form>

    <script type="text/javascript">
        $(function () {
            $(".fecha").datepicker();
        });
    </script>

{% endblock %}
