{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
   PRESUPUESTO - PRINCIPAL
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">PRESUPUESTOS ASOCIADOS AL PROVEEDOR</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th width="20%">Descripcion</th>
                <th width="17%">Fecha de Inicio</th>
                <th width="17%">Fecha de Fin</th>
                <th width="15%">Monto en Bs</th>
                <th width="15%">Monto en $/€</th>
                <th width="16%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr align="center">
                
                <td><a href="{{ path('presupuesto_show', { 'id': entity.id, 'id_proveedor':id_proveedor }) }}">{{ entity.descripcion }}</a></td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.montoBs }}</td>
                {% if entity.montoDolares != NULL and entity.montoEuros == NULL %}
                    <td>{{ entity.montoDolares }} $</td>
                {% elseif entity.montoEuros != NULL and  entity.montoDolares == NULL %}
                     <td>{{ entity.montoEuros }} €</td>
                {% elseif entity.montoEuros == NULL and  entity.montoDolares == NULL %}
                    <td>NO APLICA</td>
                {% endif %}

                <td>
                   

                    <a href="{{ path('presupuesto_edit', { 'id': entity.id, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="editar presupuesto"><img width="20px" src="{{ asset('images/edit.png')}}"></a>

                    <a onclick="return confirm('¿Desea eliminar?')" href="{{ path('presupuesto_delete', { 'id': entity.id, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="eliminar el presupuesto"><img width="16px" src="{{ asset('images/mal.jpeg')}}"></a>

                    <a href="{{ path('presupuesto_extensionindex', { 'id_proveedor': id_proveedor, 'id_presupuesto':entity.id }) }}" data-toggle="tooltip" data-placement="top" title="extensión de presupuesto"><img width="30px" src="{{ asset('images/calcu.jpg')}}"></a>

                    <a href="{{ path('contratacion', { 'id_presupuesto': entity.id, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="contrataciones"><img width="20px" src="{{ asset('images/contratacion.jpg')}}"></a>
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
       <a class="btn btn-primary dropdown-toggle" href="{{ path( 'presupuesto_new',{ 'id_proveedor': id_proveedor } ) }}">Nuevo Presupuesto </a>
       <a href="{{ path('datosproveedor', { 'id': id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="Volver al listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
        
    <br><br>

    {% endblock %}
