{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Presupuesto list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Montodolares</th>
                <th>Montoeuros</th>
                <th>Montobs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('presupuesto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.montoDolares }}</td>
                <td>{{ entity.montoEuros }}</td>
                <td>{{ entity.montoBs }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('presupuesto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('presupuesto_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
