{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
   EXT. PRESUPUESTO - NUEVO REGISTRO
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">NUEVA EXTENSION DE PRESUPUESTO</div>

{% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <form novalidate="novalidate" action="{{ path('presupuesto_extensioncreate', { 'id_proveedor': id_proveedor, 'id_presupuesto': id_presupuesto }) }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}
        <fieldset>
            
            <div id="descripcion" class="form-show_edit">
                <div class="divisor">DATOS DE LA EXTENSION DE PRESUPUESTO</div>
                <br>
                <div class="form-contenedor">
                    {{ form_errors(form.descripcion) }}
                    <div class="labels">Descripcion:</div>
                    <div class="widgets">{{ form_widget(form.descripcion) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaInicio) }}
                    <div class="labels">Fecha de Inicio:</div>
                    <div class="widgets">{{ form_widget(form.fechaInicio, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaFin) }}
                    <div class="labels">Fecha de Fin:</div>
                    <div class="widgets">{{ form_widget(form.fechaFin, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>
                {% if dolares != NULL or dolares != 0 %}
                    <div class="form-contenedor">
                        {{ form_errors(form.montoDolares) }}
                        <div class="labels">Monto en Dolares:</div>
                        <div class="widgets">{{ form_widget(form.montoDolares) }}</div>
                    </div>
                {% endif %}
                {% if euros != NULL or euros != 0 %}
                    <div class="form-contenedor">
                        {{ form_errors(form.montoEuros) }}
                        <div class="labels">Monto en Euros:</div>
                        <div class="widgets">{{ form_widget(form.montoEuros) }}</div>
                    </div>
                {% endif %}
                <div class="form-contenedor">
                    {{ form_errors(form.montoBs) }}
                    <div class="labels">Monto en Bs:</div>
                    <div class="widgets">{{ form_widget(form.montoBs) }}</div>
                </div>
                <button type="submit" class="btn">CREAR</button>
                <br><br>
            </div>
        </fieldset>         
    </form>

    <a href="{{ path('presupuesto_extensionindex' , { 'id_proveedor': id_proveedor, 'id_presupuesto': id_presupuesto } ) }}"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    <script type="text/javascript">
        $(function () {
            $(".fecha").datepicker(
            {
                firstDay: 1,
                showButtonPanel: true,
                changeYear: true,
            }
            );
        });
    </script>
{% endblock %}