{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
    PAGOS
{% endblock %}


{% block body -%}
{{ parent() }}
    <div class="titulo">DETALLES PRESUPUESTO</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <div class="form-show_edit">
        <fieldset>
            <legend id="a"><div class="divisor">DATOS DEL PRESUPUESTO</div> </legend>
            <div class="contenedor">
                    <div class="labels">Descripci&oacute;n:</div>
                    <div class="dato">{{ entity.descripcion }}</div>
                </div>
            <div class="contenedor">
                <div class="labels">Fecha de Inicio:</div>
                <div class="dato">{{ entity.fechaInicio|date('Y-m-d') }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Fecha de Fin:</div>
                <div class="dato">{{ entity.fechaFin|date('Y-m-d') }}</div>
            </div>
            <table cellpadding="10" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th></th>
                        <th>BOLIVARES</th>
                        <th>DOLARES</th>
                        <th>EUROS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
                        <td>Base</td> 
                        <td> {{ entity.montoBs }} </td>
                        {% if entity.montoDolares != NULL %}
                            <td>{{ entity.montoDolares }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                        {% if entity.montoEuros != NULL %}
                            <td>{{ entity.montoEuros }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}                            
                    </tr>
                    <tr align="center">
                        <td>Extensiones</td> 
                        <td> {{ subtotal.0 }} </td>
                        {% if subtotal.1 != NULL  %}
                            <td> {{ subtotal.1 }} </td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                        {% if subtotal.2 != NULL %}
                            <td> {{ subtotal.2 }} </td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                    </tr>
                    <tr align="center" bgcolor= "#9cf">
                        <td>TOTAL</td> 
                        <td>{{ total.0 }}</td>
                        {% if total.1 != NULL %}
                            <td>{{ total.1 }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                        {% if total.2 != NULL %}
                            <td>{{ total.2 }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}                                       
                    </tr>

                </tbody>
            </table>
            
            <legend id="a"><div class="divisor">DISPONIBILIDAD</div> </legend>
            <table cellpadding="10" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th>BOLIVARES</th>
                        <th>DOLARES</th>
                        <th>EUROS</th>
                    </tr>
                </thead>
                <tbody>
                    {% if entity.disponibilidad > 0 %}
                        <tr align="center" bgcolor= "#9cf" >
                            <td  >{{ entity.disponibilidad }}</td>
                            {% if tipomoneda == 1 %}
                                <td>{{ entity.disponibilidadDolares }}</td>
                                <td>0</td>
                            {% elseif tipomoneda == 2 %}
                                <td>0</td>
                                <td>{{ entity.disponibilidadEuros }}</td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr align="center" bgcolor= "#c33" >
                            <td  >{{ entity.disponibilidad }}</td>
                            {% if tipomoneda == 1 %}
                                <td>{{ entity.disponibilidadDolares }}</td>
                                <td>0</td>
                            {% elseif tipomoneda == 2 %}
                                <td>0</td>
                                <td>{{ entity.disponibilidadEuros }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    </tr>
                </tbody>
            </table>  
            <br>          
        </fieldset>
    </div>
    <a href="{{ path('presupuesto', { 'id_proveedor': id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="Volver al Listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    {% if is_granted('ROLE_CONTENIDOS_ADMIN') or is_granted('ROLE_CONTENIDOS_COMPRAS') %}
        <a href="{{ path('presupuesto_edit', { 'id': entity.id, 'id_proveedor': id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="Editar Presupuesto"><img width="75px" src="{{ asset('images/edit.png')}}"></a>
    {% endif %}
{% endblock %}
