{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
    PAGOS
{% endblock %}


{% block body -%}
{{ parent() }}
    <div class="titulo">DETALLES PRESUPUESTO</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    {% if entity.tipo == "E" %}
        <div class="activo">EXTENSION DE PRESUPUESTO</div>
    {% endif %}

    <div class="form-show_edit">
        <fieldset>
            <legend id="a"><div class="divisor">DATOS DEL PRESUPUESTO</div> </legend>
            <div class="contenedor">
                <div class="labels">Descripci&oacute;n:</div>
                <div class="dato">{{ entity.descripcion }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Fecha de Inicio:</div>
                <div class="dato">{{ entity.fechaInicio|date('Y-m-d') }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Fecha de Fin:</div>
                <div class="dato">{{ entity.fechaFin|date('Y-m-d') }}</div>
            </div>

            <legend id="a"><div class="divisor">MONTOS</div> </legend>
            <table cellpadding="10" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th>BOLIVARES</th>
                        <th>DOLARES</th>
                        <th>EUROS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center" bgcolor= "#9cf" >
                        <td>{{ entity.montoBs }}</td>
                        {% if dolares != NULL or dolares != 0 %}
                            <td>{{ entity.montoDolares }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                        {% if euros != NULL or euros != 0 %}
                            <td>{{ entity.montoEuros }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <br>
        </fieldset>
    </div>
    <a href="{{ path('presupuesto_extensionindex', { 'id_proveedor': id_proveedor, 'id_presupuesto': id_presupuesto }) }}" data-toggle="tooltip" data-placement="top" title="Volver al Listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    <a href="{{ path('presupuesto_extensionedit', { 'id': entity.id, 'id_proveedor':id_proveedor, 'id_presupuesto': id_presupuesto }) }}" data-toggle="tooltip" data-placement="top" title="Editar Presupuesto"><img width="75px" src="{{ asset('images/edit.png')}}"></a>

{% endblock %}