<div id='cssmenu'>
<ul>
   <li class='active'><a href='{{ path('sit_homepage') }}'><span>INICIO</span></a></li>
   
   {% if is_granted('ROLE_SIT_ADMINISTRADOR')%}
   <li class='has-sub'><a href='#'><span>SIT</span></a>
      <ul>
         <li><a href='{{ path('ticket') }}'><span>GESTIONAR</span></a></li>
         {% if is_granted('ROLE_SIT_SUPERADMINISTRADOR') %}
         <li><a href='{{ path('ticket_listausuariounidad') }}'><span>USUARIO UNIDAD</span></a></li>
         {% endif %}
         <li><a href='{{ path('ticket_asignado') }}'><span>TICKETS ASIGNADOS</span></a></li>
         <li><a href='{{ path('categoria') }}'><span>CATEGORIAS</span></a></li>         

      </ul>
   </li>
   <li class='has-sub'><a href='{{ path('reporte') }}'><span>INFORME</span></a></li>
   {% endif %}

   {% if is_granted('ROLE_SIT_GENERAL') %}
   <li class='has-sub'><a href='{{ path('ticketgeneral') }}'><span>GENERAL</span></a></li>
   {% endif %}
   <li class='has-sub'><a href='{{ path('usuario_homepage') }}'><span>APLICACIONES</span></a></li>
   <li><a href='{{ path('usuario_logout') }}'><span>SALIR</span></a></li>
</ul>
</div>