{% extends '::directorio.html.twig' %}

{% block title %}Editar Personalidad{% endblock %}

{% block titulo %}
    EDITAR PERSONALIDAD
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("directorio_homepage") }}">DIRECTORIO INICIO</a></li>
  <li><a href="{{ path("personalidad") }}">LISTA DE PERSONALIDADES</a></li>
  <li class="active">EDITAR PERSONALIDAD</li>

</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}

    <form action="{{ path('personalidad_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form._token) }}

        <div class="formShow">
              {% if entity.archivo %}
                <div align="center">
                    <img src="{{asset('uploads/directorio/')}}{{entity.archivo}}" width="200px" alt="Imagen {{entity.archivo}}no encontrada" /><br><br>
                </div>
                {% endif %}
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(edit_form.nombre) }}</div>
                    <div class="labelform">Nombre:</div>
                    <div class="widgetform">{{ form_widget(edit_form.nombre) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(edit_form.apellido) }}</div>
                    <div class="labelform">Apellido:</div>
                    <div class="widgetform">{{ form_widget(edit_form.apellido) }}</div>
                </div>
  
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(edit_form.telefono) }}</div>
                    <div class="labelform">Telefono:</div>
                    <div class="widgetform">{{ form_widget(edit_form.telefono) }}</div>
                </div>
                
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(edit_form.email) }}</div>
                    <div class="labelform">Email:</div>
                    <div class="widgetform">{{ form_widget(edit_form.email) }}</div>
                </div>

                <div class="contenedorform" id="especial">
                    <div class="text-error">{{ form_errors(edit_form.especialidad) }}</div>
                    <div class="labelform">Especialidad:</div>
                    <div class="widgetform">{{ form_widget(edit_form.especialidad) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(edit_form.pais) }}</div>
                    <div class="labelform">Pais Nacimiento:</div>
                    <div class="widgetform">{{ form_widget(edit_form.pais) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(edit_form.paisprocedencia) }}</div>
                    <div class="labelform">Pais Residencia:</div>
                    <div class="widgetform">{{ form_widget(edit_form.paisprocedencia) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(edit_form.ciudad) }}</div>
                    <div class="labelform">Ciudad:</div>
                    <div class="widgetform">{{ form_widget(edit_form.ciudad) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(edit_form.file) }}</div>
                    <div class="labelform">Archivo:</div>
                    <div class="widgetform">{{ form_widget(edit_form.file) }}</div>
                </div>

            </div>
        
            <BR><button class="btn btn-primary" type="submit">EDITAR</button> | 
            <a class="btn btn-default" href="{{ path('personalidad') }}">IR A LA LISTA</a> | 
            <a class="btn btn-default" href="{{ path('personalidad_show', { 'id': entity.id }) }}">IR A CONSULTAR</a>
    </form>
        
 <br>

{% endblock %}



 
