{% extends '::directorio.html.twig' %}

{% block body %}
    {{parent()}}
<br>
    <h2>LISTADO DE PERSONALIDADES</h2><br><br>
    
    <table id="tablalista" style="width: 97%;">
        <thead>
            <tr align= "center">
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Especialidad</th>
                <th>Pais</th>
                <th>Procedencia</th>
                {% if is_granted('ROLE_DIRECTORIO_ADMIN') %}
                    <th>Actiones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr align="center">
                <td><a href="{{ path('personalidad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }} {{ entity.apellido }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.especialidad }}</td>
                <td>{{ entity.pais }}</td>
                <td>{{ entity.paisprocedencia }}</td>
                {% if is_granted('ROLE_DIRECTORIO_ADMIN') %}
                    <td>
                        <a href="{{ path('personalidad_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="icon-edit"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br><br>

    <a class="btn btn-primary" href="{{ path('personalidad_new') }}">
        NUEVA PERSONALIDAD
    </a><br><br>

    {% endblock %}
