{% extends '::directorio.html.twig' %}

{% block title %}Lista de Personalidades{% endblock %}

{% block titulo %}
    LISTA DE PERSONALIDADES
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("directorio_homepage") }}"> DIRECTORIO INICIO</a></li>
  <li class="active">LISTA DE PERSONALIDADES</li>
</ol>
{% endblock %}

{% block body %}
    {{parent()}}
    <table id="tabladatatable">
        <thead>
            <tr align= "center">
                <th>Id</th>
                <th>Nombre</th>                     
                <th>Especialidad</th>
                <th>Pais</th>                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr align="center">
                <td><a href="{{ path('personalidad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td align=left>{{ entity.nombre }} {{ entity.apellido }}</td>
                <td>{{ entity.especialidad }}</td>
                <td>{{ entity.pais }}</td>                
                <td>
                    <a href="{{ path('personalidad_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></a>
                    {% if is_granted('ROLE_DIRECTORIO_ADMIN') %}
                        <a href="{{ path('personalidad_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></a>
                    {% endif %}                  
                </td>                 
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_DIRECTORIO_ADMIN') %}<br><br><br>

    <a class="btn btn-default" href="{{ path('personalidad_new') }}">
        NUEVA PERSONALIDAD
    </a>{% endif %}<br><br>


<script type="text/javascript">
        $(document).ready(function(){
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'asc'],[1,'asc']],
            } );
        })
    </script>
    {% endblock %}
