{% extends '::directorio.html.twig' %}

{% block title %}Consultar Personalidad{% endblock %}

{% block titulo %}
    CONSULTAR PERSONALIDAD
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("directorio_homepage") }}">DIRECTORIO INICIO</a></li>
  <li><a href="{{ path("personalidad") }}">LISTA DE PERSONALIDADES</a></li>
  <li class="active">CONSULTAR PERSONALIDAD</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}

        <div class="formShow" style="width:70%;">
        {% if entity.archivo %}
        <div align="center">            
            <img src="{{asset('uploads/directorio/')}}{{entity.archivo}}" width="200px" alt="Imagen {{entity.archivo}}no encontrada" /><br><br>
        </div>
        {% endif %}
        <div class="contenedorform">
            <div class="labelform">Nombre:</div>
            <div class="widgetform">{{ entity.nombre|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Apellido:</div>
            <div class="widgetform">{{ entity.apellido|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Telefono:</div>
            <div class="widgetform">{{ entity.telefono|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Email:</div>
            <div class="widgetform">{{ entity.email|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Especialidad:</div>
            <div class="widgetform">{{ entity.especialidad|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Pais:</div>
            <div class="widgetform">{{ entity.pais|capitalize }}</div>
        </div>

    </div>
        <br><br>
        <a class="btn btn-default" href="{{ path('personalidad') }}">IR A LA LISTA</a>{% if is_granted('ROLE_DIRECTORIO_ADMIN') %} |
        <a class="btn btn-default" href="{{ path('personalidad_edit', { 'id': entity.id }) }}">IR A EDITAR</a><br><br>
        <form action="{{ path('personalidad_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger">ELIMINAR</button><br><br>
        {% else %}
            <br><br>
        {% endif %}

{% endblock %}
