{% extends '::directorio.html.twig' %}

{% block body -%}
    {{ parent() }}
<br>
<h2>CONSULTAR PERSONALIDAD</h2><br>

        <div class="formShow" style="width:70%;">
        {% if entity.archivo %}
        <div align="center">
            <img src="{{asset('uploads/directorio/')}}{{entity.archivo}}" alt="Imagen {{entity.archivo}}no encontrada" />
        </div>
        {% endif %}
        <div class="contenedorform">
            <div class="labelform">Nombre:</div>
            <div class="widgetform">{{ entity.nombre|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Apellido:</div>
            <div class="widgetform">{{ entity.apellido|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Telefono:</div>
            <div class="widgetform">{{ entity.telefono|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Email:</div>
            <div class="widgetform">{{ entity.email|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Especialidad:</div>
            <div class="widgetform">{{ entity.especialidad|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Pais:</div>
            <div class="widgetform">{{ entity.pais|capitalize }}</div>
        </div>

    </div>


        <br><br>
        <a class="btn" href="{{ path('personalidad') }}"> LISTADO </a>{% if is_granted('ROLE_DIRECTORIO_ADMIN') %} | 
        <a class="btn btn-primary" href="{{ path('personalidad_edit', { 'id': entity.id }) }}"> EDITAR </a>
        

        <br><br>

        <form action="{{ path('personalidad_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">ELIMINAR</button>
        </form>
                {% else %}
        <br><br>
        {% endif %}

{% endblock %}
