{% extends '::contratos.html.twig' %}

{% block titulobanner %}
    CONTRATOS - EDITAR
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo"> EDITAR DATOS DEL CONTRATO </div>

    <form novalidate="novalidate" action="{{ path('contratos_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>{{ form_widget(edit_form._token) }}
        <input type="hidden" name="_method" value="PUT" />
        <div id="descripcion" class="form-show_edit">
        <br>
            <fieldset>       
                <div class="form-contenedor">
                    {{ form_errors(edit_form.empresa) }}
                    <div class="labels">Persona Natural o Juridica:</div>
                    <div class="widgets">{{ form_widget(edit_form.empresa) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.obra) }}
                    <div class="labels">Obra:</div>
                    <div class="widgets">{{ form_widget(edit_form.obra) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.fechaInicio) }}
                    <div class="labels">Fecha de Inicio:</div>
                    <div class="widgets">{{ form_widget(edit_form.fechaInicio) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.fechaFin) }}
                    <div class="labels">Fecha de Fin:</div>
                    <div class="widgets">{{ form_widget(edit_form.fechaFin) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.duracion) }}
                    <div class="labels">Duraci&oacute;n:</div>
                    <div class="widgets">{{ form_widget(edit_form.duracion) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.montoBs) }}
                    <div class="labels">Monto en Bs:</div>
                    <div class="widgets">{{ form_widget(edit_form.montoBs) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.montoDolares) }}
                    <div class="labels">Monto en Dolares:</div>
                    <div class="widgets">{{ form_widget(edit_form.montoDolares) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.montoEuros) }}
                    <div class="labels">Monto en Euros:</div>
                    <div class="widgets">{{ form_widget(edit_form.montoEuros) }}</div>
                </div>
                {% if edit_form.archivo == NULL  %}
                    <div class=class="form-contenedor">
                        <div class="labels">Archivo:</div>
                        <div class="dato">{{ form_widget(edit_form.file) }}</div>
                    </div>
                {% else %}
                    <div class=class="form-contenedor">
                        <div class="labels">Reemplazar archivo existente:</div>
                        <div class="dato">{{ form_widget(edit_form.file) }}</div>
                    </div>
                {% endif %}
                <div class="form-contenedor">
                    {{ form_errors(edit_form.idDireccion) }}
                    <div class="labels">Direcci&oacute;n Solicitante:</div>
                    <div class="widgets">{{ form_widget(edit_form.idDireccion) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.idAbogado) }}
                    <div class="labels">Abogado:</div>
                    <div class="widgets">{{ form_widget(edit_form.idAbogado) }}</div>
                </div>
                <button type="submit" class="btn">Editar</button> <br><br>
            </fieldset>
        </div><br>
        <a href="{{ path('contratos') }}" data-toggle="tooltip" data-placement="top" title="Volver al listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    </form>
{% endblock %}