{% extends '::contratos.html.twig' %}

{% block titulobanner %}
    CONTRATOS - NUEVO REGISTRO
{% endblock %}

{% block body -%}
    {{ parent() }}
    <div class="titulo">NUEVO ABOGADO</div>

        
     {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <form novalidate="novalidate" action="{{ path('contratos_create') }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}
        <fieldset>       
            <div id="descripcion" class="form-show_edit">
                <br>
                <div class="form-contenedor">
                    {{ form_errors(form.empresa) }}
                    <div class="labels">Persona Natural o Juridica:</div>
                    <div class="dato">{{ form_widget(form.empresa) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.obra) }}
                    <div class="labels">Obra:</div>
                    <div class="dato">{{ form_widget(form.obra) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaInicio) }}
                    <div class="labels">Fecha de Inicio:</div>
                    <div class="dato">{{ form_widget(form.fechaInicio) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaFin) }}
                    <div class="labels">Fecha de Fin:</div>
                    <div class="dato">{{ form_widget(form.fechaFin) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.duracion) }}
                    <div class="labels">Duraci&oacute;n:</div>
                    <div class="dato">{{ form_widget(form.duracion) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.montoBs) }}
                    <div class="labels">Monto en Bs:</div>
                    <div class="dato">{{ form_widget(form.montoBs) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.montoDolares) }}
                    <div class="labels">Monto en Dolares:</div>
                    <div class="dato">{{ form_widget(form.montoDolares) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.montoEuros) }}
                    <div class="labels">Monto en Euros:</div>
                    <div class="dato">{{ form_widget(form.montoEuros) }}</div>
                </div>
                <div class="form-contenedor">
                    <div class="labels">Archivo:</div>
                    <div class="dato">{{ form_widget(form.file) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.idDireccion) }}
                    <div class="labels">Direccion Solicitante:</div>
                    <div class="dato">{{ form_widget(form.idDireccion) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.idAbogado) }}
                    <div class="labels">Elaborado por:</div>
                    <div class="dato">{{ form_widget(form.idAbogado) }}</div>
                </div>
                <button type="submit" class="btn">Registrar</button><br><br>
            </div>
        </fieldset>
         <br>
       <a href="{{ path( 'contratos') }}"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    </form>
{% endblock %}