{% extends '::administracion.html.twig' %}

{% block title %}Cambio clave{% endblock %}

{% block titulo %}
    CAMBIO DE CLAVE
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
    <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
    <li class="active">CAMBIO CLAVE</li>
</ol>
{% endblock %}


{% block body %}

    {{ parent() }}

    {% if form_errors(form.claveanterior) or form_errors(form.clavenueva) or form_errors(form.claveconfirmacion) %}
        <div class="alert alert-danger errores" style="width:60%;">
            <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
            <div>{{ form_errors(form.claveanterior) }}</div>
            <div>{{ form_errors(form.clavenueva) }}</div>
            <div>{{ form_errors(form.claveconfirmacion) }}</div>
        </div>
    {% endif %}


	<form novalidate action="{{ path('actualizacambioclave') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}
        <br>
        <div class="formShow">
            <div class="contenedorform">
                <div class="labelform">Clave anterior:</div>
                <div class="widgetform">{{ form_widget(form.claveanterior) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Clave nueva:</div>
                <div class="widgetform">{{ form_widget(form.clavenueva) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Clave confirmación:</div>
                <div class="widgetform">{{ form_widget(form.claveconfirmacion) }}</div>
            </div>
        </div>
    
        <button class="btn btn-primary" type="submit">CAMBIAR CLAVE</button> | 
        <a class="btn btn-default" href="{{ path("usuario_homepage") }}">VOLVER</a>
      
    </form>

{% endblock %}