{% extends '::administracion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    ADMINISTRACIÓN DE USUARIOS
{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="titulo">LISTA DE USUARIOS</div>


    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th style="width:100px;">Id</th>
                <th>Username</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Cedula</th>
                <th>Estatus</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.username }}</a></td>
                <td>{{ entity.primernombre }} {{ entity.segundonombre }}</td>
                <td>{{ entity.primerapellido }} {{ entity.segundoapellido }}</td>
                <td>{{ entity.cedula }}</td>
                <td>
                    {% if entity.user.isActive == 1 %}
                        Activo
                    {% elseif entity.user.isActive == null %}
                        Inactivo
                    {% endif %}
                </td>
                <td>
                        <a href="{{ path('user_show', { 'id': entity.user.id }) }}"><span class="icon-search"></a>
                        <a href="{{ path('user_edit', { 'id': entity.user.id }) }}"><span class="icon-edit"></a>
           
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>

    <a class="btn btn-primary" href="{{ path('user_new') }}">Nuevo</a>

    <br><br>

    <script>
    $(document).ready(function(){
       $('#tabla_lista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
            "sPaginationType": "full_numbers" //DAMOS FORMATO A LA PAGINACION(NUMEROS)
        } );
    })
    </script>

{% endblock %}