{% extends '::administracion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    ADMINISTRACIÓN DE USUARIOS
{% endblock %}

{% block body %}

{{ parent() }}

<div class="titulo">DATOS DE USUARIO</div>
    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="Redflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="formShow">
        <div class="contenedorform">
            <div class="labelform">Id:</div>
            <div class="widgetform">{{ entity.user.id }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Username:</div>
            <div class="widgetform">{{ entity.user.username }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Estatus:</div>
            <div class="widgetform">
                {% if entity.user.isActive == 1 %}
                    Activo
                {% elseif entity.user.isActive == null %}
                    Inactivo
                {% endif %}
            </div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Nombres:</div>
            <div class="widgetform">{{ entity.primerNombre  }} {{ entity.segundoNombre  }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Apellidos:</div>
            <div class="widgetform">{{ entity.primerApellido  }} {{ entity.segundoApellido  }}</div>
        </div>

    </div>
<br>

<form action="{{ path('user_delete', { 'id': entity.user.id }) }}" method="post" onsubmit="return confirm('Seguro que desea eliminar')">
    <a class="btn btn-primary" href="{{ path('user') }}">Ir a la lista</a> | 
    <a class="btn btn-primary" href="{{ path('user_edit', { 'id': entity.user.id }) }}">Ir a editar</a> | 
    <button class="btn btn-danger" type="submit">Borrar</button>
    {{ form_widget(delete_form) }}
</form>

<br>

{% endblock %}