{% extends '::administracion.html.twig' %}

{% block title %}Consultar usuario{% endblock %}

{% block titulo %}
    CONSULTAR USUARIO
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
    <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
    <li><a href="{{ path("user") }}">LISTA DE USUARIOS</a></li>
    <li class="active">CONSULTAR USUARIO</li>
</ol>
{% endblock %}

{% block body %}

{{ parent() }}

    <div class="formShow">
        <div class="contenedorform">
            <div class="labelform">Id:</div>
            <div class="widgetform">{{ entity.user.id }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Username:</div>
            <div class="widgetform">{{ entity.user.username }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Estatus:</div>
            <div class="widgetform">
                {% if entity.user.isActive == 1 %}
                    Activo
                {% elseif entity.user.isActive == null %}
                    Inactivo
                {% endif %}
            </div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Nombres:</div>
            <div class="widgetform">{{ entity.primerNombre  }} {{ entity.segundoNombre  }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Apellidos:</div>
            <div class="widgetform">{{ entity.primerApellido  }} {{ entity.segundoApellido  }}</div>
        </div>

    </div>
<br>

<form action="{{ path('user_delete', { 'id': entity.user.id }) }}" method="post" onsubmit="return confirm('Seguro que desea eliminar')">
    <a class="btn btn-default" href="{{ path('user') }}">IR A LA LISTA</a> | 
    <a class="btn btn-default" href="{{ path('user_edit', { 'id': entity.user.id }) }}">IR A EDITAR</a> | 
    <button class="btn btn-danger" type="submit">BORRAR</button>
    {{ form_widget(delete_form) }}
</form>

<br>

{% endblock %}