<div class="menubootstrap">
  <div align="left">
    <nav class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <a class="navbar-brand" href="{{ path('usuario_homepage') }}"><span style="color:white;" class="glyphicon glyphicon-home"></span></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">OPERADORES <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('operador') }}">OPERADORES</a></li>
              <li class="divider"></li>
              <li><a href="{{ path('tipooperador') }}">TIPO DE OPERADOR</a></li>
              <li><a href="{{ path('paquete') }}">PAQUETES</a></li>
              <li><a href="{{ path('representante') }}">REPRESENTANTES</a></li>
              <li><a href="{{ path('objetocomodato') }}">OBJETOS DE COMODATO</a></li>
              <li><a href="{{ path('zona') }}">ZONAS</a></li>
              <li><a href="{{ path('operador_top') }}">TOP OPERADORES</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">REPORTES <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('reporte_informativo') }}">REPORTE INFORMATIVO</a></li>
              <li><a href="{{ path('reporte_grafico') }}">REPORTE GRÁFICO</a></li>
            </ul>
          </li>

         <li><a href="{{ path('infooperadores') }}">RESUMEN</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ path('contacto') }}">CONTACTO</a></li>
          <li><a href="{{ path('usuario_logout') }}">SALIR</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
</div>


  

