{% extends '::transporte.html.twig' %}

{% block title %}Transporte{% endblock %}

{% block titulobanner %}
    TRANSPORTE
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">TRANSPORTE - EDITAR VEHICULOS</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
 <div class="formShow">
    
    <form action="{{ path('transporte_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
      <div class="contenedorform">
            <div class="text-error">{{ form_errors(edit_form.tipo) }}</div>
            <div class="labelform">Tipo:</div>
            <div class="widgetform">{{ form_widget(edit_form.tipo) }}</div>
        </div>
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(edit_form.placa) }}</div>
            <div class="labelform">Placa:</div>
            <div class="widgetform">{{ form_widget(edit_form.placa) }}</div>
        </div>        
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(edit_form.modelo) }}</div>
            <div class="labelform">Modelo:</div>
            <div class="widgetform">{{ form_widget(edit_form.modelo) }}</div>
        </div>        
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(edit_form.ano) }}</div>
            <div class="labelform">Año:</div>
            <div class="widgetform">{{ form_widget(edit_form.ano) }}</div>
        </div>        
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(edit_form.color) }}</div>
            <div class="labelform">Color:</div>
            <div class="widgetform">{{ form_widget(edit_form.color) }}</div>
        </div>        
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(edit_form.estatus) }}</div>
            <div class="labelform">Estatus:</div>
            <div class="widgetform">{{ form_widget(edit_form.estatus) }}</div>
        </div>                
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn btn-primary" type="submit">EDITAR</button> | 
            <a class="btn" href="{{ path('vehiculos_list') }}">IR AL LISTADO</a> 
        </p>
    </form>

    <ul class="record_actions">
            
    <li>
        <form action="{{ path('transporte_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />

            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</div>
{% endblock %}
