 {% extends '::distribucion.html.twig' %}
 
{% block title %}Distribucion - Telesur{% endblock %}

{% block titulobanner %}
    REPORTES
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">INGRESE LOS PARÁMETROS</div>

    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="Redflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}


    <script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },

            title: {
                text: '{{ tituloprincipal|raw }}'
            },
            xAxis: {
                categories: [ {{ x|raw }} ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '{{ titulovertical|raw }}'
                },

                labels: {
                    format: '{value} M'
                }
            },
            legend: {
                enabled: false,

            },
             plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            tooltip: {
                pointFormat: 'Cantidad: <b>{point.y:.1f}</b>',
            },

            series: [{
                name: 'Operadores',
                data: [{{ y }}],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
    

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '{{ tituloprincipal|raw }}'
            },
     
            xAxis: {
                categories: [{{ x|raw }}],
                title: {
                    text: null
                },
                labels: {
                    format: '{value}'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad de Abonados',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify',
                    format: '{value}'
                }
            },
            tooltip: {
                valueSuffix: ' {{unidad}}'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Cantidad',
                data: [{{ y }}]
            }]
        });
    });
    </script>

<script src="{{ asset('libs/highcharts/js/highcharts.js') }}"></script>
<script src="{{ asset('libs/highcharts/js/modules/exporting.js') }}"></script>

<div id="container" style="min-width: 500px; height: 400px; margin: 0 auto"></div>

{% endblock %}