{% extends '::distribucion.html.twig' %}
 
{% block title %}Distribucion - Telesur{% endblock %}

{% block titulobanner %}
    REPORTES
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">INGRESE LOS PARÁMETROS</div>

    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="Redflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    <form novalidate action="{{ path('generar_reporte_grafico') }}" method="post" {{ form_enctype(form) }}>

        <div class="form-contenedor">
            <div class="text-warning">{{ form_errors(form.lapso) }}</div>
            <div class="labels">Lapso:</div>
            <div class="widgets">{{ form_widget(form.lapso) }}</div>
        </div>

        <div id="tipografico"></div>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_lapso').change(function(){
                var dato = $("#form_lapso").val()+'-1-'+$("#form_lapso").val();
                var ruta = "{{ path('ajax_grafico', {'datos': 'variable','mostrar': 'tipografico'}) }}";
                ruta = ruta.replace("variable", dato);
                $('#tipografico').load(ruta);
            });
            

        });
    </script>
 
{% endblock %}