{% extends '::distribucion.html.twig' %}

{% block title %}EDITAR OPERADOR{% endblock %}

{% block titulo %}
    EDITAR OPERADOR {{ entity.nombre | upper}} {% if entity.estatus==1 %}(ACTIVO){% else %}<br><br><div class='Redflash-notice'>INACTIVO</div>{% endif %}
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("distribucion_homepage") }}">DISTRIBUCIÓN INICIO</a></li>
  <li><a href="{{ path("operador") }}">LISTA DE OPERADORES</a></li>
  <li class="active">EDITAR OPERADOR</li>

</ol>
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if verifica!=null %}
        <div class="alert alert-danger">
            {{ verifica }}
        </div>
    {% endif %}

    <form novalidate class="formNewEditOperador" action="{{ path('operador_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form._token) }}


        <div class="alert alert-info">DATOS DE OPERADOR</div>
            <div class="formShow">
                <div class="contenedorform">
                    <div class="text-danger">{{ form_errors(edit_form.nombre) }}</div>
                    <div class="labelform">Operador:</div>
                    <div class="widgetform">{{ form_widget(edit_form.nombre) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.tipooperador) }}</div>
                    <div class="labelform">Tipo operador:</div>
                    <div class="widgetform">{{ form_widget(edit_form.tipooperador) }}</div>
                </div>
  
                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.pais) }}</div>
                    <div class="labelform">Pais:</div>
                    <div class="widgetform">{{ form_widget(edit_form.pais) }}</div>
                </div>
                
                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.estado) }}</div>
                    <div class="labelform">Estado:</div>
                    <div id="estado">
                        <div class="widgetform">{{ form_widget(edit_form.estado) }}</div>
                    </div>
                </div>

                <div class="contenedorform" id="franjatransmision" style="display:none;">
                    <div>{{ form_errors(edit_form.franjatransmision) }}</div>
                    <div class="labelform">Franja transmision:</div>
                    <div class="widgetform">{{ form_widget(edit_form.franjatransmision) }}</div>
                </div>
                 
                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.cobertura) }}</div>
                    <div class="labelform">Cobertura:</div>
                    <div class="widgetform">{{ form_widget(edit_form.cobertura) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.zona) }}</div>
                    <div class="labelform">Zona:</div>
                    <div class="widgetform">{{ form_widget(edit_form.zona) }}</div>
                </div>
                    
                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.numeroabonados) }}</div>
                    <div class="labelform" id="usuario">Nro. Abonados:</div>
                    <div class="widgetform">{{ form_widget(edit_form.numeroabonados) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.dialUrl) }}</div>
                    <div class="labelform" id="ubicacion1">Dial1:</div>
                    <div class="widgetform">{{ form_widget(edit_form.dialUrl) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.dialUrl2) }}</div>
                    <div class="labelform" id="ubicacion2">Dial2:</div>
                    <div class="widgetform">{{ form_widget(edit_form.dialUrl2) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.direccion) }}</div>
                    <div class="labelform">Direccion:</div>
                    <div class="widgetform">{{ form_widget(edit_form.direccion) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.observacion) }}</div>
                    <div class="labelform">Observacion:</div>
                    <div class="widgetform">{{ form_widget(edit_form.observacion) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.estatus) }}</div>
                    <div class="labelform">Activo:</div>
                    <div class="widgetform">{{ form_widget(edit_form.estatus) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.paquete) }}</div>
                    <div class="labelform">Paquete:</div>
                    <div class="widgetform">{{ form_widget(edit_form.paquete) }}</div>
                </div>

                 <div class="contenedorform">
                    <div>{{ form_errors(edit_form.urlweb) }}</div>
                    <div class="labelform">Url Web:</div>
                    <div class="widgetform">{{ form_widget(edit_form.urlweb) }}</div>
                </div>

                 <div class="contenedorform">
                    <div>{{ form_errors(edit_form.urlfacebook) }}</div>
                    <div class="labelform"><img width="25px" src="{{ asset('images/facebook.png') }}"></div>
                    <div class="widgetform">{{ form_widget(edit_form.urlfacebook) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.urltwitter) }}</div>
                    <div class="labelform"><img width="22px" src="{{ asset('images/twitter.png') }}"></div>
                    <div class="widgetform">{{ form_widget(edit_form.urltwitter) }}</div>
                </div>
            </div> 

        <br>
        
            <div class="alert alert-info">DATOS DE COMODATO</div>
            <div class="formShow">
                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.comodato.fechainicioacuerdo) }}</div>
                    <div class="labelform">Fecha Inicio:</div>
                    <div class="widgetform">{{ form_widget(edit_form.comodato.fechainicioacuerdo) }}</div>
                </div>


                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.comodato.fechafinacuerdo) }}</div>
                    <div class="labelform">Fecha Fin:</div>
                    <div class="widgetform">{{ form_widget(edit_form.comodato.fechafinacuerdo) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.comodato.recibereceptor) }}</div>
                    <div class="labelform">Recibe receptor:</div>
                    <div class="widgetform">{{ form_widget(edit_form.comodato.recibereceptor) }}</div>
                </div>
                
                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.comodato.fecharecepcion) }}</div>
                    <div class="labelform">Fecha recepción:</div>
                    <div class="widgetform">{{ form_widget(edit_form.comodato.fecharecepcion) }}</div>
                </div>
                
                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.comodato.observacion) }}</div>
                    <div class="labelform">Observacion:</div>
                    <div class="widgetform">{{ form_widget(edit_form.comodato.observacion) }}</div>
                </div>

                <div class="contenedorform">
                    <div>{{ form_errors(edit_form.comodato.objetocomodato) }}</div>
                    <div class="labelform">Objeto Comodato:</div>
                    <div class="widgetform">{{ form_widget(edit_form.comodato.objetocomodato) }}</div>
                </div>
            </div>
        </fieldset>

        <br>        

        <div class="alert alert-info">DATOS DE REPRESENTANTE</div>
        <div class="formShow">
            <div class="form-show_edit">

                {% set cont = 0 %}
                {% set largo = representante | length %}
                {% for re in representante %}

                    <div class="alert alert-warning"><a onclick="return confirm('No olvide guardar los datos del formulario principal o los datos se perderán, ¿desea continuar?')" href="{{ path('representante_edit', { 'id': re.id }) }}">EDITAR REPRESENTANTE {{ cont+1 }}</a></div>
                    <div class="contenedorform">
                        <div class="labelform">Nombres:</div>
                        <div class="widgetform">{{ re.nombres }}</div>
                    </div>

                    <div class="contenedorform">
                        <div class="labelform">Apellidos:</div>
                        <div class="widgetform">{{ re.apellidos }}</div>
                    </div>

                    <div class="contenedorform">
                        <div class="labelform">Cargo:</div>
                        <div class="widgetform">{{ re.cargo }}</div>
                    </div>

                    <div class="contenedorform">
                        <div class="labelform">correo:</div>
                        <div class="widgetform">{{ re.correo }}</div>
                    </div>

                    <div class="contenedorform">
                        <div class="labelform">Telefono 1:</div>
                        <div class="widgetform">{{ re.telefono1 }}</div>
                    </div>

                    {% if re.telefono2!='' %}
                        <div class="contenedorform">
                            <div class="labelform">Telefono 2:</div>
                            <div class="widgetform">{{ re.telefono2 }}</div>
                        </div>
                    {% endif %}

                    {% if re.fax!='' %}
                        <div class="contenedorform">
                            <div class="labelform">Fax:</div>
                            <div class="widgetform">{{ re.fax }}</div>
                        </div>
                    {% endif %}

                    {% if re.observacion!='' %}
                        <div class="contenedorform">
                            <div class="labelform">Observacion:</div>
                            <div class="widgetform">{{ re.observacion }}</div>
                        </div>
                    {% endif %}

                    {% set cont=cont+1 %}

                   
                {% endfor %}
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">EDITAR</button>

    </form>

    <form action="{{ path('operador_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar el operador y sus representantes?')">
        <input class="btn" type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">DESACTIVAR</button> | 
        <a class="btn btn-default" href="{{ path('operador') }}">LISTA DE OPERADORES</a> | 
        <a class="btn btn-default" href="{{ path('operador_list', { 'idpais': entity.pais.id,'idtipooperador': entity.tipooperador.id }) }}">LISTA DE TIPO OPERADOR POR PAÍS</a> | 
        <a class="btn btn-default" href="{{ path('operador_show', { 'id': entity.id }) }}">IR A CONSULTAR</a>
    </form>

    <br>

    <script type="text/javascript">
        $(document).ready(function () {
            //ajax de pais
            $('#frontend_distribucionbundle_operadortype_pais').change(function(){
                    var dato = $("#frontend_distribucionbundle_operadortype_pais").val();
                    var ruta = "{{ path('pais_estado_ciudad', {'id': 'variable','mostrar': 'estado'}) }}";
                    ruta = ruta.replace("variable", dato);
                    $('#estado').load(ruta);
            });
        });
    </script>
  <script>
      $(function() {
        $( "#frontend_distribucionbundle_operadortype_comodato_fechainicioacuerdo" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "dd-mm-yy",
        });
        $( "#frontend_distribucionbundle_operadortype_comodato_fechafinacuerdo" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "dd-mm-yy",
        });
        $( "#frontend_distribucionbundle_operadortype_comodato_fecharecepcion" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "dd-mm-yy",
        });
      });
  </script>
    <script src="{{ asset('js/distribucion/operador_new.js') }}"></script>

{% endblock %}
