{% extends '::distribucion.html.twig' %}

{% block title %}Distribución{% endblock %}

{% block titulobanner %}
    DISTRIBUCIÓN - EDITAR OPERADOR
{% endblock %}



{% block body %}
    {{ parent() }}

    <div class="titulo">EDITAR OPERADOR {{ entity.nombre | upper}}</div>

    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    <form novalidate class="formNewEditOperador" action="{{ path('operador_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form._token) }}


        <fieldset>
            <legend id="a"><div class="divisor">EDITAR DATOS DE OPERADOR</div></legend>

            <div id="operador">
                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.nombre) }}</div>
                    <div class="labels">Operador:</div>
                    <div class="widgets">{{ form_widget(edit_form.nombre) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.tipooperador) }}</div>
                    <div class="labels">Tipo operador:</div>
                    <div class="widgets">{{ form_widget(edit_form.tipooperador) }}</div>
                </div>
  
                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.pais) }}</div>
                    <div class="labels">Pais:</div>
                    <div class="widgets">{{ form_widget(edit_form.pais) }}</div>
                </div>
                
                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.estado) }}</div>
                    <div class="labels">Estado:</div>
                    <div id="estado">
                        <div class="widgets">{{ form_widget(edit_form.estado) }}</div>
                    </div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.cobertura) }}</div>
                    <div class="labels">Cobertura:</div>
                    <div class="widgets">{{ form_widget(edit_form.cobertura) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.zona) }}</div>
                    <div class="labels">Zona:</div>
                    <div class="widgets">{{ form_widget(edit_form.zona) }}</div>
                </div>
                    
                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.numeroabonados) }}</div>
                    <div class="labels" id="usuario">Nro. Abonados:</div>
                    <div class="widgets">{{ form_widget(edit_form.numeroabonados) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.dialUrl) }}</div>
                    <div class="labels" id="ubicacion1">Dial1:</div>
                    <div class="widgets">{{ form_widget(edit_form.dialUrl) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.dialUrl2) }}</div>
                    <div class="labels" id="ubicacion2">Dial2:</div>
                    <div class="widgets">{{ form_widget(edit_form.dialUrl2) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.direccion) }}</div>
                    <div class="labels">Direccion:</div>
                    <div class="widgets">{{ form_widget(edit_form.direccion) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.observacion) }}</div>
                    <div class="labels">Observacion:</div>
                    <div class="widgets">{{ form_widget(edit_form.observacion) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.estatus) }}</div>
                    <div class="labels">Activo:</div>
                    <div class="widgets">{{ form_widget(edit_form.estatus) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.paquete) }}</div>
                    <div class="labels">Paquete:</div>
                    <div class="widgets">{{ form_widget(edit_form.paquete) }}</div>
                </div>

                 <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.urlweb) }}</div>
                    <div class="labels">Url Web:</div>
                    <div class="widgets">{{ form_widget(edit_form.urlweb) }}</div>
                </div>

                 <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.urlfacebook) }}</div>
                    <div class="labels"><img width="25px" src="{{ asset('images/facebook.png') }}"></div>
                    <div class="widgets">{{ form_widget(edit_form.urlfacebook) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.urltwitter) }}</div>
                    <div class="labels"><img width="22px" src="{{ asset('images/twitter.png') }}"></div>
                    <div class="widgets">{{ form_widget(edit_form.urltwitter) }}</div>
                </div>
            </div> 
        </fieldset>
        
        <br>
        
        <fieldset>
            <legend id="b"><div class="divisor">EDITAR DATOS DE COMODATO</div></legend>
            <div id="comodato">

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.comodato.fechainicioacuerdo) }}</div>
                    <div class="labels">Fecha Inicio:</div>
                    <div class="widgets">{{ form_widget(edit_form.comodato.fechainicioacuerdo) }}</div>
                </div>


                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.comodato.fechafinacuerdo) }}</div>
                    <div class="labels">Fecha Fin:</div>
                    <div class="widgets">{{ form_widget(edit_form.comodato.fechafinacuerdo) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.comodato.observacion) }}</div>
                    <div class="labels">Observacion:</div>
                    <div class="widgets">{{ form_widget(edit_form.comodato.observacion) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.comodato.objetocomodato) }}</div>
                    <div class="labels">Objeto Comodato:</div>
                    <div class="widgets">{{ form_widget(edit_form.comodato.objetocomodato) }}</div>
                </div>
            </div>
        </fieldset>

        <br>        

        <fieldset>
            <legend id="c"><div class="divisor">DATOS DE REPRESENTANTE</div> </legend>
            <div id="representante">

            <div class="form-show_edit">

            {% set cont = 0 %}
            {% set largo = representante | length %}
            {% for re in representante %}

                <div class="divisor_representante"><a onclick="return confirm('No olvide guardar los datos del formulario principal o los datos se perderán, ¿desea continuar?')" href="{{ path('representante_edit', { 'id': re.id }) }}">EDITAR REPRESENTANTE {{ cont+1 }}</a></div>
                <div class="form-contenedor">
                    <div class="labels">Nombres:</div>
                    <div class="widgets">{{ re.nombres }}</div>
                </div>

                <div class="form-contenedor">
                    <div class="labels">Apellidos:</div>
                    <div class="widgets">{{ re.apellidos }}</div>
                </div>

                <div class="form-contenedor">
                    <div class="labels">Cargo:</div>
                    <div class="widgets">{{ re.cargo }}</div>
                </div>

                <div class="form-contenedor">
                    <div class="labels">correo:</div>
                    <div class="widgets">{{ re.correo }}</div>
                </div>

                <div class="form-contenedor">
                    <div class="labels">Telefono 1:</div>
                    <div class="widgets">{{ re.telefono1 }}</div>
                </div>

                {% if re.telefono2!='' %}
                    <div class="form-contenedor">
                        <div class="labels">Telefono 2:</div>
                        <div class="widgets">{{ re.telefono2 }}</div>
                    </div>
                {% endif %}

                {% if re.fax!='' %}
                    <div class="form-contenedor">
                        <div class="labels">Fax:</div>
                        <div class="widgets">{{ re.fax }}</div>
                    </div>
                {% endif %}

                {% if re.observacion!='' %}
                    <div class="form-contenedor">
                        <div class="labels">Observacion:</div>
                        <div class="widgets">{{ re.observacion }}</div>
                    </div>
                {% endif %}

                {% set cont=cont+1 %}

               
            {% endfor %}
            </div>
        </div>
        </fieldset>
        <br>
        <button class="btn" type="submit">Editar</button>

    </form>

    <form action="{{ path('operador_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar el operador y sus representantes?')">
        <input class="btn" type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar</button> | 
        <a class="btn" href="{{ path('operador') }}">Ir a lista</a> | 
        <a class="btn" href="{{ path('operador_show', { 'id': entity.id }) }}">Ir a consultar</a>
    </form>

    <br>

    <script src="{{ asset('js/distribucion/operador_new.js') }}"></script>

{% endblock %}
