{% extends '::distribucion.html.twig' %}
{% block title %}Distribución - Lista{% endblock %}

{% block titulobanner %}
    DISTRIBUCIÓN - LISTA OPERADOR
{% endblock %}

    
{% block body -%}
    {{ parent() }}
    <div class="titulo">LISTA DE OPERADORES</div>

    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}


    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>País</th>
                <th>Tipo operador</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in datos %}
            <tr {% if loop.index is odd %}style="background-color: #e9f5fe;"{% endif %}>
                <td>'{{ entity.id|raw ) }}'</td>
                <td style="width:400px;">{{ entity.nombre }}</td>
                <td>{{ entity.pais.pais }}</td>
                <td>{{ entity.tipooperador.operador }}</td>
                <td align='center'>{% if entity.estatus == 1 %} Activo {% else %} <div style="background-color:yellow;color:red;">Inactivo<div> {% endif %}</td>
                <td>
                        <a href="{{ path('operador_show', { 'id': entity.id }) }}"><img width="15px" src="{{ asset('images/busca.png')}}"></a>
         
                        {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
                        <a href="{{ path('operador_edit', { 'id': entity.id }) }}"><img width="15px" src="{{ asset('images/edit.png')}}"></a>
                        {% endif %}
                </td>
            </tr>


            {% else %}

                <tr><td colspan="6" style="text-align:center">NO EXISTEN DATOS PARA MOSTRAR</td></tr>

        {% endfor %}
        </tbody>
    </table>



    <br><br><br><br>
        {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
        <a class="btn" href="{{ path('operador_new') }}">Ir a nuevo</a>
        <br><br>
        {% endif %}

    {% endblock %}
