{% extends '::distribucion.html.twig' %}

{% block title %}Distribución{% endblock %}

{% block titulo %}
    LISTA DE OPERADORES
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("distribucion_homepage") }}">DISTRIBUCIÓN INICIO</a></li>
  <li class="active">LISTA DE OPERADORES</li>
</ol>
{% endblock %}
    
{% block body -%}
    {{ parent() }}

    <table id="tabladatatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>País</th>
                <th>Tipo operador</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in datos %}
            <tr>
                <td>{{ entity.id|raw }}</td>
                <td style="width:400px;">{{ entity.nombre }}</td>
                <td>{{ entity.pais.pais }}</td>
                <td>{{ entity.tipooperador.operador }}</td>
                <td align='center'>{% if entity.estatus == 1 %} Activo {% else %} <div style="background-color:yellow;color:red;">Inactivo<div> {% endif %}</td>
                <td>
                        <a href="{{ path('operador_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></a>
         
                        {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
                        <a href="{{ path('operador_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></a>
                        {% endif %}
                </td>
            </tr>


            {% else %}

                <tr><td colspan="6" style="text-align:center">NO EXISTEN DATOS PARA MOSTRAR</td></tr>

        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function(){
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'asc'],[1,'asc']],
            } );
        })
    </script>

        <br><br><br><br>
        {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
            <a class="btn btn-default" href="{{ path("operador_new") }}">NUEVO OPERADOR</a>
        <br><br>
        {% endif %}

    {% endblock %}
