{% extends '::distribucion.html.twig' %}

{% block title %}Total{% endblock %}

{% block titulo %}
    TOTALIZACIÓN POR PAÍSES
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("distribucion_homepage") }}">DISTRIBUCIÓN INICIO</a></li>
  <li class="active">TOTALIZACIÓN POR PAÍSES</li>
</ol>
{% endblock %}

{% block body %}
  {{ parent() }}

    <table class="records_list" cellpadding=5px cellspacing=1 class="infooperador">
        <tr>
          <th>País</th>
          {% for top in tipooperador %}
            <th>{{ top.operador|title }}</th>
           {% endfor %}
         </tr>


        {% for key, dato in datos %}
          <tr {% if loop.index is odd %}style="background-color: #e9f5fe;"{% endif %}>
            <td>{{ key }}</td>
            {% for i in range(1, cantidadtipooperador) %}
              <td><a href="{{ path('operador_list',{'idpais': dato[i]['idpais'],'idtipooperador': dato[i]['idtipooperador']}) }}">{{dato[i]['cantidad']}} | {{dato[i]['totalabonados']}}</a></td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
    <br>

  <a class="btn" href="{{ path('operador') }}">Ir a lista de operadores</a>
  <br><br>
{% endblock %}