{% extends '::distribucion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    DISTRIBUCIÓN OPERADORES
{% endblock %}

{% block body %}

{{ parent() }}

<div class="titulo">EL OPERADOR ({{ entity.nombre | upper }}) ESTÁ {% if entity.estatus==1 %}(ACTIVO){% else %}<br><br><div class='Redflash-notice'>INACTIVO</div>{% endif %}</div>


    <div id="a"><div class="divisor">DATOS DE OPERADOR</div></div>
    <div id="operador">
    <div class="form-show">
        <div class="contenedor">
            <div class="labelshow">Nombre:</div>
            <div class="dato">{{ entity.nombre }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">Tipo Operador:</div>
                <div class="dato">{{ entity.tipooperador }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">Pais:</div>
                <div class="dato">{{ entity.pais.pais }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">Estado:</div>
                <div class="dato">
                    {% set cont = 0 %}
                    {% set largo = entity.estado | length %}
                    {% for es in entity.estado %} 
                        {% set cont=cont+1 %}
                        {{ es.estado }}{% if cont == largo-1 %} y{% elseif largo > 1 and cont < largo-1  %},{% else %}.{% endif %}
                    {% endfor %}
                </div>
        </div>

        <div class="contenedor">
                <div class="labelshow">Cobertura:</div>
                <div class="dato">{{ entity.cobertura }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">Zona:</div>
                <div class="dato">{{ entity.zona }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">
                    {% if entity.tipooperador.id == 4 %}
                        Potenciales televidentes:
                    {% elseif entity.tipooperador.id == 5 %}
                        Suscriptores:
                    {% else %}
                        Abonados:
                    {% endif %}
                </div>
                <div class="dato">{{ entity.numeroabonados }}</div>
        </div>

        <div class="contenedor">
                <div class="labelshow">
                    {% if entity.tipooperador.id == 4 %}
                        Canal1:
                    {% else %}
                        Dial1:
                    {% endif %}
                </div>
                <div class="dato">{{ entity.dialurl }}</div>
        </div>

        {% if entity.dialurl2!='' %}
            <div class="contenedor">
                <div class="labelshow">
                    {% if entity.tipooperador.id == 4 %}
                        Canal2:
                    {% else %}
                        Dial2:
                    {% endif %}
                </div>
                    <div class="dato">{{ entity.dialurl2 }}</div>
            </div>
        {% endif %}

        <div class="contenedor">
                <div class="labelshow">Direccion:</div>
                <div class="dato">{{ entity.direccion }}</div>
        </div>

        {% if entity.observacion!='' %}
            <div class="contenedor">
                    <div class="labelshow">Observacion:</div>
                    <div class="dato">{{ entity.observacion }}</div>
            </div>
        {% endif %}

        <div class="contenedor">
                <div class="labelshow">Paquete:</div>
                <div class="dato">{{ entity.paquete.paquete }}</div>
        </div>

        {% if entity.urlweb!='' %}
            <div class="contenedor">
                    <div class="labelshow">Url Web:</div>
                    <div class="dato">{{ entity.urlweb }}</div>
            </div>
        {% endif %}

        {% if entity.urlfacebook!='' %}
            <div class="contenedor">
                    <div class="labelshow">Url Facebook:</div>
                    <div class="dato">{{ entity.urlfacebook }}</div>
            </div>
        {% endif %}

        {% if entity.urltwitter!='' %}
            <div class="contenedor">
                    <div class="labelshow">Url Twitter:</div>
                    <div class="dato">{{ entity.urltwitter }}</div>
            </div>
        {% endif %}

            <div class="contenedor">
                <div class="labelshow">Última Modificación:</div>
                <div class="dato">{{ entity.user.primernombre | title }} {{ entity.user.primerapellido | title }}</div>
            </div>

    </div>
    </div>

    <div id="b"><div class="divisor">DATOS DE COMODATO</div></div>
    <div id="comodato">
    <div class="form-show">
        <div class="contenedor">
            <div class="labelshow">Código:</div>
            <div class="dato">{{ entity.comodato.codigo }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Fecha Inicio:</div>
            <div class="dato">{{ entity.comodato.fechainicioacuerdo|date("m/d/Y") }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Fecha Fin:</div>
            <div class="dato">{{ entity.comodato.fechafinacuerdo|date("m/d/Y") }}</div>
        </div>

        {% if entity.comodato.observacion!='' %}
            <div class="contenedor">
                    <div class="labelshow">Observacion:</div>
                    <div class="dato">{{ entity.comodato.observacion }}</div>
            </div>
        {% endif %}

        <div class="contenedor">
                <div class="labelshow">Recibe receptor:</div>
                <div class="dato">{% if entity.comodato.recibereceptor=="1" %}Sí{% else %}No{% endif %}</div>
        </div>

        {% if entity.comodato.fecharecepcion!='' %}
            <div class="contenedor">
                <div class="labelshow">Fecha recepción:</div>
                <div class="dato">{{ entity.comodato.fecharecepcion|date("m/d/Y") }}</div>
            </div>
        {% endif %}

        <div class="contenedor">
            <div class="labelshow">Objetos de Comodato:</div>
                <div class="dato">

                    {% set cont = 0 %}
                    {% set largo = entity.comodato.objetocomodato | length %}
                    {% if largo==0 %}
                    Ninguno
                    {% else %}
                    {% for co in entity.comodato.objetocomodato %} 
                        {% set cont=cont+1 %}
                        {{ co.objeto }}{% if cont == largo-1 %} y{% elseif largo > 1 and cont < largo-1  %},{% else %}.{% endif %}
                    {% endfor %}
                    {% endif %}
              </div>
        </div>
    </div>
    </div>


    <div id="c"><div class="divisor">DATOS DE REPRESENTANTE</div></div>
    <div><a href="{{ path('representante_new_add', {'id':entity.id}) }}">(Agregar Nuevo Representante)</a></div>
    <br>
    <div id="representante">
    <div class="form-show">

    {% set cont = 0 %}
    {% set largo = representante | length %}
    {% for re in representante %}

        <div style="background-color:
#e9f5fe; padding-bottom:5px;font-weight:bold;">REPRESENTANTE {{ cont+1 }}</div>

        <div class="contenedor">
            <div class="labelshow">Nombres:</div>
            <div class="dato">{{ re.nombres }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Apellidos:</div>
            <div class="dato">{{ re.apellidos }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Cargo:</div>
            <div class="dato">{{ re.cargo }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">correo:</div>
            <div class="dato">{{ re.correo }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Telefono 1:</div>
            <div class="dato">{{ re.telefono1 }}</div>
        </div>

        {% if re.telefono2!='' %}
            <div class="contenedor">
                <div class="labelshow">Telefono 2:</div>
                <div class="dato">{{ re.telefono2 }}</div>
            </div>
        {% endif %}

        {% if re.fax!='' %}
            <div class="contenedor">
                <div class="labelshow">Fax:</div>
                <div class="dato">{{ re.fax }}</div>
            </div>
        {% endif %}

        {% if re.observacion!='' %}
            <div class="contenedor">
                <div class="labelshow">Observacion:</div>
                <div class="dato">{{ re.observacion }}</div>
            </div>
        {% endif %}

        {% set cont=cont+1 %}
      
    {% endfor %}
    </div>
</div>



<br>
<a class="btn" href="{{ path('operador') }}">Ir a lista</a> |
<a class="btn" href="{{ path('operador_edit', { 'id': entity.id }) }}">Ir a editar</a> |
<a class="btn" href="{{ path('operador_new', { 'id': entity.id }) }}">Ir a nuevo</a>
<br><br>
<form action="{{ path('operador_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar el operador y sus representantes?')">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit">Desactivar</button>
</form>

<script>

    jQuery("#a").click(function  (){
            jQuery("#operador").delay(200).slideToggle();
    });

    jQuery("#b").click(function  (){
            jQuery("#comodato").delay(200).slideToggle();
    });

    jQuery("#c").click(function  (){
            jQuery("#representante").delay(200).slideToggle();
    });

</script>
{% endblock %}
