{% extends '::distribucion.html.twig' %}
 
{% block title %}Distribucion - Telesur{% endblock %}


{% block titulobanner %}
    DIATRIBUCIÓN - TOP 5
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">SELECCIONE UN PAÍS</div>

    <form class="formNewEditOperador" novalidate action="{{ path('generar_reporte', { 'tipo': 'informativo','formato': 'xls'}) }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form._token) }}

        <div class="formShow">
            <div class="contenedorform">
                    {{ form_errors(form.pais) }}
                    <div class="labelform">Pais:</div>
                    <div class="widgetform">{{ form_widget(form.pais) }}</div>
                </div>

                <div id="tipooperador"></div>
        </div>
                
    </form>
    <br>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_pais').change(function(){
            var dato = $("#form_pais").val();
            var ruta = "{{ path('ajax_top', {'datos': 'variable','mostrar': 'tipooperador'}) }}";
            ruta = ruta.replace("variable", dato);
            $('#tipooperador').load(ruta);

            });


        });
    </script>

{% endblock %}


    
