{% extends '::visita.html.twig' %}

{% block title %}EDITAR USUARIO{% endblock %}

{% block titulo %}
    EDITAR USUARIO
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("control_visitas_usuario") }}">VISITAS INICIO</a></li>
  <li class="active">EDITAR USUARIO</li>

</ol>
{% endblock %}


{% block body -%}
    {{ parent() }}

    <form action="{{ path('usuario_update_control', { 'id': visita.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
               {{ form_widget(edit_form._token) }}
            <div class="formShow">
                <div class="contenedorform">
                    <div class="labelform">Nombres:</div>
                    <div>{{ form_errors(edit_form.nombres) }}</div>
                    <div class="widgetform">{{ form_widget(edit_form.nombres) }}</div>
                </div>
                <div class="contenedorform">
                    <div class="labelform">Apellidos:</div>
                    <div>{{ form_errors(edit_form.apellidos) }}</div>
                    <div class="widgetform">{{ form_widget(edit_form.apellidos) }}</div>
                </div>
                <div class="contenedorform" style="display: none;">
                    <div class="labelform">Cedula:</div>
                    <div>{{ form_errors(edit_form.cedula) }}</div>
                    <div class="widgetform">{{ form_widget(edit_form.cedula) }}</div>
                </div>
                <div class="contenedorform">
                    <div class="labelform">Telefono:</div>
                    <div>{{ form_errors(edit_form.telefono) }}</div>
                    <div class="widgetform">{{ form_widget(edit_form.telefono) }}</div>
                </div>
                <div class="contenedorform">
                    <div class="labelform">Direccion:</div>
                    <div>{{ form_errors(edit_form.direccion) }}</div>
                    <div class="widgetform">{{ form_widget(edit_form.direccion) }}</div>
                </div>
        </div>
                    <button type="submit" class="btn btn-primary"> EDITAR</button> | 
                            <a class="btn btn-default" href="{{ path('control_visitas_usuario') }}">IR AL LISTADO</a>
    </form>




{% endblock %}





