{% extends '::visita.html.twig' %}

{% block body -%}
    {{ parent() }}

    <div class="titulo">Registrar Usuario</div>


    <form novalidate action="{{ path('registranuevavisita', {'cedula':cedula}) }}" method="post" {{ form_enctype(form) }}>


        {{ form_widget(form._token) }}
        {{ form_widget(form2._token) }}



            <div id="operador">
                <div class="form-contenedor">
                    <div>{{ form_errors(form.cedula) }}</div>
                    <div class="labels"  disabled>Cedula:</div>

                    <div class="widgets" disabled>{{ form_widget(form.cedula) }}</div>

                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form.nombres) }}</div>
                    <div class="labels">Nombres:</div>
                    <div class="widgets">{{ form_widget(form.nombres) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form.apellidos) }}</div>
                    <div class="labels">Apellidos:</div>
                    <div class="widgets">{{ form_widget(form.apellidos) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form.telefono) }}</div>
                    <div class="labels">Telefono:</div>
                    <div class="widgets">{{ form_widget(form.telefono) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form.direccion) }}</div>
                    <div class="labels">Direccion:</div>
                    <div class="widgets">{{ form_widget(form.direccion) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form2.contacto) }}</div>
                    <div class="labels">Contacto:</div>
                    <div class="widgets">{{ form_widget(form2.contacto) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form2.observaciones) }}</div>
                    <div class="labels">Observaciones:</div>
                    <div class="widgets">{{ form_widget(form2.observaciones) }}</div>
                </div>

            </div> 

            <div class="widgets">{{ form_widget(form.nombres) }}</div>
                    <br><br>



        {% block camara %}
        <script> 
        function abrir(url) { 
        open(url,'','top=300,left=300,width=300,height=300') ; 
        } 
        </script> 
          <a id="irafoto" class="btn btn-info" onclick="NewWindow('/sait/web/libs/photobooth/index.php?cedula=', document.getElementById('frontend_visitasbundle_usuariotype_cedula').value,'Ventana','440','570','no');return false;">


          <i class="icon-user icon-camera"></i>FOTO</a><br><br>
        <br>


        {% endblock %}



       <button id="registrar" class="btn btn-primary" type="submit">Registrar Visita</button> 


    </form>


<script language="JavaScript" type="text/JavaScript">
var win = null;
function NewWindow(mypage,cedula, myname,w,h,scroll){
LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
mypage=mypage+cedula;
settings =
'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
win = window.open(mypage,myname,settings)
}
</script>




    <script type="text/javascript">

        $('#registrar').hide();
        $( "#irafoto" ).click(function() {
            $('#registrar').show();
        });
    </script>
    <script src="{{ asset('js/distribucion/operador_new.js') }}"></script>
{% endblock %}


    
