{% extends '::visita.html.twig' %}


{% block title %}Lista{% endblock %}

{% block titulo %}
    LISTA DE VISITANTES
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">VISITAS INICIO</li>

</ol>
{% endblock %}

{% block body -%}
    {{parent()}}

    <table id="tabladatatable">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha Entrada</th>
                <th>Hora Entrada</th>
                <th>Fecha Salida</th>
                <th>Hora Salida</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.usuario.cedula }}</td>
            <!--    <td><a href="{{ path('usuario_show_control', { 'id': entity.id }) }}">{{ entity.usuario.id }}</a></td> -->
                <td>{{ entity.usuario.nombres }}</td>
                <td>{{ entity.usuario.apellidos }}</td>
                <td>{{ entity.fechaentrada | date('Y-m-d') }}</td>
                <td>{{ entity.horaentrada  | date('H:i:s')}}</td>
                {% if entity.fechasalida and entity.horasalida%}
                    <td>{{ entity.fechasalida|date('Y-m-d') }}</td>
                    <td>{{ entity.horasalida|date('H:i:s')}}</td>
                {% else %}
                    <td>{{ entity.fechasalida}}</td>
                    <td>{{ entity.horasalida}}</td>
                {% endif %}
                <td>
                <ul>
                    <li>

                        <a href="{{ path('usuario_show_control', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Consultar"><span class="glyphicon glyphicon-eye-open"></a>
                        
                        {#<a href="{{ path('usu', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Nueva Visita"><i class="icon-edit"></i></a>#}
                        <a href="{{ path('usu', { 'id': entity.usuario.id }) }}" data-toggle="tooltip" data-placement="top" title="Nueva Visita"><span class="glyphicon glyphicon-user"></a>
                        {% if entity.fechasalida=='' %}
                        <a onclick="return confirm('¿Esta seguro que desea procesar la salida?')" href="{{ path('salida', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Salida"><span class="glyphicon glyphicon-eject"></a>
                        {% endif %}

                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>                   
    <br><br><br>
    <!--a href="{{ path('reporteinfo')}}" class="btn btn-info"><i class="icon-user icon-print"></i> Generar Reporte </a-->
<a class="btn btn-primary" href='{{ path('usuario_busqueda_control') }}'><span>REGISTRAR VISITA</span></a>
<br><br>

        <script type="text/javascript">
        $(document).ready(function(){
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[5,'asc'],[3,'desc'],[4,'desc']],
            } );
        })
    </script>


    {% endblock %}





       
