{% extends '::base.html.twig' %}

{% block body -%}

{% block menu %}
{% include 'FrontendVisitasBundle:Default:menu.html.twig' %}
{% endblock %}


<br>
    <h1>Listado de visitantes</h1>

<script type="text/javascript">

$(document).ready( function () {
    $('#id').dataTable();
} );

</script>


    <table class="records_list" id="id">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Cedula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show_control', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.cedula }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show_control', { 'id': entity.id }) }}"><i class="icon-user icon-eye-open"></i></a>

                        <a href="{{ path('usuario_edit_control', { 'id': entity.id }) }}"><i class="icon-user icon-edit"></i></a>
                    </li>
                </ul>
                </td>
                
            </tr>
        {% endfor %}


        </tbody>
    </table>                   
    <br><br>

    {% endblock %}
