{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario list</h1>



<script>

$(document).ready( function () {
    $('#id').dataTable();
} );


</script>



    <table class="records_list" id="id">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Cedula</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.cedula }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}"><i class="icon-user icon-eye-open"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}"><i class="icon-user icon-edit"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_delete', { 'id': entity.id }) }}"><i class="icon-user icon-remove"></i></a>
                    </li>
                </ul>
                </td>










            </tr>
        {% endfor %}
        </tbody>
    </table>                   

        <ul>
       <!-- <li> <a href="{{ path('usuario_new') }}"> Create a new entry </a> </li> -->
    </ul>
    <br><br>

    {% endblock %}
