{% extends '::visita.html.twig' %}

{% block body -%}

    <h1>Datos del Usuario</h1>

    <br><br>




    <table class="record_properties" border="1" cellspacing="9" cellpadding="5">
        <thead >
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr>
                  <td colspan="4">

        <img  src="{{ filename  }}" data-placement="bottom" title="DATOS DE USUARIO" data-trigger="hover">


                  </td>
            </tr>
        </tbody>
    </table>           



<br><br>


        <ul class="record_actions">
    <li><br>
        <a class="btn btn-success"   href="{{ path('usu', { 'id':entity.id }) }}">Nueva Visita</a>
        <br>
        <br>
        <a class="btn" href="{{ path('control_visitas_usuario') }}">Regresar</a>
</ul>
{% endblock %}
