{% extends '::base.html.twig' %}

{% block body -%}

{% block menu %}
{% include 'FrontendVisitasBundle:Default:menu.html.twig' %}
{% endblock %}

    <h1>Datos del Usuario</h1>

    <br><br>




    <table class="record_properties" border="1" cellspacing="9" cellpadding="5">
        <thead >
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr>
                  <td colspan="4">
                    {% if  %}
                <img id="licencias" src="{{ asset("images/licencias/candado.png") }}" data-placement="bottom" title="DATOS DE USUARIO" data-trigger="hover">


                  </td>
            </tr>
        </tbody>
    </table>           



<br><br>

        <ul class="record_actions">
    <li><br>
        <a class="btn" href="{{ path('control_visitas_usuario') }}">Regresar</a>
        <a class="btn" href="{{ path('usuario_edit_control', { 'id': entity.id }) }}">Editar</a>
    </li>
</ul>
{% endblock %}
