{% extends '::visita.html.twig' %}

{% block body -%}

    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}


    <h1>Datos del Usuario</h1>

    <br><br>

    <table class="record_properties" border="1" cellspacing="9" cellpadding="5">
        <thead >
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Telefono</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.usuario.id }}</td>
                <td>{{ entity.usuario.nombres }}</td>
                <td>{{ entity.usuario.apellidos }}</td>
                <td>{{ entity.usuario.cedula }}</td>
                <td>{{ entity.usuario.telefono }}</td>
            </tr>
            <tr>
                  <td colspan="5">
                    <img  src="{{ filename  }}" data-placement="bottom" title="DATOS DE USUARIO" data-trigger="hover">
                  </td>
            </tr>

        </tbody>
    </table>           




        <ul class="record_actions">
    <li>
        {#<a class="btn btn-success"   href="{{ path('usu', { 'id':entity.id }) }}">Nueva Visita</a>#}
        <br>
        <br>
        <a class="btn" href="{{ path('control_visitas_usuario') }}">Regresar</a>
        <a class="btn" href="{{ path('usuario_edit_control', { 'id': entity.id }) }}">Editar</a>
</ul>
{% endblock %}
