{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li><br>
        <a class="btn" href="{{ path('control_visitas_usuario') }}">Regresar</a>
        <a class="btn" href="{{ path('usuario_edit_control', { 'id': entity.id }) }}">Editar</a>
    </li>
</ul>
{% endblock %}
