{% extends '::base.html.twig' %}


{% block body -%}


<br>
    <h2>Listado de visitantes</h2>
ยก

    <table class="records_list" id="id">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha Entrada</th>
                <th>Hora Entrada</th>
                <th>Fecha Salida</th>
                <th>Hora Salida</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.usuario.cedula }}</td>
            <!--    <td><a href="{{ path('usuario_show_control', { 'id': entity.id }) }}">{{ entity.usuario.id }}</a></td> -->
                <td>{{ entity.usuario.nombres }}</td>
                <td>{{ entity.usuario.apellidos }}</td>
                <td>{{ entity.fechaentrada | date('Y-m-d') }}</td>
                <td>{{ entity.horaentrada  | date('H:i:s')}}</td>
                {% if entity.fechasalida and entity.horasalida%}
                    <td>{{ entity.fechasalida|date('Y-m-d') }}</td>
                    <td>{{ entity.horasalida|date('H:i:s')}}</td>
                {% else %}
                    <td>{{ entity.fechasalida}}</td>
                    <td>{{ entity.horasalida}}</td>
                {% endif %}
                <td>{{ entity.usuario.telefono }}</td>
                <td>{{ entity.usuario.direccion }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>                   



    {% endblock %}


