{% extends '::directorio.html.twig' %}

{% block title %}Editar Instituci&oacute;n{% endblock %}

{% block titulo %}
    EDITAR INSTITUCÍ&Oacute;N
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("directorio_homepage") }}">DIRECTORIO INICIO</a></li>
  <li><a href="{{ path("institucion") }}">LISTA DE INSTITUCIONES</a></li>
  <li class="active">EDITAR INSTITUCI&Oacute;N</li>

</ol>
{% endblock %}


{% block body -%}
    {{ parent() }}

    <form action="{{ path('institucion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form._token) }}
        
        <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.institucion) }}</div>
                <div class="labelform">Institucion:</div>
                <div class="widgetform">{{ form_widget(edit_form.institucion) }}</div>
            </div>

            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.director) }}</div>
                <div class="labelform">Director:</div>
                <div class="widgetform">{{ form_widget(edit_form.director) }}</div>
            </div>

            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.areainst) }}</div>
                <div class="labelform">Area:</div>
                <div class="widgetform">{{ form_widget(edit_form.areainst) }}</div>
            </div>

            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.telfinst) }}</div>
                <div class="labelform">Telefono:</div>
                <div class="widgetform">{{ form_widget(edit_form.telfinst) }}</div>
            </div>

            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.emailinst) }}</div>
                <div class="labelform">Email:</div>
                <div class="widgetform">{{ form_widget(edit_form.emailinst) }}</div>
            </div>


            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.direccion) }}</div>
                <div class="labelform">Direccion:</div>
                <div class="widgetform">{{ form_widget(edit_form.direccion) }}</div>
            </div>

            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.pais) }}</div>
                <div class="labelform">Pais:</div>
                <div class="widgetform">{{ form_widget(edit_form.pais) }}</div>
            </div>
        </div>       

            
        <BR><button class="btn btn-primary" type="submit">EDITAR</button> | 
            <a class="btn btn-default" href="{{ path('institucion') }}">IR A LA LISTA</a> | 
        <a class="btn btn-default" href="{{ path('institucion_show', { 'id': entity.id }) }}">IR A CONSULTAR</a>
    </form>
       
        <br>


{% endblock %}
