{% extends '::directorio.html.twig' %}

{% block body -%}
<br>
    <h1>Listado de Instituciones</h1>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th>Id</th>
                <th>Institucion</th>
                <th>Director</th>
                <th>Area</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Direccion</th>
                <th>Pais</th>
                {% if is_granted('ROLE_DIRECTORIO_ADMIN') %}
                    <th>Actiones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('institucion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.institucion }}</td>
                <td>{{ entity.director }}</td>
                <td>{{ entity.areainst }}</td>
                <td>{{ entity.telfinst }}</td>
                <td>{{ entity.emailinst }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.pais }}</td>
                {% if is_granted('ROLE_DIRECTORIO_ADMIN') %}
                    <td>
                        <a href="{{ path('institucion_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="icon-edit"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>



        <br><br>

        <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('institucion_new') }}">
                Nueva Institucion
            </a>
        </li>
    </ul>
    {% endblock %}
