{% extends '::directorio.html.twig' %}

{% block body -%}
    <h1>Listado de Instituciones</h1>

    <table class="records_list" id="tablalistax">
        <thead>
            <tr>
                <th>Institucion</th>
                <th>Director</th>
                <th>Areainst</th>
                <th>Telfinst</th>
                <th>Emailinst</th>
                <th>Direccion</th>
                <th>Pais</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <!--td><a href="{{ path('institucion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td-->
                <td>{{ entity.institucion }}</td>
                <td>{{ entity.director }}</td>
                <td>{{ entity.areainst }}</td>
                <td>{{ entity.telfinst }}</td>
                <td>{{ entity.emailinst }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.pais }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('institucion_show', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Consultar"><i class="icon-search"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('institucion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<script type="text/javascript">
$(document).ready(function(){
   $('#tablalistax').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
        "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
        "aaSorting": [[5,'asc']],
    } );
})
</script>

        <br><br>
        <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('institucion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
