{% extends '::directorio.html.twig' %}

{% block body -%}
    {{parent()}}
<br>
    <h2>LISTADO DE INSTITUCIONES</h2><br><br>

    <table id="tablalista" style="width: 97%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Institucion</th>
                <th>Area</th> 
                <th>Pais</th>
                <th>Actiones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('institucion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.institucion }}</td>
                <td>{{ entity.areainst }}</td>
                 <td>{{ entity.pais }}</td>
                
                    <td>
                        {% if is_granted('ROLE_DIRECTORIO_ADMIN') %}
                        <a href="{{ path('institucion_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="icon-edit"></i></a>
                        {% endif %}
                        <a href="{{ path('institucion_show', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="icon-search"></i></a>
                    </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_DIRECTORIO_ADMIN') %}
    <br><br><br><br>

    <a class="btn btn-primary" href="{{ path('institucion_new') }}">
        NUEVA INSTITUCIÓN
    </a>{% endif %}<br><br>

    {% endblock %}
