{% extends '::directorio.html.twig' %}

{% block body -%}
    {{ parent() }}
    <br><h2>NUEVA INSTITUCIÓN</h2>
    <br><br>

    <form action="{{ path('institucion_create') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form._token) }}
            <div class="formShow" style="width:70%;">
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.institucion) }}</div>
                    <div class="labelform">Institucion:</div>
                    <div class="widgetform">{{ form_widget(form.institucion) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.director) }}</div>
                    <div class="labelform">Director:</div>
                    <div class="widgetform">{{ form_widget(form.director) }}</div>
                </div>
  
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.areainst) }}</div>
                    <div class="labelform">Area:</div>
                    <div class="widgetform">{{ form_widget(form.areainst) }}</div>
                </div>
                
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.telfinst) }}</div>
                    <div class="labelform">Telefono:</div>
                    <div class="widgetform">{{ form_widget(form.telfinst) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.emailinst) }}</div>
                    <div class="labelform">Email:</div>
                    <div class="widgetform">{{ form_widget(form.emailinst) }}</div>
                </div>
                

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.direccion) }}</div>
                    <div class="labelform">Direccion:</div>
                    <div class="widgetform">{{ form_widget(form.direccion) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.pais) }}</div>
                    <div class="labelform">Pais:</div>
                    <div class="widgetform">{{ form_widget(form.pais) }}</div>
                </div>
            </div>
                <br><br>

        <button type="submit" class="btn btn-primary">CREAR</button> | 
        <a class="btn"href="{{ path('institucion') }}">IR AL LISTADO</a>

    </form>

{% endblock %}
