{% extends '::directorio.html.twig' %}

{% block title %}Nueva Instituci&oacute;n{% endblock %}

{% block titulo %}
    NUEVA INSTITUCÍ&Oacute;N
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("directorio_homepage") }}">DIRECTORIO INICIO</a></li>
  <li><a href="{{ path("institucion") }}">LISTA DE INSTITUCIONES</a></li>
  <li class="active">NUEVA INSTITUCÍ&Oacute;N</li>

</ol>
{% endblock %}


{% block body -%}
    {{ parent() }}

    <form action="{{ path('institucion_create') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form._token) }}
            <div class="formShow" style="width:70%;">
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.institucion) }}</div>
                    <div class="labelform">Institucion:</div>
                    <div class="widgetform">{{ form_widget(form.institucion) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.director) }}</div>
                    <div class="labelform">Director:</div>
                    <div class="widgetform">{{ form_widget(form.director) }}</div>
                </div>
  
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.areainst) }}</div>
                    <div class="labelform">Area:</div>
                    <div class="widgetform">{{ form_widget(form.areainst) }}</div>
                </div>
                
                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.telfinst) }}</div>
                    <div class="labelform">Telefono:</div>
                    <div class="widgetform">{{ form_widget(form.telfinst) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.emailinst) }}</div>
                    <div class="labelform">Email:</div>
                    <div class="widgetform">{{ form_widget(form.emailinst) }}</div>
                </div>
                

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.direccion) }}</div>
                    <div class="labelform">Direccion:</div>
                    <div class="widgetform">{{ form_widget(form.direccion) }}</div>
                </div>

                <div class="contenedorform">
                    <div class="text-error">{{ form_errors(form.pais) }}</div>
                    <div class="labelform">Pais:</div>
                    <div class="widgetform">{{ form_widget(form.pais) }}</div>
                </div>
            </div>
                <br><br>

        <button class="btn btn-primary" type="submit">CREAR</button> |
        <a class="btn btn-default" href="{{ path('institucion') }}">VOLVER</a>
    
    </form>

{% endblock %}
