{% if mostrar=='periodo' and datos[0]!='s' and datos[0]!='a' %}
    <div class="contenedorform">
        <div>{{ form_errors(form.periodo) }}</div>
        <div class="labelform">Periodo:</div>
        <div class="widgetform">{{ form_widget(form.periodo) }}</div>
    </div>
    <div id="anio"></div>
{% endif %}

{% if mostrar=='periodo' and datos[0]=='a' %}
    <div class="contenedorform">
        <div>{{ form_errors(form.aniosaguinaldos) }}</div>
        <div class="labelform">Año:</div>
        <div class="widgetform">{{ form_widget(form.aniosaguinaldos) }}</div>
    </div>
    <div id="boton"></div>
{% endif %}

{% if mostrar=='anio' and datos[0]!='s' %}
    <div class="contenedorform">
        <div>{{ form_errors(form.anios) }}</div>
        <div class="labelform">Año:</div>
        <div class="widgetform">{{ form_widget(form.anios) }}</div>
    </div>
    <div id="mes"></div>
{% endif %}

{% if mostrar=='mes' and datos[0]!='s' %}
    <div class="contenedorform">
        <div>{{ form_errors(form.meses) }}</div>
        <div class="labelform">Mes:</div>
        <div class="widgetform">{{ form_widget(form.meses) }}</div>
    </div>
{% endif %}


{% if datos[0]=='s' %}{% endif %}


<script type="text/javascript">
    $(document).ready(function () {
        $('#form_periodo').change(function(){
            $('#botonx').hide();
            var dato = $("#form_periodo").val();
            var ruta = "{{ path('ajax_neto', {'datos': 'variable','mostrar': 'anio'}) }}";
            ruta = ruta.replace("variable", dato);
            $('#anio').load(ruta);
        });

        $('#form_anios').change(function(){
            $('#botonx').hide();
            var dato = $("#form_anios").val();
            var ruta = "{{ path('ajax_neto', {'datos': 'variable','mostrar': 'mes'}) }}";
            ruta = ruta.replace("variable", dato);
            $('#mes').load(ruta);
        });

        $('#form_meses').change(function(){
            $('#botonx').show();
        });

        $('#form_aniosaguinaldos').change(function(){
             $('#botonx').show();
        });
    });
</script>