{% extends '::visita.html.twig' %}
 


{% block body -%}
    {{ parent() }}



    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="Greenflash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    
    <div class="titulo">Nueva Visita</div>



    <form novalidate action="{{ path('visita_update_control', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />

        {{ form_widget(edit_form._token) }}
        {{ form_widget(form._token) }}



            <div id="operador">
                <div class="form-contenedor">
                    <div>{{ form_errors(form.cedula) }}</div>
                    <div class="labels">Cedula:</div>
                    <div class="widgets">{{ form_widget(form.cedula) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form.nombres) }}</div>
                    <div class="labels">Nombres:</div>
                    <div class="widgets">{{ form_widget(form.nombres) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form.apellidos) }}</div>
                    <div class="labels">Apellidos:</div>
                    <div class="widgets">{{ form_widget(form.apellidos) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form.telefono) }}</div>
                    <div class="labels">Telefono:</div>
                    <div class="widgets">{{ form_widget(form.telefono) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(form.direccion) }}</div>
                    <div class="labels">Direccion:</div>
                    <div class="widgets">{{ form_widget(form.direccion) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.fechaentrada)  }}</div>
                    <div class="labels">Fecha entrada:</div>
                    <div class="widgets">{{ form_widget(edit_form.fechaentrada) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.horaentrada) }}</div>
                    <div class="labels">Hora:</div>
                    <div class="widgets">{{ form_widget(edit_form.horaentrada) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.contacto) }}</div>
                    <div class="labels">Contacto:</div>
                    <div class="widgets">{{ form_widget(edit_form.contacto) }}</div>
                </div>

                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.observaciones) }}</div>
                    <div class="labels">Observaciones:</div>
                    <div class="widgets">{{ form_widget(edit_form.observaciones) }}</div>
                </div>


            </div> 

       <button class="btn btn-success" type="submit">Agregar</button> 
    </form>


    <script src="{{ asset('js/distribucion/operador_new.js') }}"></script>
{% endblock %}


    
