{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Visita</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechaentrada</th>
                <td>{{ entity.fechaentrada|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Horaentrada</th>
                <td>{{ entity.horaentrada|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechasalida</th>
                <td>{{ entity.fechasalida|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Horasalida</th>
                <td>{{ entity.horasalida|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Contacto</th>
                <td>{{ entity.contacto }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('visita_control') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('visita_edit_control', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('visita_delete_control', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
