<div id='cssmenu'>
   
   <ul>   
      <li class='active'><a href='{{ path('datosproveedor') }}'><span>INICIO</span></a></li>
      <li class='has-sub'><a href='{{ path('datosinactivos') }}'><span>INACTIVOS</span></a></li>

{# CONTRATACION #}
      {% if is_granted('ROLE_CONTENIDOS_DIRECTORLINEA') or is_granted('ROLE_CONTENIDOS_ADMIN') %}
         <li class='has-sub'><a href= '{{ path('datosinactivos') }}' ><span>CONTRATACIONES</span></a></li>
      {% endif %}

{# PAGOS Y CONTROL DEL PAGO SEGUN ROLES #}
      {% if is_granted('ROLE_CONTENIDOS_DIRECTORLINEA') or is_granted('ROLE_CONTENIDOS_DGE') %}
         <li class='has-sub'><a href= '#' ><span>PAGOS</span></a>
            <ul>
               {% if is_granted('ROLE_CONTENIDOS_DIRECTORLINEA') or is_granted('ROLE_CONTENIDOS_ADMIN') %}
                  <li><a href='{{ path('datosinactivos') }}'><span>DETALLES DEL PAGO</span></a></li>
               {% endif %}
               <li><a href='{{ path('datosinactivos') }}'><span>RUTA DEL PAGO</span></a></li>
            </ul>
         </li>
      {% endif %}

      {% if is_granted('ROLE_CONTENIDOS_RRHH') or is_granted('ROLE_CONTENIDOS_COMPRAS') or is_granted('ROLE_CONTENIDOS_DGE') or is_granted('ROLE_CONTENIDOS_PTTO') or is_granted('ROLE_CONTENIDOS_FINANZAS') or is_granted('ROLE_CONTENIDOS_TESORERIA') or is_granted('ROLE_CONTENIDOS_ADMIN') %}
         <li class='has-sub'><a href= '#' ><span> CONTROL DE PAGOS</span></a>
            <ul>
               {% if is_granted('ROLE_CONTENIDOS_TESORERIA') or is_granted('ROLE_CONTENIDOS_ADMIN') %}
                  <li><a href='{{ path('datosinactivos') }}'><span>AGREGAR DETALLES DEL PAGO</span></a></li>
               {% endif %}
               <li><a href='{{ path('datosinactivos') }}'><span>AÑADIR FECHA DE ENTREGA</span></a></li>
            </ul>
         </li>
      {% endif %}

{# EDITAR DATOS SEGUN ROLES #}
      {% if is_granted('ROLE_CONTENIDOS_ADMIN') or is_granted('ROLE_CONTENIDOS_COMPRAS') %}
         <li class='has-sub'><a href='#'><span>EDITAR DATOS</span></a>
            <ul>
               <li class='has-sub'><a href='#'><span>COMPRAS</span></a>
                  <ul>
                     <li><a href='{{ path('indexanalista') }}'><span>ANALISTAS</span></a></li>
                     <li><a href='{{ path('indexdias') }}'><span>DIAS DE ENTREGA</span></a></li>
                  </ul>
               </li>
               <li class='has-sub'>
                  <a href='{{ path('indexsolicitante') }}'><span>UNIDAD SOLICITANTE</span></a>
               </li>
            </ul>
         </li>
      {% endif %}

      <li class='has-sub'><a href='{{ path('usuario_homepage') }}'><span>APLICACIONES</span></a></li>
      <li><a href='{{ path('usuario_logout') }}'><span>SALIR</span></a></li>
   </ul>
</div>