{% extends '::base.html.twig' %}

{% block titulobanner %}
   CONTROL DE PAGOS - NUEVO REGISTRO
{% endblock %}

{% block body -%}
    <h1>Controlpagounidad creation</h1>

    <form novalidate="novalidate" action="{{ path('controlpagounidad_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}{{ form_widget(form._token) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('controlpagounidad') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
