{% extends '::contenidos.html.twig' %}
{% block title %}Contenidos-Proveedor- Editar{% endblock %}

{% block titulobanner %}
    LICENCIAS CONTENIDOS
{% endblock %}

    
{% block body -%}
    {{ parent() }}

    <div class="titulo">EDITAR PROVEEDOR</div>
    <form novalidate="novalidate" action="{{ path('datosproveedor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>{{ form_widget(edit_form._token) }}
        <input type="hidden" name="_method" value="PUT" />
        <fieldset> 
            <div id="descripcion" class="form-show_edit">      
                <legend id="a"><div class="divisor">DATOS DEL PROVEEDOR</div> </legend>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.estatus) }}
                    <div class="labels">Estatus:</div>
                    <div class="widgets">{{ form_widget(edit_form.estatus) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.nombre) }}
                    <div class="labels">Nombre:</div>
                    <div class="widgets">{{ form_widget(edit_form.nombre) }}</div>
                </div>                
                <div class="form-contenedor">
                    {{ form_errors(edit_form.numIdentificacionfiscal) }}
                    <div class="labels">Identificaci&oacute;n F&iacute;scal:</div>
                    <div class="widgets">{{ form_widget(edit_form.numIdentificacionfiscal) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.pais) }}
                    <div class="labels">Pa&iacute;s:</div>
                    <div class="widgets">{{ form_widget(edit_form.pais) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.direccionEmpresa) }}
                    <div class="labels">Direcci&oacute;n:</div>
                    <div class="widgets">{{ form_widget(edit_form.direccionEmpresa) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.oficina1) }}
                    <div class="labels">Tel&eacute;fono de Oficina 1:</div>
                    <div class="widgets">{{ form_widget(edit_form.oficina1) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.oficina2) }}
                    <div class="labels">Tel&eacute;fono de Oficina 2:</div>
                    <div class="widgets">{{ form_widget(edit_form.oficina2) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.movil) }}
                    <div class="labels">Tel&eacute;fono de Oficina 3:</div>
                    <div class="widgets">{{ form_widget(edit_form.movil) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.correoEmpresa) }}
                    <div class="labels">Direcci&oacute;n de Correo:</div>
                    <div class="widgets">{{ form_widget(edit_form.correoEmpresa) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.skypeEmpresa) }}
                    <div class="labels">Direcci&oacute;n de Skype:</div>
                    <div class="widgets">{{ form_widget(edit_form.skypeEmpresa) }}</div>
                </div>    
            <br>   
            <legend id="b"><div class="divisor">DATOS DEL REPRESENTANTE</div> </legend>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.nombreRepr) }}
                    <div class="labels">Nombre:</div>
                    <div class="widgets">{{ form_widget(edit_form.nombreRepr) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.apellidoRepr) }}
                    <div class="labels">Apellido:</div>
                    <div class="widgets">{{ form_widget(edit_form.apellidoRepr) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.cargo) }}
                    <div class="labels">Cargo:</div>
                    <div class="widgets">{{ form_widget(edit_form.cargo) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.telfhab) }}
                    <div class="labels">Tel&eacute;fono de habitaci&oacute;n:</div>
                    <div class="widgets">{{ form_widget(edit_form.telfhab) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.movil2) }}
                    <div class="labels">Tel&eacute;fono Movil:</div>
                    <div class="widgets">{{ form_widget(edit_form.movil2) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.correoRepr) }}
                    <div class="labels">Direcci&oacute;n de Correo:</div>
                    <div class="widgets">{{ form_widget(edit_form.correoRepr) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.skypeRepr) }}
                    <div class="labels">Direcci&oacute;n de Skype:</div>
                    <div class="widgets">{{ form_widget(edit_form.skypeRepr) }}</div>
                </div>   
                <br>   
            <legend id="c"><div class="divisor">DATOS DEL TIPO DE PROVEEDOR</div> </legend>                
                <div class="form-contenedor">
                    {{ form_errors(edit_form.idTipoprov) }}
                    <div class="labels">Tipo:</div>
                    <div class="widgets">{{ form_widget(edit_form.idTipoprov) }}</div>
                </div>
                <div id="muestra">
                    <div class="form-contenedor">
                        {{ form_errors(edit_form.idUnidad) }}
                        <div class="labels">Unidad Solicitante:</div>
                        <div class="widgets">{{ form_widget(edit_form.idUnidad) }}</div>
                    </div>
                    <div class="form-contenedor campodetalle">
                        {{ form_errors(edit_form.idDetalletipoproveedor) }}
                        <div class="labels">Detalle del Tipo de Proveedor:</div>
                        <div class="widgets">{{ form_widget(edit_form.idDetalletipoproveedor) }}</div>
                    </div>
                    <div class="form-contenedor camposatelite">
                        {{ form_errors(edit_form.tipoSatelite) }}
                        <div class="labels">Tipo de Satelite:</div>
                        <div class="widgets">{{ form_widget(edit_form.tipoSatelite) }}</div>
                    </div>
                </div>
                <button type="submit" class="btn">Editar</button>
                <br><br>
            </div>

        </fieldset>
        <br>        
        <a href="{{ path( 'datosproveedor' ) }}"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_datosproveedor_idTipoprov').change(function(){
                var dato = $("#form_datosproveedor_idTipoprov").val();
                var ruta = "{{ path('ajax_datosproveedor', {'datos': 'variable'}) }}";
                ruta = ruta.replace("variable", dato);
                $('#muestra').load(ruta);
            });

            if($("#form_datosproveedor_idDetalletipoproveedor").val()=='11')
                $("#form_datosproveedor_tipoSatelite").show();
            else
                $(".camposatelite").hide();

            if($("#form_datosproveedor_idTipoprov").val()=='1')
                $(".campodetalle").hide();           
        });
    </script>

{% endblock %}