{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
   PROVEEDOR - PRINCIPAL
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">LISTADO {{ titulo }}</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th width="12%">Identificaci&oacute;n Fiscal</th>
                <th width="25%">Nombre de la Empresa</th>
                <th width="16%">T&eacute;lefono Empresa</th>
                <th width="16%">Representante</th>
                <th width="16%">Proveedor</th>
                <th width="15%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr align="center">
                    {% if is_granted('ROLE_CONTENIDOS_DIRECTORLINEA') %}
                        <td><a href="{{ path('datosproveedor_show', { 'id': entity.id }) }}">{{ entity.numIdentificacionfiscal }}</a></td>
                    {% else %}
                        <td>{{ entity.numIdentificacionfiscal }}</td>
                    {% endif %}
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.oficina1 }}</td>
                    {% if entity.nombreRepr != NULL and entity.apellidoRepr != NULL %}
                        <td>{{ entity.nombreRepr }} {{ entity.apellidoRepr }}</td>
                    {% else %}
                        <td> NO POSEE</td>
                    {% endif %}     
                    <td>{{entity.idTipoprov.nombre }}</td>                
                    <td>
                        {% if is_granted('ROLE_CONTENIDOS_ADMIN') or is_granted('ROLE_CONTENIDOS_COMPRAS') %}
                            <a href="{{ path('datosproveedor_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="editar proveedor"><img width="20px" src="{{ asset('images/edit.png')}}"></a>
                            {% if is_granted('ROLE_CONTENIDOS_ADMIN') %}
                                <a onclick="return confirm('¿Desea eliminar?')" href="{{ path('datosproveedor_delete', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="eliminar proveedor"><img width="16px" src="{{ asset('images/mal.jpeg')}}"></a>
                            {% endif %}
                        {% endif %}

                        <a href="{{ path('banco', { 'id_proveedor': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="datos bancarios"><img width="20px" src="{{ asset('images/banco.jpg')}}"></a>

                        <a href="{{ path('presupuesto', { 'id_proveedor': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="datos del presupuesto"><img width="30px" src="{{ asset('images/calcu.jpg')}}"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    {% if is_granted('ROLE_CONTENIDOS_ADMIN') or is_granted('ROLE_CONTENIDOS_COMPRAS') %}
        <a class="btn btn-primary dropdown-toggle" href='{{ path('datosproveedor_new') }}'>Crear Proveedor</a>
    {% endif %}
    <br>
{% endblock %}
