{% extends '::contenidos.html.twig' %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">LISTADO {{ titulo }}</div>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th width="12%">Identificaci&oacute;n Fiscal</th>
                <th width="25%">Nombre de la Empresa</th>
                <th width="16%">T&eacute;lefono Empresa</th>
                <th width="16%">Representante</th>
                <th width="16%">Proveedor</th>
                <th width="15%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr align="center">
                    <td><a href="{{ path('datosproveedor_show', { 'id': entity.id }) }}">{{ entity.numIdentificacionfiscal }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.oficina1 }}</td>
                    <td>{{ entity.nombreRepr }} {{ entity.apellidoRepr }}</td>     
                    <td>{{entity.idTipoprov.nombre }}</td>                
                    <td>
                                <a href="{{ path('datosproveedor_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="editar proveedor"><img width="20px" src="{{ asset('images/edit.png')}}"></a>
                                <a href="{{ path('banco', { 'id_proveedor': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="datos bancarios"><img width="20px" src="{{ asset('images/banco.jpg')}}"></a>
                                <a href="{{ path('presupuesto', { 'id_proveedor': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="datos del presupuesto"><img width="30px" src="{{ asset('images/calcu.jpg')}}"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br>
{% endblock %}
