{% extends '::contenidos.html.twig' %}
{% block title %}Licencia - Nueva{% endblock %}

{% block titulobanner %}
    LICENCIAS
{% endblock %}
   
 
{% block body -%}
    {{ parent() }}
    <div class="titulo">NUEVO REGISTRO</div>

    <form novalidate="novalidate" action="{{ path('datosproveedor_create') }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}
        <fieldset>            
            <div id="descripcion" class="form-show_edit">
                <legend id="a"><div class="divisor">DATOS DEL PROVEEDOR</div> </legend>
                <div class="form-contenedor">
                    {{ form_errors(form.nombre) }}
                    <div class="labels">Nombre:</div>
                    <div class="widgets">{{ form_widget(form.nombre) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.numIdentificacionfiscal) }}
                    <div class="labels">Identificaci&oacute;n F&iacute;scal:</div>
                    <div class="widgets">{{ form_widget(form.numIdentificacionfiscal) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.direccionEmpresa) }}
                    <div class="labels">Direcci&oacute;n:</div>
                    <div class="widgets">{{ form_widget(form.direccionEmpresa) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.oficina1) }}
                    <div class="labels">Tel&eacute;fono de Oficina 1:</div>
                    <div class="widgets">{{ form_widget(form.oficina1) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.oficina2) }}
                    <div class="labels">Tel&eacute;fono de Oficina 2:</div>
                    <div class="widgets">{{ form_widget(form.oficina2) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.movil) }}
                    <div class="labels">Tel&eacute;fono de Oficina 3:</div>
                    <div class="widgets">{{ form_widget(form.movil) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.correoEmpresa) }}
                    <div class="labels">Dirrecci&oacute;n de Correo:</div>
                    <div class="widgets">{{ form_widget(form.correoEmpresa) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.skypeEmpresa) }}
                    <div class="labels">Dirrecci&oacute;n de Skype:</div>
                    <div class="widgets">{{ form_widget(form.skypeEmpresa) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.pais) }}
                    <div class="labels">Pa&iacute;s:</div>
                    <div class="widgets">{{ form_widget(form.pais) }}</div>
                </div>
            <br>           
            <legend id="b"><div class="divisor">DATOS DEL REPRESENTANTE</div> </legend>
                <div class="form-contenedor">
                    {{ form_errors(form.nombreRepr) }}
                    <div class="labels">Nombre:</div>
                    <div class="widgets">{{ form_widget(form.nombreRepr) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.apellidoRepr) }}
                    <div class="labels">Apellido:</div>
                    <div class="widgets">{{ form_widget(form.apellidoRepr) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.cargo) }}
                    <div class="labels">Cargo:</div>
                    <div class="widgets">{{ form_widget(form.cargo) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.telfhab) }}
                    <div class="labels">Tel&eacute;fono de Habitaci&oacute;n:</div>
                    <div class="widgets">{{ form_widget(form.telfhab) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.movil2) }}
                    <div class="labels">Tel&eacute;fono Movil:</div>
                    <div class="widgets">{{ form_widget(form.movil2) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.correoRepr) }}
                    <div class="labels">Dirrecci&oacute;n de Correo:</div>
                    <div class="widgets">{{ form_widget(form.correoRepr) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.skypeRepr) }}
                    <div class="labels">Dirrecci&oacute;n de Skype:</div>
                    <div class="widgets">{{ form_widget(form.skypeRepr) }}</div>
                </div>       
            <br>
            <legend id="c"><div class="divisor">DATOS DEL REPRESENTANTE</div> </legend>
                <div class="form-contenedor">
                    {{ form_errors(form.idTipoprov) }}
                    <div class="labels">Tipo de Proveedor:</div>
                    <div class="widgets">{{ form_widget(form.idTipoprov) }}</div>
                </div>
                <div id="muestra"></div>
                <button type="submit" class="btn">CREAR</button>
                <br><br>
            </div>
        </fieldset>        
        <a href="{{ path('datosproveedor', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Volver al listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a> 
        
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_datosproveedor_idTipoprov').change(function(){
                var dato = $("#form_datosproveedor_idTipoprov").val();
                var ruta = "{{ path('ajax_datosproveedor', {'datos': 'variable'}) }}";
                ruta = ruta.replace("variable", dato);
                $('#muestra').load(ruta);
            });
        });
    </script>

{% endblock %}