{% extends '::distribucion.html.twig' %}
{% block title %}Distribución - Lista{% endblock %}

{% block titulobanner %}
    DISTRIBUCIÓN - REPRESENTANTES
{% endblock %}

    
{% block body -%}
    {{ parent() }}
    <div class="titulo">LISTA DE REPRESENTANTES</div>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Operador</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in datos %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.correo }}</td>
                <td>{{ entity.operador.nombre }}</td>
                <td align='center'>{% if entity.operador.estatus==true %}Activo{% else %}<div style="background-color:yellow;color:red;">Inactivo<div>{% endif %}</td>
                <td>
                    <a href="{{ path('representante_show', { 'id': entity.id }) }}"><img width="15px" src="{{ asset('images/busca.png')}}"></a>

                    {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
                    <a href="{{ path('representante_edit', { 'id': entity.id }) }}"><img width="15px" src="{{ asset('images/edit.png')}}"></a>
                    {% endif %}
                </td>
            </tr>


            {% else %}

                <tr><td colspan="6" style="text-align:center">NO EXISTEN DATOS PARA MOSTRAR</td></tr>
                
        {% endfor %}
        </tbody>
    </table>
    <br><br><br><br>
    {% endblock %}
