{% extends '::distribucion.html.twig' %}

{% block title %}Consultar Representante{% endblock %}

{% block titulo %}
    CONSULTA DE REPRESENTANTE ({{ entity.nombreS | upper }})
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("distribucion_homepage") }}">DISTRIBUCIÓN INICIO</a></li>
  <li><a href="{{ path("representante") }}">LISTA DE REPRESENTANTES</a></li>
  <li class="active">CONSULTA DE REPRESENTANTE</li>
</ol>
{% endblock %}
    
{% block body %}

{{ parent() }}

    <div class="formShow">
        <div class="contenedorform">
            <div class="labelform">Nombres:</div>
            <div class="widgetform">{{ entity.nombres }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Apellidos:</div>
            <div class="widgetform">{{ entity.apellidos }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Cargo:</div>
            <div class="widgetform">{{ entity.cargo }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">correo:</div>
            <div class="widgetform">{{ entity.correo }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Telefono 1:</div>
            <div class="widgetform">{{ entity.telefono1 }}</div>
        </div>

        {% if entity.telefono2!='' %}
            <div class="contenedorform">
                <div class="labelform">Telefono 2:</div>
                <div class="widgetform">{{ entity.telefono2 }}</div>
            </div>
        {% endif %}

        {% if entity.fax!='' %}
            <div class="contenedorform">
                <div class="labelform">Fax:</div>
                <div class="widgetform">{{ entity.fax }}</div>
            </div>
        {% endif %}

        {% if entity.observacion!='' %}
            <div class="contenedorform">
                <div class="labelform">Observacion:</div>
                <div class="widgetform">{{ entity.observacion }}</div>
            </div>
        {% endif %}
    </div>

<br>
    <a class="btn btn-default" href="{{ path('representante') }}">IR A LA LISTA</a> | 
    <a class="btn btn-default" href="{{ path('representante_edit', { 'id': entity.id }) }}">IR A EDITAR</a> | 
    <a class="btn btn-default" href="{{ path('operador_show', {'id': entity.operador.id}) }}">IR AL OPERADOR</a>
<br><br>

{#
    <form action="{{ path('representante_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar?')">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar</button>
    </form>
#}
{% endblock %}
