{% extends '::distribucion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    DISTRIBUCIÓN - CONSULTAR - REPRESENTANTE
{% endblock %}

{% block body %}

{{ parent() }}


    <div class="titulo">REPRESENTANTE ({{ entity.nombreS | upper }})</div>

    <div class="form-show">
        <div class="contenedor">
            <div class="labelshow">Nombres:</div>
            <div class="dato">{{ entity.nombres }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Apellidos:</div>
            <div class="dato">{{ entity.apellidos }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Cargo:</div>
            <div class="dato">{{ entity.cargo }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">correo:</div>
            <div class="dato">{{ entity.correo }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Telefono 1:</div>
            <div class="dato">{{ entity.telefono1 }}</div>
        </div>

        {% if entity.telefono2!='' %}
            <div class="contenedor">
                <div class="labelshow">Telefono 2:</div>
                <div class="dato">{{ entity.telefono2 }}</div>
            </div>
        {% endif %}

        {% if entity.fax!='' %}
            <div class="contenedor">
                <div class="labelshow">Fax:</div>
                <div class="dato">{{ entity.fax }}</div>
            </div>
        {% endif %}

        {% if entity.observacion!='' %}
            <div class="contenedor">
                <div class="labelshow">Observacion:</div>
                <div class="dato">{{ entity.observacion }}</div>
            </div>
        {% endif %}
    </div>

<br>
    <a class="btn" href="{{ path('representante') }}">Ir a lista</a> | 
    <a class="btn" href="{{ path('representante_edit', { 'id': entity.id }) }}">Ir a editar</a>
<br><br>
    <form action="{{ path('representante_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar?')">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar</button>
    </form>

{% endblock %}
