{% extends '::distribucion.html.twig' %}

{% block title %}Distribución{% endblock %}

{% block titulobanner %}
    DISTRIBUCIÓN - EDITAR OBJETO DE COMODATO
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="titulo">EDITAR OBJETO DE COMODATO "{{ entity.objeto | upper | slice(0, 15)}}..."</div>

    <form novalidate class="formNewEditOperador" action="{{ path('objetocomodato_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form._token) }}

         <fieldset>
            <legend id="a"><div class="divisor">EDITAR OBJETO DE COMODATO</div></legend>
                <div class="form-contenedor">
                    <div>{{ form_errors(edit_form.objeto) }}</div>
                    <div class="labels">Objeto:</div>
                    <div class="widgets">{{ form_widget(edit_form.objeto) }}</div>
                </div>
        </fieldset>
        <br>
        <p>
            <button class="btn" type="submit">Editar</button> |

            <a class="btn" href="{{ path('objetocomodato') }}">
                Ir a la lista
            </a>
        </p>
    </form>

    <form action="{{ path('objetocomodato_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar?')">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar</button>
    </form>

{% endblock %}
