{% extends '::distribucion.html.twig' %}
 
{% block title %}Distribucion{% endblock %}


{% block titulobanner %}
    OBJETO DE COMODATO- NUEVO
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">CREAR OBJETO DE COMODATO</div>
    <form novalidate class="formNewEditOperador" action="{{ path('objetocomodato_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}

        <fieldset>
            <legend id="a"><div class="divisor">DATOS DE OBJETO DE COMODATO</div></legend>

            <div class="form-contenedor">
                <div>{{ form_errors(form.objeto) }}</div>
                <div class="labels">Objeto:</div>
                <div class="widgets">{{ form_widget(form.objeto) }}</div>
            </div>

        </fieldset>
        <br>
        <button class="btn" type="submit">Crear</button> | 

        <a class="btn" href="{{ path('objetocomodato') }}">
            Ir a la lista
        </a>

    </form>

{% endblock %}
