{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}


{% block titulobanner %}
    LISTADO DE TATEGORIAS
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">LISTADO DE CATEGORIAS</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table table-striped" id="tablalista">
        <thead>
            <tr>
                <th>Id</th>
                <th style="width:60%">Categoria</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categoria_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.categoria }}</td>
                <td>

                        <a href="{{ path('categoria_edit', { 'id': entity.id }) }}">Editar</a> | 
                        <a href="{{ path('subcategoria_new', { 'id': entity.id }) }}">Nueva Subcat.</a> | 
                        <a href="{{ path('subcategoria', { 'id': entity.id }) }}">Lista de Subcat.</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><br><br>
    <a class="btn btn-primary" href="{{ path('categoria_new') }}">
        IR A NUEVA CATEGORIA
    </a>
    <br><br>

    {% endblock %}
