{% extends '::sit.html.twig' %}
 
{% block title %}Nueva categoria{% endblock %}

{% block titulo %}
    NUEVA CATEGORIA
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("categoria") }}">LISTA DE CATEGORIAS</a></li>
  <li class="active">NUEVA CATEGORIA</li>
</ol>
{% endblock %}


{% block body -%}
    {{ parent() }}
    

    {% if form_errors(form.categoria)  %}
    <div class="alert alert-danger">
        <ul>
            <li>{{ form_errors(form.categoria) }}</li>
        </ul>
    </div>
    {% endif %}

    <form novalidate action="{{ path('categoria_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}
        <div class="formShow">
            <div class="contenedorform">
                <div class="labelform">Categoria:</div>
                <div class="widgetform">{{ form_widget(form.categoria) }}</div>
            </div>
            <div class="contenedorform" style="display:none;">
                <div class="labelform">Unidad:</div>
                <div class="widgetform">{{ form_widget(form.unidad) }}</div>
            </div>
        </div>
        
     
        <button class="btn btn-primary" type="submit">CREAR</button> | 
        <a class="btn btn-default" href="{{ path('categoria') }}">
            IR A LA LISTA
        </a>
     
    </form>




{% endblock %}
