{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}


{% block titulobanner %}
    LISTADO DE SUBCATEGORIAS
{% endblock %}


{% block body -%}
    {{ parent() }}
    

    {% if entities==null %}
         <div class="titulo">LISTADO DE SUBCATEGORIAS<BR></div>

         <div class="alert alert-error">NO EXISTEN SUBCATEGORIAS</div>
         <br>
        <a class="btn btn-default" href="{{ path('categoria') }}">
            Ir a la lista de categorias
        </a>
        <br><br>
    {% else %}

    <div class="titulo">LISTADO DE SUBCATEGORIAS<BR><h5>CATEGORIA: {{ entities[0].categoria.categoria|upper }}</h5></div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}


    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subcategoria</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('subcategoria_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.subcategoria }}</td>
                <td>

                        <a href="{{ path('subcategoria_edit', { 'idsub': entity.id,'idcat':entity.categoria.id }) }}"><span class="icon-edit"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    <a class="btn btn-primary" href="{{ path('subcategoria_new',{'id':entities[0].categoria.id}) }}">
        Ir a nueva subcategoria
    </a> | 
        <a class="btn btn-default" href="{{ path('categoria') }}">
            Ir a la lista de categorias
        </a>
    <br><br>
    {% endif %}
    {% endblock %}
