{% extends '::sit.html.twig' %}
 

{% block title %}Lista de subcategorias{% endblock %}

{% block titulo %}
    LISTA DE SUBCATEGORIAS <BR><h5>CATEGORIA: {{ entities[0].categoria.categoria|upper }}</h5>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("categoria") }}">LISTA DE CATEGORIAS</a></li>
  <li class="active">LISTA DE SUBCATEGORIAS</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}
    

    {% if entities==null %}
         <div class="alert alert-error">NO EXISTEN SUBCATEGORIAS</div>
         <br>
        <a class="btn btn-default" href="{{ path('categoria') }}">
            IR A LA LISTA DE CATEGORIAS
        </a>
        <br><br>
    {% else %}

    <table id="tabladatatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subcategoria</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('subcategoria_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.subcategoria }}</td>
                <td>

                        <a href="{{ path('subcategoria_edit', { 'idsub': entity.id,'idcat':entity.categoria.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <a class="btn btn-primary" href="{{ path('subcategoria_new',{'id':entities[0].categoria.id}) }}">
        IR A NUEVA SUBCATEGORIA
    </a> | 
        <a class="btn btn-default" href="{{ path('categoria') }}">
            IR A LA LISTA DE SUBCATEGORIAS
        </a>
    <br><br>
    {% endif %}


    <script type="text/javascript">
        $(document).ready(function(){
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'asc'],[1,'asc']],
            } );
        })
    </script>
    {% endblock %}
