{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}


{% block titulobanner %}
    NUEVA SUBCATEGORIA
{% endblock %}



{% block body -%}
    {{ parent() }}
    
    <div class="titulo">NUEVA SUBCATEGORIA<br><h5>CATEGORIA {{ categoria.categoria|upper }}</h5></div>


    {% if form_errors(form.subcategoria)  %}
    <div class="alert alert-danger">
        <ul>
            <li>{{ form_errors(form.subcategoria) }}</li>
        </ul>
    </div>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form novalidate action="{{ path('subcategoria_create', { 'id': categoria.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}
        <br>
        <div class="formShow">
            <div class="contenedorform">
                <div class="labelform">Subcategoria:</div>
                <div class="widgetform">{{ form_widget(form.subcategoria) }}</div>
            </div>
            <div class="contenedorform" style="display:none;">
                <div class="labelform">Categoria:</div>
                <div class="widgetform">{{ form_widget(form.categoria) }}</div>
            </div>
        </div>
    
        <button class="btn btn-primary" type="submit">Crear</button>
      
    </form>



{% endblock %}
