{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
    EDICION DE DATOS
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">EDITAR DATOS DE UNIDAD ADMINISTRATIVA</div>

    <form novalidate="novalidate" action="{{ path('updateadministrativa', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>{{ form_widget(edit_form._token) }}
        <input type="hidden" name="_method" value="PUT" />
        <legend id="a"><div class="divisor">DATOS</div> </legend>
            <div id="descripcion" class="form-show_edit">
                <br>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.idUnidadejecutora) }}
                    <div class="labels">Nombre de la Unidad Ejecutora:</div>
                    <div class="widgets">{{ form_widget(edit_form.idUnidadejecutora) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.nombre) }}
                    <div class="labels">Nombre de la Unidad Administrativa:</div>
                    <div class="widgets">{{ form_widget(edit_form.nombre) }}</div>
                </div>
            </div>
       <p>
            <button onclick="return confirm('¿Seguro que desea Editar?')" type="submit" class="btn">Editar</button><br><br>
        </p>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('indexadministrativa') }}">
                <img width="85px" src="{{ asset('images/listado.jpg')}}">
            </a>
        </li>
    </ul>
{% endblock %}
