{% extends '::contenidos.html.twig' %}


{% block titulobanner %}
    EDICION DE DATOS
{% endblock %}


{% block body -%}
 {{ parent() }}
    <div class="titulo">LISTADO UNIDAD ADMINISTRATIVA</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th width="45%">Nombre</th>
                <th width="45%">Unidad Ejecutora Asociada</th>
                <th width="10%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr align="center">
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.idUnidadejecutora }}</td>
                <td>
                            <a href="{{ path('editadministrativa', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="editar unidad ejecutora"><img width="20px" src="{{ asset('images/edit.png')}}"></a> 
                            <a onclick="return confirm('Desea borrar')" href="{{ path('deleteadministrativa', { 'id': entity.id }) }}"><img width="15px" src="{{ asset('images/mal.png')}}"></a>   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br><br>
    <a class="btn btn-primary dropdown-toggle" href="{{ path('newadministrativa') }}">Nueva Unidad Administrativa</a>
    <br>    
{% endblock %}