{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
    UNIDAD EJECUTORA
{% endblock %}

{% block body -%}
    {{ parent() }}
    <div class="titulo">Unidad Administrativa</div>

    <form novalidate="novalidate" action="{{ path('createadministrativa') }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}
       
        <div id="descripcion" class="form-show_edit">
            <div class="contenedor">
                <br>
                {{ form_errors(form.nombre) }}
                <div class="labels">Nombre de Unidad Ejecutora:</div>
                <div class="widgets">{{ form_widget(form.nombre) }}</div>
            </div>  
            <div class="contenedor">
                <br>
                {{ form_errors(form.idUnidadejecutora) }}
                <div class="labels">Nombre de Unidad Administrativa:</div>
                <div class="widgets">{{ form_widget(form.idUnidadejecutora) }}</div>
            </div> 
            <br>     
            <button class="btn" type="submit">Crear</button>
            <br><br>
        </div>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('indexadministrativa') }}">
            <img width="85px" src="{{ asset('images/listado.jpg')}}">
        </a>
    </li>
</ul>
{% endblock %}
