{% if mostrar=='tipooperador' %}
    <div class="form-contenedor">
        <div class="labels">Tipo Operador:</div>
		<div class="widgets">{{ form_widget(form.tipooperador) }}</div>
    </div>
    <div id="operador"></div>
{% endif %}

{% if mostrar=='operador' %}
    <div class="form-contenedor">
        <div class="labels">Operador:</div>
        <div class="widgets">{{ form_widget(form.operador) }}</div>
    </div>
    <div id="fechadesde"></div>
{% endif %}

{% if mostrar=='fechadesde' %}
    <div class="form-contenedor">
        <div class="labels">Fecha desde:</div>
        <div class="widgets">{{ form_widget(form.fechadesde) }}</div>
    </div>
    <div id="fechahasta"></div>
{% endif %}

{% if mostrar=='fechahasta' %}
    <div class="form-contenedor">
        <div class="labels">Fecha hasta:</div>
        <div class="widgets">{{ form_widget(form.fechahasta) }}</div>
    </div>
    <div id="formato"></div>
{% endif %}


{% if mostrar=='formato' %}
    <div class="form-contenedor">
        <div class="labels">Formato:</div>
        <div class="widgets">{{ form_widget(form.formato) }}</div>
    </div>
    <div id="botones"></div>
{% endif %}

{% if mostrar=='botones' %}
        <br>
        <button class="btn" type="submit">Generar</button> | 

        <a class="btn" href="{{ path('distribucion_homepage') }}">Ir al inicio</a>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#form_tipooperador').change(function(){
            $('#operador').load('/sait/web/app_dev.php/distribucion/ajax/'+$("#form_pais").val()+'-'+$("#form_tipooperador").val()+'/operador');
        });

        $('#form_operador').change(function(){
            $('#fechadesde').load('/sait/web/app_dev.php/distribucion/ajax/'+$("#form_operador").val()+'/fechadesde');
        });

        $('#form_fechadesde').change(function(){
            $('#fechahasta').load('/sait/web/app_dev.php/distribucion/ajax/'+$("#form_operador").val()+'/fechahasta');
        });

        $('#form_fechahasta').change(function(){
            $('#formato').load('/sait/web/app_dev.php/distribucion/ajax/'+$("#form_operador").val()+'/formato');
        });

        $('#form_formato').change(function(){
            $('#botones').load('/sait/web/app_dev.php/distribucion/ajax/'+$("#form_formato").val()+'/botones');
        });
    });
</script>