{% if mostrar=='tipooperador' %}
    <div class="contenedorform">
        <div class="labelform">Tipo Operador:</div>
		<div class="widgetform">{{ form_widget(form.tipooperador) }}</div>
    </div>
    <div id="top"></div>
{% endif %}

{% if mostrar=='top' %}
    <br>
	<div class='titulo'>TOP 5</div>
	
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>País</th>
                <th>Tipo operador</th>
                <th>Estatus</th>
                <th>Abonados</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in datos %}
            <tr {% if loop.index is odd %}style="background-color: #e9f5fe;"{% endif %}>
                <td>{{ entity.operador.id }}</td>
                <td style="text-align:justify;">{{ entity.operador.nombre }}</td>
                <td>{{ entity.operador.pais.pais }}</td>
                <td>{{ entity.operador.tipooperador.operador }}</td>
                <td>{% if entity.operador.estatus == 1 %} Activo {% else %} Inactivo {% endif %}</td>
                <td>{{ entity.operador.numeroabonados }}</td>
                <td>
                        <a href="{{ path('operador_show', { 'id': entity.operador.id }) }}"><span class="glyphicon glyphicon-eye-open"></a>
         
                        <a href="{{ path('operador_edit', { 'id': entity.operador.id }) }}"><span class="glyphicon glyphicon-pencil"></a>
                </td>
            </tr>


            {% else %}

                <tr><td colspan="6" style="text-align:center">NO EXISTEN DATOS PARA MOSTRAR</td></tr>

        {% endfor %}
        </tbody>
    </table>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#form_tipooperador').change(function(){
            var dato = $("#form_pais").val()+"-"+$("#form_tipooperador").val();
            var ruta = "{{ path('ajax_top', {'datos': 'variable','mostrar': 'top'}) }}";
            ruta = ruta.replace("variable", dato);
            $('#top').load(ruta);
        });

    });
</script>

