{% extends '::mercal.html.twig' %}
 
{% block title %}Editar la Jornada{% endblock %}

{% block titulo %}
    EDITAR LA JORNADA
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("jornada") }}">LISTA DE JORNADAS</a></li>
  <li class="active">EDITAR LA JORNADA</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}

    <form action="{{ path('jornada_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form._token) }}
        <div class="formShow" style="width:85%;">
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.nombrejornada) }}</div>
                <div class="labelform">Nombre jornada:</div>
                <div class="widgetform">{{ form_widget(edit_form.nombrejornada) }}</div>
            </div>
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.fechajornada) }}</div>
                <div class="labelform">Fecha jornada:</div>
                <div class="widgetform">{{ form_widget(edit_form.fechajornada) }}</div>
            </div>
        </div>
            <button class="btn btn-primary" type="submit">Editar</button> | 

            <a class="btn btn-default" href="{{ path('jornada') }}">
            Ir al listado
            </a>
    </form>

    <form onclick="return confirm('¿Seguro que desea eliminar?')" action="{{ path('jornada_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar</button>
    </form>

{% endblock %}
