{% extends '::mercal.html.twig' %}
 
{% block title %}Crear Jornada{% endblock %}

{% block titulo %}
    CREAR JORNADA
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("jornada") }}">LISTA DE JORNADAS</a></li>
  <li class="active">CREAR JORNADA</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}
    <form novalidate action="{{ path('jornada_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}

        <div class="formShow" style="width:85%;">
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.nombrejornada) }}</div>
                <div class="labelform">Nombre jornada:</div>
                <div class="widgetform">{{ form_widget(form.nombrejornada) }}</div>
            </div>
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.fechajornada) }}</div>
                <div class="labelform">Fecha jornada:</div>
                <div class="widgetform">{{ form_widget(form.fechajornada) }}</div>
            </div>
        </div>
            <button class="btn btn-primary" type="submit">Crear</button> | 

            <a class="btn btn-default" href="{{ path('jornada') }}">
                ir al listado
            </a>
    </form>
  <script>
      $(function() {
        $( "#frontend_mercalbundle_jornadatype_fechajornada" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "dd-mm-yy",
        });
      });
  </script>


{% endblock %}
