{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}


{% block titulobanner %}
    SEGUIMIENTO
{% endblock %}


{% block body -%}
    {{ parent() }}

    <div class="titulo">¿DESEA REALIZAR UN SEGUIMIENTO DEL TICKET?</div>
  

    <div class="formShow" style="width:85%;">
        <div class="contenedorform">
            <div class="labelform">Solicitante:</div>
            <div class="widgetform">{{ ticket.solicitante.primernombre }} {{ ticket.solicitante.primerapellido }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Extensión:</div>
            <div class="widgetform">{{ ticket.solicitante.extension }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Fecha solicitud:</div>
            <div class="widgetform">{{ ticket.fechasolicitud|date("d-m-Y") }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Hora solicitud:</div>
            <div class="widgetform">{{ ticket.horasolicitud|date("G:i:s") }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Solicitud:</div>
            <div class="widgetform">{{ ticket.solicitud}}</div>
        </div>
    </div>
    
    <div class="alert alert-warning" style="width:85%;">
        Al realizar un seguimiento el ticket podrá ser visualizado por todos los integrantes de la unidad por lo que no podrá ser asignado ni reasignado. <b>Presione siguiente para comenzar el seguimiento!!</b>
    </div>
    
    <br>
    <a href="{{ path('ticket_show',{'id':ticket.id}) }}" class="btn btn-primary">VOLVER</a> | 
    <a href="{{ path('sit_seguimientoprincipal',{'idticket':ticket.id}) }}" class="btn btn-warning" onclick="return confirm('¿Desea continuar?')">SEGUIR</a>
    <br>
{% endblock %}