{% extends '::licencias.html.twig' %}

{% block title %}Licencia editar{% endblock %}

{% block titulo %}
    EDITAR LICENCIA <br> ({{ entity.nombre }})
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("licencias_homepage") }}">LICENCIAS INICIO</a></li>
  <li class="active">EDITAR LICENCIA</li>
</ol>
{% endblock %}

   
{% block body -%}
    {{ parent() }}
    <div class="form-show_edit"><br>
    <form action="{{ path('licencias_update', { 'id': entity.id,'retorno':retorno }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
       
        <div class="contener">
            {{ form_errors(edit_form.nombre) }}
            <div class="labels">Nombre:</div>
            <div class="dato">{{ form_widget(edit_form.nombre) }}</div>
        </div>
        <div class="contener">
            {{ form_errors(edit_form.fechaCompra) }}
            <div class="labels">Fecha de Compra:</div>
            <div class="dato">{{ form_widget(edit_form.fechaCompra) }}</div>
        </div>
        <div class="contener">
            {{ form_errors(edit_form.fechaVencimiento) }}
            <div class="labels">Fecha de Vencimiento:</div>
            <div class="dato">{{ form_widget(edit_form.fechaVencimiento) }}</div>
        </div>
        <div class="contener">
            {{ form_errors(edit_form.descripcion) }}
            <div class="labels">Descripcion:</div>
            <div class="dato">{{ form_widget(edit_form.descripcion) }}</div>
        </div>
        <div class="contener">
            {{ form_errors(edit_form.tipo) }}
            <div class="labels">Tipo de Licencia:</div>
            <div class="dato">{{ form_widget(edit_form.tipo) }}</div>
        </div>
        <div class="contener">
            {{ form_errors(edit_form.codigo) }}
            <div class="labels">Codigo:</div>
            <div class="dato">{{ form_widget(edit_form.codigo) }}</div>
        </div>
       
        <form action="{{ path('licencias_update', { 'id': entity.id,'retorno':retorno }) }}" method="post" {{ form_enctype(edit_form) }}>
            <input type="hidden" name="_method" value="PUT" />
    
            <p>
                <button type="submit" class="btn btn-primary">EDITAR</button>
                <a class="btn btn-danger" href="{{ path('licencias_delete', { 'id': entity.id, 'retorno':retorno }) }}">ELIMINAR</a> &nbsp;
            </p>
        </form>
    </form>
    </div><br>
    <p>
        <a class="btn btn-default" href="{{ path( retorno ) }}">LISTADO</a>
        
    </p>
 <br><br>

        

{% endblock %}
