{% extends '::licencias.html.twig' %}

{% block title %}Lista{% endblock %}

{% block titulo %}
    LISTA DE LICENCIAS
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">LICENCIAS INICIO</li>

</ol>
{% endblock %}


{% block body -%}
    {{ parent() }}

    <table id="tabladatatable">
        <thead>
            <tr>
                <th width="5%">Codigo</th>
                <th width="25%">Nombre</th>
                <th width="17%">Fecha de Compra</th>
                <th width="20%">Fecha de Vencimiento</th>
                <th>STATUS</th>
                <th>Acciones</th>
            </tr> 
        </thead>
        <tbody>

            {% for entity in entities %}
                <tr>
                    <td align="center"><a href="{{ path('licencias_show', { 'id': entity.id, 'retorno' : retorno }) }}">{{ entity.codigo }}</a></td>
                    <td align="center">{{ entity.nombre }}</td>
                    <td align="center">{% if entity.fechaCompra %}{{ entity.fechaCompra|date('Y-m-d') }}{% endif %}</td>
                    <td align="center">{% if entity.fechaVencimiento %}{{ entity.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                    {% if entity.fechaVencimiento|date('Y-m-d')>hoy and (entity.fechaVencimiento|date('Y-m-d')>mes)  %}
                    
                            <td align="center"style="color:#00cc00;"> ACTIVO </td>
                    
                    {% elseif (entity.fechaVencimiento|date('Y-m-d')>=hoy) and (entity.
                    fechaVencimiento|date('Y-m-d')<=mes) %}
                    
                        <td align="center" style="color:#ff8000;"> POR VENCER </td>
                    
                    {% elseif (entity.fechaVencimiento|date('Y-m-d')<hoy) %}
                    
                        <td  align="center" style="color:red;"> VENCIDO </td>
                    
                    {% endif %}
                    <td>
                           <a href="{{ path('licencias_show', { 'id': entity.id, 'retorno' : retorno }) }}"><img width="15px" src="{{ asset('images/lupa.png')}}"></a>
                        
                        {% if rol == 1 %} 
                            <a href="{{ path('licencias_edit', { 'id': entity.id, 'retorno':retorno }) }}"><img width="15px" src="{{ asset('images/edit.png')}}"></a>
                            <a onclick="return confirm('Desea borrar')" href="{{ path('licencias_delete', { 'id': entity.id, 'retorno':retorno }) }}"><img width="15px" src="{{ asset('images/mal.png')}}"></a>
                        {% endif %} 
                   </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<br><br><br><br>
        <a href="{{ path('reporte_total') }}"><img width="40px" src="{{ asset('images/pdf.jpg')}}"></a> &nbsp;
    <br><br>

        <script type="text/javascript">
        $(document).ready(function(){
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'asc'],[1,'asc']],
            } );
        })
    </script>
{% endblock %}