{% extends '::licencias.html.twig' %}

{% block title %}Licencia nueva{% endblock %}

{% block titulo %}
    NUEVA LICENCIA
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("licencias_homepage") }}">LICENCIAS INICIO</a></li>
  <li class="active">NUEVA LICENCIA</li>
</ol>
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    <div class="form-show_edit"><br>
    <form novalidate action="{{ path('licencias_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}

            <div class="contenedor">
                {{ form_errors(form.nombre) }}
                <div class="labels">Nombre:</div>
                <div class="dato">{{ form_widget(form.nombre) }}</div>
            </div>
            <div class="contenedor">
                {{ form_errors(form.fechaCompra) }}
                <div class="labels">Fecha de Compra:</div>
                <div class="dato">{{ form_widget(form.fechaCompra) }}</div>
            </div>
            <div class="contenedor">
                {{ form_errors(form.fechaVencimiento) }}
                <div class="labels">Fecha de Vencimiento:</div>
                <div class="dato">{{ form_widget(form.fechaVencimiento) }}</div>
            </div>
            <div class="contenedor">
                {{ form_errors(form.descripcion) }}
                <div class="labels">Descripcion:</div>
                <div class="dato">{{ form_widget(form.descripcion) }}</div>
            </div>
            <div class="contenedor">
                {{ form_errors(form.tipo) }}
                <div class="labels">Tipo de Licencia:</div>
                <div class="dato">{{ form_widget(form.tipo) }}</div>
            </div>
            <div class="contenedor">
                {{ form_errors(form.codigo) }}
                <div class="labels">Codigo:</div>
                <div class="dato">{{ form_widget(form.codigo) }}</div>
            </div>
        <p>
            <button class="btn btn-primary" type="submit">CREAR</button>
        </p>
    </form>
</div><br><br>
{% endblock %}
