{% extends '::licencias.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Licencias - Lista{% endblock %}

{% block titulobanner %}
    LICENCIAS
{% endblock %}

{% block body -%}
    {{ parent() }}
    <div class="titulo">LISTA DE LICENCIAS POR VENCER</div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th width="5%" align="center">Codigo</th>
                <th width="30%" align="center">Nombre</th>
                <th width="17%" align="center">Fecha de Compra</th>
                <th width="20%" align="center">Fecha de Vencimiento</th>
                <th width="5%">Acciones</th>
            </tr> 
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td align="center"><a href="{{ path('licencias_show', { 'id': entity.id, 'retorno' : retorno }) }}">{{ entity.codigo }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td align="center">{% if entity.fechaCompra %}{{ entity.fechaCompra|date('Y-m-d') }}{% endif %}</td>
                    <td align="center">{% if entity.fechaVencimiento %}{{ entity.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                    
                    <td>
                            <a href="{{ path('licencias_show', { 'id': entity.id, 'retorno' : retorno }) }}"><img width="15px" src="{{ asset('images/lupa.png')}}"></a>
                        {% if rol == 1 %} 
                            <a href="{{ path('licencias_edit', { 'id': entity.id, 'retorno':retorno }) }}"><img width="15px" src="{{ asset('images/edit.png')}}"></a>
                            <a href="{{ path('licencias_delete', { 'id': entity.id, 'retorno':retorno }) }}"><img width="15px" src="{{ asset('images/mal.png')}}"></a>
                        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <br><br><br><br>
        <a href="{{ path('reporte_pdf') }}"><img width="40px" src="{{ asset('images/pdf.gif')}}"></a> &nbsp;
        <a href="{{ path('reporte_pdf') }}"><img width="40px" src="{{ asset('images/excel.png')}}"></a> &nbsp;
    <br><br>
{% endblock %}
