{% extends '::licencias.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    DISTRIBUCIÓN - CONSULTAR - REPRESENTANTE
{% endblock %}

{% block body %}

{{ parent() }}


    <div class="titulo">REPRESENTANTE </div>

    <div class="form-show">
        <div class="contenedor">
            <div class="labelshow">Nombres:</div>
            <div class="dato">{{ entity.nombre }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Fecha de Compra:</div>
            <div class="dato">{{ entity.fechaCompra|date('Y-m-d') }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Fecha de Vencimiento</div>
            <div class="dato">{{ entity.fechaVencimiento|date('Y-m-d') }}</div>
        </div>

        <div class="contenedor">
            <div class="labelshow">Descripcion</div>
            <div class="dato">{{ entity.descripcion }}</div>
        </div>       
        <div class="contenedor">
            <div class="labelshow">Tipo de Licencia</div>
            <div class="dato">{{ entity.tipo }}</div>
        </div>
        <div class="contenedor">
            <div class="labelshow">Codigo:</div>
            <div class="dato">{{ entity.codigo }}</div>
        </div>
    </div>

    <br>
        <a class="btn" href="{{ path( retorno ) }}">Listado</a> &nbsp;
        {% if rol == 1 %}   
        <a class="btn" href="{{ path('licencias_edit', { 'id': entity.id, 'retorno': retorno }) }}">Editar</a>
          <br><br>
        <a class="btn btn-danger" href="{{ path('licencias_delete', { 'id': entity.id, 'retorno':retorno }) }}">Eliminar</a> &nbsp;
        {% endif %}
        <br><br>
      
{% endblock %}
