{% extends '::mercal.html.twig' %}

{% block title %}Asignar n&uacute;mero{% endblock %}

{% block titulo %}
    ASIGNAR NÚMERO A {{ trabajador.primerNombre }} {{ trabajador.primerApellido }}<br><h4>JORNADA {{ jornada.nombrejornada|upper }} {{ jornada.fechajornada|date('d/m/Y') }}</h4>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path('mercal_seleccionajornada', { 'idjornada':jornada.id }) }}">LISTA DE JORNADAS</a></li>
  <li><a href="{{ path('mercal_listado', { 'idjornada':jornada.id }) }}">LISTA DE TRABAJADORES</a></li>
  <li class="active">ASIGNAR NUMERO AL TRABAJADOR</li>
</ol>
{% endblock %} 


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">AGREGAR FAMILIAR DE {{ trabajador.primerNombre }} {{ trabajador.primerApellido }}<br><h4>JORNADA {{ jornada.nombrejornada|upper }}</h4></div>
    <form action="{{ path('mercal_guardaasignarnumerofam', {'idtrabajador':trabajador.id}) }}" method="post">
        <div class="formShow" style="width:85%;">
            <div class="contenedorform">
                <div class="labelform">Nombres:</div>
                <div class="text-error">{{ form_errors(form.nombres) }}</div>
                <div class="widgetform">{{ form_widget(form.nombres) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Apellidos:</div>
                <div class="text-error">{{ form_errors(form.apellidos) }}</div>
                <div class="widgetform">{{ form_widget(form.apellidos) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Cedula:</div>
                <div class="text-error">{{ form_errors(form.cedula) }}</div>
                <div class="widgetform">{{ form_widget(form.cedula) }}</div>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Guardar y asignar número"><br><br>
        <a class="btn btn-default" href="{{ path('mercal_asignarnumero', {'idtrabajador':trabajador.id}) }}">Volver a trabajador</a> | 
        <a class="btn btn-default" href="{{ path('mercal_listado') }}">Volver al listado</a> | 
        <a class="btn btn-danger" href="javascript:void(0)" id="cerrar">Cerrar ventana</a>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cerrar').click(function(){
                var rs=confirm('¿Esta seguro que desea cerrar la ventana?')
                if(rs==true) window.close();
            });
        });
    </script>
{% endblock %}