{% extends '::mercal.html.twig' %}
 
{% block title %}Asignar n&uacute;mero{% endblock %}

{% block titulo %}
    ASIGNAR NÚMERO A {{ trabajador.primerNombre }} {{ trabajador.primerApellido }}<br><h4>JORNADA {{ jornada.nombrejornada|upper }} {{ jornada.fechajornada|date('d/m/Y') }}</h4>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path('mercal_seleccionajornada', { 'idjornada':jornada.id }) }}">LISTA DE JORNADAS</a></li>
  <li><a href="{{ path('mercal_listado', { 'idjornada':jornada.id }) }}">LISTA DE TRABAJADORES</a></li>
  <li class="active">ASIGNAR NUMERO AL TRABAJADOR</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <form id="form" action="{{ path('mercal_guardaasignarnumero', {'idjornada':jornada.id,'idtrabajador':trabajador.id}) }}" method="post">
        <div class="formShow" style="width:85%;">
            <div class="contenedorform">
                <div class="labelform">Nombres:</div>
                <div class="widgetform">{{ trabajador.primerNombre }} {{ trabajador.segundoNombre }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Apellidos:</div>
                <div class="widgetform">{{ trabajador.primerApellido }} {{ trabajador.segundoApellido }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Cedula:</div>
                <div class="widgetform">{{ trabajador.cedula }}</div>
            </div>
            {% if datossf!=null %}
            <div class="contenedorform">
                <div class="labelform">Dependencia:</div>
                <div class="widgetform">{{ datossf.nombre }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Cargo:</div>
                <div class="widgetform">{{ datossf.descripcion_cargo }}</div>
            </div>
            {% endif %}
           
            <div class="contenedorform">
                <div class="labelform">Número trabajador:</div>
                <div class="widgetform">

                    {% if usernumero[0] is defined %}
                        <b class="label label-success">{{ usernumero[0].numero }}</b> 

                        {% if usernumero[0].compro==false and usernumero[0].fechahoranumeracion is not null %}
                            <b class="label label-warning">Rezagado
                                <a onclick="return confirm('¿Está seguro que desea eliminar el número asignado?')" href="{{ path('mercal_eliminarnumerotrab', {'idjornada':jornada.id,'idtrabajador':trabajador.id}) }}" ><b class="glyphicon glyphicon-remove"></b></a>
                            </b> | 

                            <a onclick="return confirm('¿Está seguro que desea cambiar el estatus de rezagado a compro?')" class="label label-important" href="{{ path('mercal_compronocomprotrabajador', {'idjornada':jornada.id,'idtrabajador':trabajador.id,'compro':'true'}) }}">Cambiar a compró</a>

                        {% elseif usernumero[0].compro==true and usernumero[0].fechahoranumeracion is not null %}
                            <b class="label label-info">Ya compró</b> | 

                            <a onclick="return confirm('¿Está seguro que desea cambiar el estatus de rezagado a compro?')" class="label label-important" href="{{ path('mercal_compronocomprotrabajador', {'idjornada':jornada.id,'idtrabajador':trabajador.id,'compro':'false'}) }}">Cambiar a rezagado</a>
                        {% else %}
                            <a onclick="return confirm('¿Está seguro que desea eliminar el número asignado?')" href="{{ path('mercal_eliminarnumerotrab', {'idjornada':jornada.id,'idtrabajador':trabajador.id}) }}" ><b class="glyphicon glyphicon-remove"></b></a>
                        {% endif %}
                       
                    {% else %}
                            <b class="label label-warning">Sin asignar</b>
                    {% endif %}
                </div>
            </div>

        </div>
        {% if usernumero[0] is not defined %}
            <input id="asignar" class="btn btn-primary" type="button" value="Asignar número a trabajador"><br><br> 
        {% endif %}

        <a class="btn btn-default" href="{{ path('mercal_listado', {'idjornada':jornada.id}) }}">Volver al listado</a>
    </form>

    <input id="envia" type="hidden" value="0">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#asignar').click(function(){

                var envia=$('#envia').val()
                if(envia==0)
                    $('#form').submit()

                $('#envia').val("1")
                    
            });
        });
    </script>
{% endblock %}