{% extends '::mercal.html.twig' %}
 
{% block title %}Sit{% endblock %}

{% block titulobanner %}
    MERCAL
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">EDITAR FAMILIAR DE {{ entity.trabajador.primerNombre }} {{ entity.trabajador.primerApellido }}</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}


    <form novalidate action="{{ path('mercal_actualizaeditarfam', {'idjornada':idjornada,'idfamiliar':entity.id}) }}" method="post">
        {{ form_widget(form._token) }}
        <div class="formShow" style="width:85%;">
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.nombres) }}</div>
                <div class="labelform">Nombres:</div>
                <div class="widgetform">{{ form_widget(form.nombres) }}</div>
            </div>
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.apellidos) }}</div>
                <div class="labelform">Apellidos:</div>
                <div class="widgetform">{{ form_widget(form.apellidos) }}</div>
            </div>
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(form.cedula) }}</div>
                <div class="labelform">Cedula:</div>
                <div class="widgetform">{{ form_widget(form.cedula) }}</div>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Editar familiar"> | 
        <a class="btn btn-default" href="{{ path('mercal_listadofam', {'idjornada':idjornada,'idtrabajador':entity.trabajador.id}) }}">Volver a listado</a>
    </form>

    <form action="{{ path('mercal_borrarfam', {'idjornada':idjornada, 'idtrabajador': entity.trabajador.id,'idfamiliar': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar el familiar?')">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Borrar familiar</button>
    </form>


{% endblock %}