{% extends '::mercal.html.twig' %}
 
{% block title %}Sit{% endblock %}

{% block titulobanner %}
    MERCAL
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulojornada">JORNADA {{ jornada.nombrejornada|upper }}</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if datos==null %}
        <div id="numeracion"> 
            <div class="numero">0</div>
            <div class="nombre">NO HA COMENZADO</div>
        </div>
    {% else %}
        <div id="numeracion"> 
            <div class="numero">{{ datos.numero }}</div>
            <div class="nombre">
                
                    {{ datos.nombre }}<br><br>{{ datos.cedula }}
            </div>
            <input id="valor" type="hidden" value="{{ datos.valor }}">
        </div>
    {% endif %}


    <input type="hidden" id="idjornada" value="{{ jornada.id }}">
    <script type="text/javascript">
            function consultaAjax(){
                var idjornada = $("#idjornada").val();
                var ruta = "{{ path('ajaxmercal_siguienteautomatico', {'idjornada':'valoridjornada'}) }}";
                ruta = ruta.replace("valoridjornada", idjornada);
                $('#numeracion').load(ruta);
            };
        setInterval(consultaAjax, 1000 );
    </script>


{% endblock %}