{% extends '::mercal.html.twig' %}
 
{% block title %}Sit{% endblock %}

{% block titulobanner %}
    MERCAL
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulojornada">JORNADA {{ jornada.nombrejornada|upper }}</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <br><div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <br><div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if datos==null %}
        <div id="numeracion"> 
            <div class="numero">0</div>
            <div class="nombre">SIN COMENZAR</div>
        </div>
    {% else %}
        <div id="numeracion"> 
            <div class="numero">{{ datos.numero }}</div>
            <div class="nombre">
                
                    {{ datos.nombre }}<br><br>{{ datos.cedula }}
            </div>
            <input id="valor" type="hidden" value="{{ datos.valor }}">
            <input type="hidden" id="usernumeroid" value="{{ datos.usernumeroid }}">
        </div>
    {% endif %}

    {% if datos!=null and datos.compro==null and datos.compro!='fin'  %}
        <a style="width:100px;padding:10px;" class="label label-success" href="{{ path('ajaxmercal_siguiente', {'valor': datos.valor,'idjornada':jornada.id,'usernumeroid':datos.usernumeroid,'compro':'true'}) }}">COMPRO</a> | 
        <a style="width:100px;padding:10px;" class="label label-important" href="{{ path('ajaxmercal_siguiente', {'valor': datos.valor,'idjornada':jornada.id,'usernumeroid':datos.usernumeroid,'compro':'false'}) }}">NO COMPRO</a>
    {% elseif datos.compro!='fin' %}
        <b class="alert alert-info">LA COLA DE USUARIOS HA CULMINADO</b><br><br>
        <a id="comprobar" style="padding:10px;" class="label label-warning" href="{{ path('ajaxmercal_siguientecomprobar', {'valor':  datos.valor ,'idjornada': jornada.id ,'usernumeroid': datos.usernumeroid }) }}">VERIFICAR COLA</a> | 
        <a onclick="return confirm('¿Está seguro que desea culminar la jornada?')" id="" style="padding:10px;" class="label label-important" href="{{ path('mercal_cerrarjornada',{'idjornada':jornada.id}) }}">CULMINAR JORNADA</a>
    {% endif %}
    <br>
    
    <input type="hidden" id="idjornada" value="{{ jornada.id }}">

{% endblock %}