{% extends '::mercal.html.twig' %}
 
{% block title %}Numeraci&oacute;n{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("mercal_jornadanumeracion") }}">JORNADA A NUMERAR</a></li>
  <li class="active">NUMERACI&Oacute;N</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulojornada">JORNADA {{ jornada.nombrejornada|upper }}</div>

    {% if datos==null %}
        <div class="numeracion"> 
            <div class="numero">0</div>
            <div class="nombre">NO HA COMENZADO</div>
        </div>
    {% else %}
        <div id="numeracion"> 
            <div class="numero">{{ datos.numero }}</div>
            <div class="nombre">
                
                    {{ datos.nombre }}<br>{{ datos.cedula }}
            </div>
            <input type="hidden" id="usernumeroid" value="{{ datos.usernumeroid }}">
        </div>
    {% endif %}
  
    <input type="hidden" id="idjornada" value="{{ jornada.id }}"><br>

    {% if datos!=null %}
        {% if datos.compro==null %}
            <a class="btn btn-success" href="{{ path('ajaxmercal_siguiente', {'idjornada':jornada.id,'usernumeroid':datos.usernumeroid,'compro':'true'}) }}">COMPRO</a> | 
            <a class="btn btn-danger" href="{{ path('ajaxmercal_siguiente', {'idjornada':jornada.id,'usernumeroid':datos.usernumeroid,'compro':'false'}) }}">NO COMPRO</a><br><br>
        {% elseif datos.compro=="verificar" %}
            <b class="alert alert-info">LA COLA DE USUARIOS HA CULMINADO, VERIFIQUE MÁS TARDE SI NUEVOS USUARIOS FUERON AGREGADOS</b><br><br><br>
            <a id="comprobar" style="padding:10px;" class="btn btn-warning" href="{{ path('ajaxmercal_siguientecomprobar', {'idjornada': jornada.id }) }}">VERIFICAR COLA</a> | 
            <a onclick="return confirm('¿Está seguro que desea culminar la jornada?')" id="" style="padding:10px;" class="btn btn-danger" href="{{ path('mercal_cerrarjornada',{'idjornada':jornada.id}) }}">CULMINAR JORNADA</a><br><br>
        {% endif %}
        
    {% endif %}
    
    

{% endblock %}