{% extends '::mercal.html.twig' %}

{% block title %}Numeraci&oacute;n{% endblock %}

{% block titulo %}
    SELECCIONE UNA JORNADA PARA ADMINISTRAR LA NUMERACIÓN
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">JORNADA A NUMERAR</li>
</ol>
{% endblock %} 


{% block body -%}
    {{ parent() }}
    
    
    <table cellpadding="0" cellspacing="0" border="1" class="table table-hover" style="width:500px;">
        <thead>
            <tr>
                <th>Jornada</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in jornadas %}
            <tr class="info">
                <td>{{ entity.nombrejornada }}</td>
                <td>{% if entity.fechajornada %}{{ entity.fechajornada|date('Y-m-d') }}{% endif %}</td>
                <td align="center">
                    <a class="label label-success" href="{{ path('mercal_homepage', { 'idjornada': entity.id }) }}">Seleccionar</a>

                </td>
            </tr>
        {% else %}
            <tr class="info"><td colspan="3" style="text-align:center">NO EXISTEN NUEVAS JORNADAS</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
{% endblock %}