{% extends '::mercal.html.twig' %}
 
{% block title %}Sit{% endblock %}

{% block titulobanner %}
    MERCAL
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">ASIGNACIÓN DE NÚMEROS<br><h4>JORNADA {{ jornada.nombrejornada|upper }} {{ jornada.fechajornada|date('d/m/Y') }}</h4></div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <br>
   <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalistaespecial">
        <thead>
            <tr>
                <th>Username</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Cedula</th>
                <th>Trabajador</th>
                <th>Familiar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in trabajadores %}
            <tr>

                <td><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.username }}</a></td>
                <td>{{ entity.primernombre }} {{ entity.segundonombre }}</td>
                <td>{{ entity.primerapellido }} {{ entity.segundoapellido }}</td>
                <td>{{ entity.cedula }}</td>
                <td align="center">

                    {% if arraynumeroasignadotrab[entity.id] is defined %}
                        
                        <a target="_blank" class="label label-success" href="{{ path('mercal_asignarnumero', { 'idjornada':jornada.id,'idtrabajador': entity.user.id }) }}">{{ arraynumeroasignadotrab[entity.id] }}</a>

                        {% else %}

                        <a target="_blank" class="label label-important" href="{{ path('mercal_asignarnumero', { 'idjornada':jornada.id,'idtrabajador': entity.
                        user.id }) }}">Asignar Nro.</a>

                    {% endif %}

                </td>

                <td align="center">
                    {% if arraynumeroasignadofam[entity.id] is defined %}
                        
                        <a target="_blank" class="label label-success" href="{{ path('mercal_listadofam', {'idjornada':jornada.id, 'idtrabajador': entity.user.id }) }}">{{ arraynumeroasignadofam[entity.id] }}</a>

                        {% else %}

                        <a target="_blank" class="label label-important" href="{{ path('mercal_listadofam', {'idjornada':jornada.id, 'idtrabajador': entity.user.id }) }}">Asignar Nro.</a>

                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a class="btn btn-primary" href="{{ path('mercal_seleccionajornada') }}">Volver a las jornadas</a>
    <br>
    <script type="text/javascript">
        $(document).ready(function(){
           $('#tablalistaespecial').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[1,'asc'],[2,'asc']],
            } );
        })
    </script>

{% endblock %}