{% extends '::contenidos.html.twig' %}

{% block body -%}
   {{ parent() }}
    <div class="titulo">CONTRATACIONES</div>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr align="center">
                <th width="23%">Concepto</th>
                <th width="11%">Monto <br> ($ / €):</th>
                <th width="11%">Monto <br> (Bs)</th>
                <th width="17%">N&uacute;mero del <br> punto de cuenta</th>
                <th width="17%">N&uacute;mero de Alcance <br> (punto de cuenta)</th>
                <th width="17%">N&uacute;mero de <br> Contrato</th>
                <th width="4%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr align="center">
                <td width="23%"><a href="{{ path('contratacion_show', { 'id': entity.id, 'id_proveedor': id_proveedor }) }}">{{ entity.concepto }}</a></td>
                <td width="11%">{{ entity.montoMe }}</td>
                <td width="11%">{{ entity.montoBs }}</td>
                <td width="17%">{{ entity.numPuntocuenta }}</td>
                <td width="17%">{{ entity.numAlcance }}</td>
                <td width="17%">{{ entity.numContrato }}</td>
                <td width="4%">
                        <a href="{{ path('contratacion_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="editar proveedor"><img width="20px" src="{{ asset('images/edit.png')}}"></a>
                        <a href="{{ path('pago', { 'id_proveedor': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="pagos asociados"><img width="20px" src="{{ asset('images/dinero.jpg')}}"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a class="btn btn-primary dropdown-toggle" href="{{ path( 'contratacion_new', {'id_proveedor':id_proveedor} ) }}">Crear Contrataci&oacute;n</a>
        
    <br><br>
    {% endblock %}