{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
   CONTRATACION - NUEVO REGISTRO
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    <div class="titulo">NUEVA CONTRATACION</div>

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
       {% endfor %}


    <form novalidate="novalidate" action="{{ path('contratacion_create',{ 'id_proveedor':id_proveedor, 'id_presupuesto': id_presupuesto }) }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}

        <fieldset>     
            <div class="form-show_edit">
                <div class="divisor">DATOS DE LA CONTRATACI&Oacute;N</div>
                <div class="form-contenedor">
                    {{ form_errors(form.concepto) }}
                    <div class="labels">Concepto:</div>
                    <div class="dato">{{ form_widget(form.concepto) }}</div>
                </div>
                {% if tipomoneda == 1 %}
                    <div class="form-contenedor">
                        {{ form_errors(form.montoMe) }}
                        <div class="labels">Monto en $:</div>
                        <div class="dato">{{ form_widget(form.montoMe) }}</div>
                    </div>
                {% elseif tipomoneda == 2 %}
                    <div class="form-contenedor">
                        {{ form_errors(form.montoMe) }}
                        <div class="labels">Monto en €:</div>
                        <div class="dato">{{ form_widget(form.montoMe) }}</div>
                    </div>
                {% endif %}

                <div class="form-contenedor">
                    {{ form_errors(form.montoBs) }}
                    <div class="labels">Monto en Bs:</div>
                    <div class="dato">{{ form_widget(form.montoBs) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaInicio) }}
                    <div class="labels">Fecha de Inicio:</div>
                    <div class="widgets">{{ form_widget(form.fechaInicio, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaInicio) }}
                    <div class="labels">Fecha Fin:</div>
                    <div class="widgets">{{ form_widget(form.fechaFin, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>
                
                <div class="divisor">DATOS DE LA SOLICITUD</div>
                <div class="form-contenedor">
                    {{ form_errors(form.numSolicitud) }}
                    <div class="labels">N&uacute;mero de la Solictud:</div>
                    <div class="dato">{{ form_widget(form.numSolicitud) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.numConformacion) }}
                    <div class="labels">N&uacute;mero de la Conformaci&oacute;n:</div>
                    <div class="dato">{{ form_widget(form.numConformacion) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.numPuntocuenta) }}
                    <div class="labels">N&uacute;mero del Punto de Cuenta:</div>
                    <div class="dato">{{ form_widget(form.numPuntocuenta) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaPunto) }}
                    <div class="labels">Fecha del Punto de Cuenta:</div>
                    <div class="dato">{{ form_widget(form.fechaPunto, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>

                <div class="form-contenedor">
                    {{ form_errors(form.numAlcance) }}
                    <div class="labels">N&uacute;mero Alcance:</div>
                    <div class="dato">{{ form_widget(form.numAlcance) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaAlcance) }}
                    <div class="labels">Fecha de Alcance:</div>
                    <div class="dato">{{ form_widget(form.fechaAlcance, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>

                <div class="divisor">DETALLES DE LA CONTRATACI&Oacute;N</div> 
                <div class="form-contenedor">
                    {{ form_errors(form.numContrato) }}
                    <div class="labels">N&uacute;mero de Contrato:</div>
                    <div class="dato">{{ form_widget(form.numContrato) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaContrato) }}
                    <div class="labels">Fecha del Contrato:</div>
                    <div class="dato">{{ form_widget(form.fechaContrato, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>

                <div class="form-contenedor">
                    {{ form_errors(form.numAddendum) }}
                    <div class="labels">N&uacute;mero de Addendum:</div>
                    <div class="dato">{{ form_widget(form.numAddendum) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaAddendum) }}
                    <div class="labels">Fecha del Addendum:</div>
                    <div class="dato">{{ form_widget(form.fechaAddendum, 
                                    {'attr': 
                                        {'class': "fecha"}
                                    }) }}</div>
                </div>
                {% if tipoprov == 'COMPRAS' %}
                    <div class="form-contenedor">
                        {{ form_errors(form.analistaCompras) }}
                        <div class="labels">Analísta:</div>
                        <div class="dato">{{ form_widget(form.analistaCompras) }}</div>
                    </div>
                    <div class="form-contenedor">
                        {{ form_errors(form.observacionesCompras) }}
                        <div class="labels">Observaciones:</div>
                        <div class="dato">{{ form_widget(form.observacionesCompras) }}</div>
                    </div>          
                {% endif %}            
                
                <button type="submit">Crear</button>
                <br><br>
            </div>
        </fieldset>
    </form>

    <a href="{{ path('contratacion', { 'id_proveedor': id_proveedor, 'id_presupuesto': id_presupuesto }) }}" data-toggle="tooltip" data-placement="top" title="Volver al listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>

    
    <script type="text/javascript">
        $(function () {
            $(".fecha").datepicker(
            {
                firstDay: 1,
                showButtonPanel: true,
                changeYear: true,
            }
            );
        });
    </script>
{% endblock %}
