{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
    CONTRATACIONES
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">DETALLES CONTRATACION</div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}


        <fieldset> 
            <div class="form-show_edit">
               
                    <div class="divisor">DATOS DE LA CONTRATACI&Oacute;N</div> 
                    <div class="contenedor">
                        <div class="labels">Concepto:</div>
                        <div class="dato">{{ entity.concepto }}</div>
                    </div>
                    
                    {% if tipomoneda == 1 %}
                        <div class="contenedor">
                            <div class="labels">Monto en $:</div>
                            <div class="dato">{{ entity.montoMe }}</div>
                        </div>
                    {% elseif tipomoneda == 2 %}
                        <div class="contenedor">
                            <div class="labels">Monto en €:</div>
                            <div class="dato">{{ entity.montoMe }}</div>
                        </div>
                    {% endif %}

                    
                    <div class="contenedor">
                        <div class="labels">Monto en Bs:</div>
                        <div class="dato">{{ entity.montoBs }}</div>
                    </div>
                    <div class="contenedor">
                        <div class="labels">Fecha de Inicio:</div>
                        <div class="dato">{{ entity.fechaInicio|date('Y-m-d') }}</div>
                    </div>
                    <div class="contenedor">
                        <div class="labels">Fecha de Fin:</div>
                        <div class="dato">{{ entity.fechaFin|date('Y-m-d') }}</div>
                    </div>
         
           
               
                    <div class="divisor">DATOS DE LA SOLICITUD</div>

                    <div class="contenedor">
                        <div class="labels">N&uacute;mero de la Solicitud:</div>
                        <div class="dato">{{ entity.numSolicitud }}</div>
                    </div>
                    {% if entity.numConformacion != NULL %}
                        <div class="contenedor">
                            <div class="labels">N&uacute;mero de la Conformaci&oacute;n:</div>
                            <div class="dato">{{ entity.numConformacion }}</div>
                        </div>
                    {% else %}
                        <div class="contenedor">
                            <div class="labels">N&uacute;mero de la Conformaci&oacute;n:</div>
                            <div class="dato">NO HAY DESCRIPCION</div>
                        </div>
                    {% endif %}
                    <div class="contenedor">
                        <div class="labels">N&uacute;mero del Punto de Cuenta:</div>
                        <div class="dato">{{ entity.numPuntocuenta }}</div>
                    </div>
                    <div class="contenedor">
                        <div class="labels">Fecha del Punto de Cuenta:</div>
                        <div class="dato">{{ entity.fechaPunto|date('Y-m-d') }}</div>
                    </div>
                    <div class="contenedor">
                        <div class="labels">N&uacute;mero de Alcance (Punto de Cuenta):</div>
                        <div class="dato">{{ entity.numAlcance }}</div>
                    </div>
                    <div class="contenedor">
                        <div class="labels">Fecha de Alcance (Punto de Cuenta):</div>
                        <div class="dato">{{ entity.fechaAlcance|date('Y-m-d') }}</div>
                    </div>
      
            

                <div class="divisor">DETALLES DE LA CONTRATACI&Oacute;N</div>

                    <div class="contenedor">
                        <div class="labels">N&uacute;mero del Contrato:</div>
                        <div class="dato">{{ entity.numContrato }}</div>
                    </div>
                    <div class="contenedor">
                        <div class="labels">Fecha del Contrato:</div>
                        <div class="dato">{{ entity.fechaContrato|date('Y-m-d') }}</div>
                    </div>
                    {% if entity.numAddendum != NULL %}
                        <div class="contenedor">
                            <div class="labels">N&uacute;mero del Addendum:</div>
                            <div class="dato">{{ entity.numAddendum }}</div>
                        </div>
                    {% else %}
                        <div class="contenedor">
                            <div class="labels">N&uacute;mero del Addendum:</div>
                            <div class="dato"> NO HAY DESCRIPCION</div>
                        </div>>
                    {% endif %}
                    {% if entity.fechaAddendum != NULL %}
                        <div class="contenedor">
                            <div class="labels">Fecha del Addendum:</div>
                            <div class="dato">{{ entity.fechaAddendum|date('Y-m-d') }}</div>
                        </div>
                    {% else %}
                        <div class="contenedor">
                            <div class="labels">Fecha del Addendum:</div>
                            <div class="dato">NO HAY DESCRIPCION</div>
                        </div>
                    {% endif %}
                {% if tipoprov == 'COMPRAS' %}
                    <div class="contenedor">
                        <div class="labels">Observaciones:</div>
                        <div class="dato">{{ entity.observacionesCompras }}</div>
                    </div>
                {% endif %}
                    
            </div>
        </fieldset>
  
  
        <a href="{{ path('contratacion' , { 'id_presupuesto': id_presupuesto,'id_proveedor': id_proveedor } ) }}"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
        <a href="{{ path('contratacion_edit', { 'id': entity.id,'id_presupuesto': id_presupuesto, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="editar proveedor"><img width="75px" src="{{ asset('images/edit.png')}}"></a>
    
    
  
{% endblock %}
