{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
    PAGOS
{% endblock %}


{% block body -%}
 {{ parent() }}
    <div class="titulo">DETALLES BANCO</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="form-show_edit">
    <fieldset>       
        <legend id="a"><div class="divisor">DATOS DEL BENEFICIARIO</div> </legend>
            <div class="contenedor">
                <div class="labels">Nombre del Beneficiario:</div>
                <div class="dato">{{ entity.nombreBeneficiario }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Direcci&oacute;n del Beneficiario:</div>
                <div class="dato">{{ entity.direccionBeneficiario }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Pa&iacute;s del Beneficiario:</div>
                <div class="dato">{{ entity.pais }}</div>
            </div>
        
    </fieldset>
    
    <fieldset>       
        <legend id="c"><div class="divisor">DATOS DEL BANCO BENEFICIARIO</div> </legend>
        
            <div class="contenedor">
                <div class="labels">Banco Beneficiario:</div>
                <div class="dato">{{ entity.bancoBenef }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Cuenta Banco Beneficiario:</div>
                <div class="dato">{{ entity.cuentaBenef }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">SWIFT Banco Beneficiario:</div>
                <div class="dato">{{ entity.swiftBenef }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">ABA Banco Beneficiario:</div>
                <div class="dato">{{ entity.abaBenef }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">IBAN Banco Beneficiario:</div>
                <div class="dato">{{ entity.ibanBenef }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Direcci&oacute;n del Banco Beneficiario:</div>
                <div class="dato">{{ entity.direccionBancobenef }}</div>
            </div>
        
    </fieldset>

    {% if entity.bancoInterm != NULL %} 
        <fieldset>    
            <legend id="b"><div class="divisor">DATOS DEL BANCO INTERMEDIARIO</div> </legend>
                <div class="contenedor">
                    <div class="labels">Banco Intermediario:</div>
                    <div class="dato">{{ entity.bancoInterm }}</div>
                </div>
                <div class="contenedor">
                    <div class="labels">Cuenta Banco Intermediario:</div>
                    <div class="dato">{{ entity.cuentaInterm }}</div>
                </div>
                <div class="contenedor">
                    <div class="labels">SWIFT Banco Intermediario:</div>
                    <div class="dato">{{ entity.swiftInterm }}</div>
                </div>
                <div class="contenedor">
                    <div class="labels">ABA Banco Intermediario:</div>
                    <div class="dato">{{ entity.abaInterm }}</div>
                </div>
                <div class="contenedor">
                    <div class="labels">IBAN Banco Intermediario:</div>
                    <div class="dato">{{ entity.ibanInterm }}</div>
                </div>
                <div class="contenedor">
                    <div class="labels">Direcci&oacute;n del Banco Intermediario:</div>
                    <div class="dato">{{ entity.direccionBancointerm }}</div>
                </div>    
        </fieldset>
    {% endif %}
    
    </div>
    <br>
    <a href="{{ path('banco', { 'id_proveedor': id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="Volver al listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    <a href="{{ path('banco_edit', { 'id': entity.id, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="editar datos bancarios"><img width="75px" src="{{ asset('images/edit.png')}}"></a>
    <br><br> 

{% endblock %}
