{% extends '::sit.html.twig' %}
 
{% block title %}Asignado{% endblock %}

{% block titulo %}
    LISTA DE TICKETS ASIGNADOS
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("ticket") }}">LISTADO DE TICKETS</a></li>
  <li class="active">LISTA DE TICKETS ASIGNADOS</li>
</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <table id="tabladatatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechasolicitud</th>
                <th>Horasolicitud</th>
                <th>Solicitante</th>
                <th>Solicitud</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ticket_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechasolicitud %}{{ entity.fechasolicitud|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.horasolicitud|date("G:i:s")  }}</td>
                <td>{{ entity.solicitante.primernombre }} {{ entity.solicitante.primerapellido }}</td>
                <td>{{ entity.solicitud|slice(0,10) }}</td>
                <td>
                    {% if entity.estatus==1 %}<span class="label label-important"><span style="display:none;">1-</span>Nuevo</span>
                    {% elseif entity.estatus==2 %}<span class="label label-info"><span style="display:none;">2-</span>Asignado</span>
                    {% elseif entity.estatus==3 %}<span class="label label-warning"><span style="display:none;">3-</span>Re-Asignado</span>
                    {% elseif entity.estatus==4 %}<span class="label label-success"><span style="display:none;">2-</span>Culminado</span>
                    {% endif %}

                </td>
                <td>
 
                    <a href="{{ path('ticket_showasignado', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function(){
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'asc'],[1,'asc']],
            } );
        })
    </script>

    <br><br><br>
    {% endblock %}
