{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}


{% block titulobanner %}
    LISTADO DE TICKETS
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">LISTADO DE TICKETS</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}


    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechasolicitud</th>
                <th>Horasolicitud</th>
                <th>Solicitante</th>
                <th>Solicitud</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ticket_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechasolicitud %}{{ entity.fechasolicitud|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.horasolicitud|date("G:i:s")  }}</td>
                <td>{{ entity.solicitante.primernombre }} {{ entity.solicitante.primerapellido }}</td>
                <td>{{ entity.solicitud|slice(0,10) }}</td>
                <td>{{ entity.estatus }}</td>
                <td>
 
                    <a href="{{ path('ticket_asignarcatsub', { 'id': entity.id }) }}"><span class="icon-search"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    {% endblock %}
