{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}


{% block titulobanner %}
    LISTADO DE USUARIOS
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">LISTADO DE USUARIOS</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}


    <table class="table table-striped" id="tablalista">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Clave</th>
                <th>Nivel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.primernombre }} {{ entity.segundonombre }}</td>
                <td>{{ entity.primerapellido}} {{ entity.segundoapellido }}</td>
                <td>{{ entity.cedula }}</td>
                <td>
 
                    <a href="{{ path('ticket_usuariounidad', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br><br><br>
    <a class="btn btn-primary" href="{{ path('ticket') }}">IR A LA LISTA</a>
    <br>
    {% endblock %}
