{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}


{% block titulobanner %}
    GESTIONAR TICKET
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">GESTIONAR TICKET</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}


<div class="row-fluid">
  <div class="span7">
    <div class="formShow" style="width:85%;">
        <div class="contenedorform">
            <div class="labelform">Solicitante:</div>
            <div class="widgetform">{{ entity.solicitante.primernombre }} {{ entity.solicitante.primerapellido }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Extensión:</div>
            <div class="widgetform">{{ datosusuario.extension }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Fecha solicitud:</div>
            <div class="widgetform">{{ entity.fechasolicitud|date("d-m-Y") }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Hora solicitud:</div>
            <div class="widgetform">{{ entity.horasolicitud|date("G:i:s") }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Solicitud:</div>
            <div class="widgetform">{{ entity.solicitud}}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Categoria:</div>
            <div class="widgetform">{{ entity.categoria.categoria|upper }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Subcategoria:</div>
            <div class="widgetform">{{ entity.subcategoria.subcategoria|upper }}</div>
        </div>

        {% if entity.archivo %}
        <div class="contenedorform">
            <div class="labelform">Archivo:</div>
            <div class="widgetform">

                {% set extension =  entity.archivo|split(".") %}

                {% if extension[1]=='jpg' or extension[1]=='jpeg' or extension[1]=='png' or extension[1]=='gif'  %}
                    <a data-toggle="modal" href="#myModal">
                        <img class="img-rounded" src="{{ asset('uploads/sit/') }}/{{ entity.archivo }}" width="150px">
                    </a>
                {% else %}
                    <a href="{{ asset('uploads/sit/') }}/{{ entity.archivo }}">DESCARGA ARCHIVO {{ extension[1]|upper }}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
  </div>
  <div class="span5">
        <div class="contenedorcatsub">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                ASIGNAR TICKET
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                Anim pariatur cliche...
              </div>
            </div>
          </div>
          <br><br>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                REASIGNAR TICKET
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse in">
              <div class="accordion-inner">
                {% for uni in unidad %}
                <div class="situnidad"><input type="radio" name="datos" value="reasigna-{{ uni.id }}"> {{ uni.descripcion }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        </div>

        <input type="button" class="btn btn-primary" value="Enviar">
  </div>
</div>


    <div style="width:800px;left:44%;" id="myModal" class="modal hide fade" tabindex="5" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
            <img class="img-rounded" src="{{ asset('uploads/sit/') }}/{{ entity.archivo }}">
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">Cerrar</button>
        </div>
    </div>




{#

        <ul class="record_actions">
    <li>
        <a href="{{ path('ticket') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ticket_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('ticket_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
#}

<br><br>
{% endblock %}
