{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ticket</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechasolicitud</th>
                <td>{{ entity.fechasolicitud|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horasolicitud</th>
                <td>{{ entity.horasolicitud }}</td>
            </tr>
            <tr>
                <th>Fechasolucion</th>
                <td>{{ entity.fechasolucion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horasolucion</th>
                <td>{{ entity.horasolucion }}</td>
            </tr>
            <tr>
                <th>Solicitud</th>
                <td>{{ entity.solicitud }}</td>
            </tr>
            <tr>
                <th>Solucion</th>
                <td>{{ entity.solucion }}</td>
            </tr>
            <tr>
                <th>Reasignado</th>
                <td>{{ entity.reasignado }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ entity.estatus }}</td>
            </tr>
            <tr>
                <th>Archivos</th>
                <td>{{ entity.archivos }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ticket') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ticket_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('ticket_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
