{% extends '::administracion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    ADMINISTRACIÓN DE ROLES
{% endblock %}

{% block body %}
{{ parent() }}
<div class="titulo">EDITAR ROL</div>

<form novalidate action="{{ path('rol_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    
    {{ form_widget(edit_form._token) }}

     <div class="formShow">
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(edit_form.rol) }}</div>
            <div class="labelform">Rol:</div>
            <div class="widgetform">{{ form_widget(edit_form.rol) }}</div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Editar</button> | 

        <a class="btn btn-default" href="{{ path('rol') }}">
            Ir la lista
        </a>
</form>


        <form action="{{ path('rol_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('Seguro que desea eliminar')">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Borrar</button>
        </form>


{% endblock %}
