{% extends '::administracion.html.twig' %}

{% block title %}Lista de roles{% endblock %}

{% block titulo %}
    LISTA DE ROLES
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">LISTA DE ROLES</li>
</ol>
{% endblock %}

{% block body %}
    {{ parent() }}

    <table id="tabladatatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rol</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td align="center"><a href="{{ path('rol_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.rol }}</td>
                <td align="center">

                    <a href="{{ path('rol_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></a>
                    <a href="{{ path('rol_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></a>
            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><br>

    <a class="btn btn-default" href="{{ path('rol_new') }}">NUEVO ROL</a>

    <br><br>
    <script type="text/javascript">
        $(document).ready(function(){
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'asc']],
            } );
        })
    </script>
{% endblock %}