{% extends '::distribucion.html.twig' %}
{% block title %}Distribución{% endblock %}

{% block titulobanner %}
    TIPO DE OPERADOR - LISTA
{% endblock %}

    
{% block body -%}
    {{ parent() }}
    <div class="titulo">LISTA DE ZONAS</div>
    <table class="records_list" cellpaddin=0 cellspacing=>
        <thead>
            <tr>
                <th>Id</th>
                <th>Zona</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('zona_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.zona }}</td>
                <td>
                    <a href="{{ path('zona_show', { 'id': entity.id }) }}"><span class="icon-search"></a>
         
                    {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
                    <a href="{{ path('zona_edit', { 'id': entity.id }) }}"><span class="icon-edit"></a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
    <a class="btn" href="{{ path('zona_new') }}">
        Nuevo
    </a>
    <br><br>
    {% endif %}
    
    {% endblock %}
