{% extends '::distribucion.html.twig' %}

{% block title %}Consultar Zona{% endblock %}

{% block titulo %}
    CONSULTA DE ZONA
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("distribucion_homepage") }}">DISTRIBUCIÓN INICIO</a></li>
  <li><a href="{{ path("zona") }}">LISTA DE ZONAS</a></li>
  <li class="active">CONSULTA DE ZONA</li>
</ol>
{% endblock %}

{% block body %}

{{ parent() }}

    <div class="formShow">

        <div class="contenedorform">
            <div class="labelform">Id:</div>
            <div class="widgetform">{{ entity.id }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Zona:</div>
            <div class="widgetform">{{ entity.zona }}</div>
        </div>

    </div>

    <br>
        {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
        <form action="{{ path('zona_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar?')">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">BORRAR</button>
        </form>


        <a class="btn btn-default" href="{{ path('zona_edit', { 'id': entity.id }) }}">
            IR A EDITAR
        </a>
        |{% endif %}
        <a class="btn btn-default" href="{{ path('zona') }}">
            IR A LA LISTA
        </a> 

        <br><br>

{% endblock %}
