{% extends '::distribucion.html.twig' %}

{% block title %}DISTRIBUCIÓN{% endblock %}

{% block titulobanner %}
    TIPO DE OPERADOR - CONSULTA
{% endblock %}

{% block body %}

{{ parent() }}

    <div class="titulo">CONSULTA DE ZONA</div>

    <div class="formShow">

        <div class="contenedorform">
            <div class="labelform">Id:</div>
            <div class="widgetform">{{ entity.id }}</div>
        </div>

        <div class="contenedorform">
            <div class="labelform">Zona:</div>
            <div class="widgetform">{{ entity.zona }}</div>
        </div>

    </div>

    <br>
        {% if is_granted('ROLE_DISTRIBUCION_ADMINISTRADOR') %}
        <form action="{{ path('zona_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Seguro que desea borrar?')">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn-danger" type="submit">Borrar</button>
        </form>


        <a class="btn" href="{{ path('zona_edit', { 'id': entity.id }) }}">
            Ir a Editar
        </a>
        |{% endif %}
        <a class="btn" href="{{ path('zona') }}">
            Ir a la lista
        </a> 

        <br><br>

{% endblock %}
