{% extends '::proyecto.html.twig' %}

{% block title %}Nueva tarea{% endblock %}

{% block titulo %}
    NUEVA TAREA
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
    <li><a href="{{ path("tarea",{'idproyecto':proyecto.id}) }}">LISTA DE TAREAS</a></li>
  <li class="active">NUEVA TAREA</li>
</ol>
{% endblock %}
    
{% block body -%}
    {{ parent()}}
    
    {% if form_errors(form.nombre) or form_errors(form.descripcion) or form_errors(form.fechainicio) %}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.nombre) }}</div>        
        <div>{{ form_errors(form.descripcion) }}</div>
        <div>{{ form_errors(form.fechainicio) }}</div>
    </div>
    {% endif %}
    
     <form novalidate action="{{ path('tarea_create',{'idproyecto':proyecto.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}

        <div class="formShow">
            <div class="contenedorform">
                <div class="labelform">Nombre:</div>
                <div class="widgetform">{{ form_widget(form.nombre) }}</div>
            </div>
            
            <div class="contenedorform">
                <div class="labelform">Descripción:</div>
                <div class="widgetform">{{ form_widget(form.descripcion) }}</div>
            </div>
            
            <div class="contenedorform">
                <div class="labelform">Fecha inicio:</div>
                <div class="widgetform">{{ form_widget(form.fechainicio) }}</div>
            </div>
        </div>
        <a class="btn btn-default" href="{{ path('tarea',{'idproyecto':proyecto.id}) }}">
            VOLVER A LA LISTA
        </a> | 
        <input type="submit" class="btn btn-primary" value="CREAR TAREA">
        <br><br>
     </form>
        
    <script>
    $(function() {
      $( "#frontend_proyectobundle_tarea_fechainicio" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd-mm-yy",
      });
    });
    </script>

{% endblock %}
