{% extends '::cumpleanios.html.twig' %}

 
{% block title %}Listado{% endblock %}

{% block titulo %}
    LISTADO DE PERSONAL EXTRANJERO
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">LISTADO DE PERSONAL EXTRANJERO</li>
</ol>
{% endblock %}

{% block body -%}

    {{ parent() }}

    <table id="tabladatatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Ubicacion</th>
                <th>Fechanac</th>
                <th>Sexo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.ubicacion }}</td>
                <td>{{ entity.fechanac|date("Y-m-d") }}</td>
                <td>{{ entity.sexo }}</td>
                <td>
                        <a href="{{ path('cumpleanios_personal_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></a>
                        <a href="{{ path('cumpleanios_personal_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <a class="btn btn-primary" href="{{ path('cumpleanios_personal_new') }}">
        NUEVO PERSONAL
    </a>
    <br>

    <script type="text/javascript">
        $(document).ready(function(){
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'asc'],[1,'asc']],
            } );
        })
    </script>
    <br>
    {% endblock %}
