{% extends '::contenidos.html.twig' %}
{% block title %}Contenidos-Pagos- Control{% endblock %}

{% block titulobanner %}
   PAGO - CONTROL
{% endblock %}
    
{% block body -%}
    {{ parent() }}

    <div class="titulo">RUTA DEL PAGO</div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

        <fieldset>
            <div class="form-show_edit"> 
                {% if estatus == 1 and is_granted('ROLE_CONTENIDOS_ADMIN') %}
                    <br>
                    <div class="form-contenedor">
                        <div class="labels">Cantidad de Días en RRHH:</div>
                        <div class="dato">{{ dias_diferencia.1 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">TOTAL DIAS:</div>
                        <div class="dato">{{ dias_diferencia.8 }}</div>
                    </div>

                {% elseif estatus == 2 and is_granted('ROLE_CONTENIDOS_ADMIN') %}

                    <br>
                    <div class="form-contenedor">
                        <div class="labels">Cantidad de Días en Unidad de COMPRAS:</div>
                        <div class="dato">{{ dias_diferencia.2 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">TOTAL DIAS:</div>
                        <div class="dato">{{ dias_diferencia.8 }}</div>
                    </div>

                {% elseif estatus == 3 and is_granted('ROLE_CONTENIDOS_ADMIN') %}
                    {% if fecha.1 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">Días en RRHH:</div>
                            <div class="dato">{{ dias_diferencia.1 }}</div>
                        </div>
                    {% elseif fecha.2 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">Días en COMPRAS:</div>
                            <div class="dato">{{ dias_diferencia.2 }}</div>
                        </div>
                    {% endif %}
                    <div class="form-contenedor">
                        <div class="labels">Días en OFICINA DIRECTORA:</div>
                        <div class="dato">{{ dias_diferencia.3 }}</div>
                    </div>

                    <div class="form-contenedor">
                        <div class="labels">TOTAL DIAS:</div>
                        <div class="dato">{{ dias_diferencia.8 }}</div>
                    </div>

                {% elseif estatus == 4 and is_granted('ROLE_CONTENIDOS_ADMIN') %}

                    <br>
                    {% if fecha.1 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">cantidad de Días en RRHH:</div>
                            <div class="dato">{{ dias_diferencia.1 }}</div>
                        </div>
                    {% elseif fecha.2 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">cantidad de Días en COMPRAS:</div>
                            <div class="dato">{{ dias_diferencia.2 }}</div>
                        </div>
                    {% endif %}
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en OFICINA DIRECTORA:</div>
                        <div class="dato">{{ dias_diferencia.3 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en Unidad de PRESUPUESTO:</div>
                        <div class="dato">{{ dias_diferencia.4 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">TOTAL DIAS:</div>
                        <div class="dato">{{ dias_diferencia.8 }}</div>
                    </div>

                {% elseif estatus == 5 and is_granted('ROLE_CONTENIDOS_ADMIN') %}

                    <br>
                    {% if fecha.1 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">cantidad de Días en RRHH:</div>
                            <div class="dato">{{ dias_diferencia.1 }}</div>
                        </div>
                    {% elseif fecha.2 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">cantidad de Días en COMPRAS:</div>
                            <div class="dato">{{ dias_diferencia.2 }}</div>
                        </div>
                    {% endif %}
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en OFICINA DIRECTORA:</div>
                        <div class="dato">{{ dias_diferencia.3 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en Unidad de PRESUPUESTO:</div>
                        <div class="dato">{{ dias_diferencia.4 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en Unidad de FINANZAS:</div>
                        <div class="dato">{{ dias_diferencia.5 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">TOTAL DIAS:</div>
                        <div class="dato">{{ dias_diferencia.8 }}</div>
                    </div>

                {% elseif estatus == 6 and is_granted('ROLE_CONTENIDOS_ADMIN') %}

                    <br>
                    {% if fecha.1 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">cantidad de Días en RRHH:</div>
                            <div class="dato">{{ dias_diferencia.1 }}</div>
                        </div>
                    {% elseif fecha.2 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">cantidad de Días en COMPRAS:</div>
                            <div class="dato">{{ dias_diferencia.2 }}</div>
                        </div>
                    {% endif %}
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en OFICINA DIRECTORA:</div>
                        <div class="dato">{{ dias_diferencia.3 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en Unidad de PRESUPUESTO:</div>
                        <div class="dato">{{ dias_diferencia.4 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en Unidad de FINANZAS:</div>
                        <div class="dato">{{ dias_diferencia.5 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">TOTAL DIAS:</div>
                        <div class="dato">{{ dias_diferencia.8 }}</div>
                    </div>

                {% elseif estatus == 7 and is_granted('ROLE_CONTENIDOS_ADMIN') %}

                    <br>
                    {% if fecha.1 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">cantidad de Días en RRHH:</div>
                            <div class="dato">{{ dias_diferencia.1 }}</div>
                        </div>
                    {% elseif fecha.2 != NULL %}
                        <br>
                        <div class="form-contenedor">
                            <div class="labels">cantidad de Días en COMPRAS:</div>
                            <div class="dato">{{ dias_diferencia.2 }}</div>
                        </div>
                    {% endif %}
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en OFICINA DIRECTORA:</div>
                        <div class="dato">{{ dias_diferencia.3 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en Unidad de PRESUPUESTO:</div>
                        <div class="dato">{{ dias_diferencia.4 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en Unidad de FINANZAS:</div>
                        <div class="dato">{{ dias_diferencia.5 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días en Unidad de TESORERÍA:</div>
                        <div class="dato">{{ dias_diferencia.6 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">TOTAL DIAS:</div>
                        <div class="dato">{{ dias_diferencia.8 }}</div>
                    </div>
                    <div class="form-contenedor">
                        <div class="labels">cantidad de Días Entregado al Beneficiario:</div>
                        <div class="dato">{{ dias_diferencia.7 }}</div>
                    </div>                   

                {% endif %}         
            </div>
        </fieldset>
      
        <br>       
        <a href="{{ path('pago', {'id_contratacion':id_contratacion, 'id_presupuesto':id_presupuesto, 'id_proveedor':id_proveedor } ) }}"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
{% endblock %}
