{% extends '::contenidos.html.twig' %}
{% block title %}Contenidos-Proveedor- Editar{% endblock %}

{% block titulobanner %}
    LICENCIAS CONTENIDOS
{% endblock %}

    
{% block body -%}
    {{ parent() }}

    <div class="titulo">EDITAR PAGO</div>

    <form action="{{ path('pago_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        <div id="descripcion" class="form-show">
            <br>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.numMemo) }}
                    <div class="labels">N&uacute;mero del Memorandum:</div>
                    <div class="widgets">{{ form_widget(edit_form.numMemo) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.fechaUnidadejec) }}
                    <div class="labels">Fecha de Entrega Unid. Ejec.:</div>
                    <div class="widgets">{{ form_widget(edit_form.fechaUnidadejec) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.numFactura) }}
                    <div class="labels">N&uacute;mero de Factura:</div>
                    <div class="widgets">{{ form_widget(edit_form.numFactura) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.tipoMoneda) }}
                    <div class="labels">Tipo de Moneda:</div>
                    <div class="widgets">{{ form_widget(edit_form.tipoMoneda) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.fechaFactura) }}
                    <div class="labels">Fecha de la Factura:</div>
                    <div class="widgets">{{ form_widget(edit_form.fechaFactura) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.montoMe) }}
                    <div class="labels">Monto en $/€:</div>
                    <div class="widgets">{{ form_widget(edit_form.montoMe) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.montoBs) }}
                    <div class="labels">Monto en Bs:</div>
                    <div class="widgets">{{ form_widget(edit_form.montoBs) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.tipoPago) }}
                    <div class="labels">Tipo del Pago:</div>
                    <div class="widgets">{{ form_widget(edit_form.tipoPago) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.numPago) }}
                    <div class="labels">N&uacute;mero del Pago:</div>
                    <div class="widgets">{{ form_widget(edit_form.numPago) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.fechaPago) }}
                    <div class="labels">Fecha del Pago:</div>
                    <div class="widgets">{{ form_widget(edit_form.fechaPago) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.contraEntrega) }}
                    <div class="labels">Pago Contra Entrega:</div>
                    <div class="widgets">{{ form_widget(edit_form.contraEntrega) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.diasEntrega) }}
                    <div class="labels">D&iacute;as de Entrega:</div>
                    <div class="widgets">{{ form_widget(edit_form.diasEntrega) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(edit_form.idUnidadejec) }}
                    <div class="labels">Unidad Ejecutora:</div>
                    <div class="widgets">{{ form_widget(edit_form.idUnidadejec) }}</div>
                </div>
        </div>     
        <br>       
        <a class="btn" href="{{ path('pago', {'id_proveedor':id_proveedor } ) }}">Listado de Pagos</a>
        <button type="submit" class="btn">Editar</button>  

    </form>
{% endblock %}
