{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
   PAGO - PRINCIPAL
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">PAGOS ASOCIADOS A LA CONTRATACION </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th>N&uacute;mero del Memorandum</th>
                <th>N&uacute;mero de la f&aacute;ctura</th>
                <th>Monto en $/€</th>
                <th>Monto en bs</th>
                <th>Tipo de Pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr align="center">
                <td><a href="{{ path('pago_show', { 'id': entity.id, 'id_contratacion':id_contratacion, 'id_presupuesto':id_presupuesto, 'id_proveedor':id_proveedor }) }}">{{ entity.numMemo }}</a></td>    
                <td>{{ entity.numFactura }}</td>
                {% if entity.montoMe != NULL %}
                    <td>{{ entity.montoMe }}</td>
                {% else  %}
                    <td>NO APLICA</td>
                {% endif %}
                <td>{{ entity.montoBs }}</td>
                {% if entity.tipoPago == 0 %}
                    <td>Cheque</td>
                {% elseif entity.tipoPago == 1 %}
                    <td>Transferencia</td>
                {% endif %}
                <td>
                    <a href="{{ path('pago_edit', { 'id': entity.id, 'id_contratacion':id_contratacion, 'id_presupuesto':id_presupuesto, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="editar pago"><img width="22px" src="{{ asset('images/edit.png')}}"></a>
                    
                    <a onclick="return confirm('¿Desea eliminar?')" href="{{ path('pago_delete', { 'id': entity.id, 'id_contratacion':id_contratacion, 'id_presupuesto':id_presupuesto, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="eliminar pago"><img width="18px" src="{{ asset('images/mal.jpeg')}}"></a>                    

                    <a href="{{ path('pago_control', { 'id': entity.id, 'id_contratacion':id_contratacion, 'id_presupuesto':id_presupuesto, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="control del pago"><img width="22px" src="{{ asset('images/dinero.jpg')}}"></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br><br>
    <a class="btn btn-primary dropdown-toggle" href="{{ path( 'pago_new', {'id_contratacion': id_contratacion, 'id_presupuesto': id_presupuesto, 'id_proveedor':id_proveedor} ) }}">Registrar Nuevo Pago</a>
    <a href="{{ path('contratacion' , { 'id_proveedor': id_proveedor, 'id_presupuesto': id_presupuesto } ) }}" data-toggle="tooltip" data-placement="top" title="Listado de Contratacione"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
        
    <br><br>
    {% endblock %}
