{% extends '::contenidos.html.twig' %}
{% block title %}Licencia - Nueva{% endblock %}

{% block titulobanner %}
    LICENCIAS
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    <div class="titulo">NUEVO REGISTRO</div>
    <form novalidate="novalidate" action="{{ path('pago_create', {'id_contratacion':id_contratacion }) }}" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}
        <fieldset>   
            <legend id="a"><div class="divisor">DATOS DEL PAGO</div> </legend>
            <div id="descripcion" class="form-show">
                <br>
                <div class="contenedor">
                    {{ form_errors(form.numMemo) }}
                    <div class="labels">N&uacute;mero del Memorandum:</div>
                    <div class="widgets">{{ form_widget(form.numMemo) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.idUnidadejec) }}
                    <div class="label">Unidad Ejecutora:</div>
                    <div class="widgets">{{ form_widget(form.idUnidadejec) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaUnidadejec) }}
                    <div class="label">Fecha de Recepción Unid. Ejec.:</div>
                    <div class="widgets">{{ form_widget(form.fechaUnidadejec) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.numFactura) }}
                    <div class="label">N&uacute;mero de factura:</div>
                    <div class="widgets">{{ form_widget(form.numFactura) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaFactura) }}
                    <div class="label">Fecha de factura:</div>
                    <div class="widgets">{{ form_widget(form.fechaFactura) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.tipoMoneda) }}
                    <div class="label">Tipo de Moneda:</div>
                    <div class="widgets">{{ form_widget(form.tipoMoneda) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.montoMe) }}
                    <div class="label">Monto en $/€:</div>
                    <div class="widgets">{{ form_widget(form.montoMe) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.montoBs) }}
                    <div class="label">Monto en Bs:</div>
                    <div class="widgets">{{ form_widget(form.montoBs) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.tipoPago) }}
                    <div class="label">Tipo de Pago:</div>
                    <div class="widgets">{{ form_widget(form.tipoPago) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.numPago) }}
                    <div class="label">N&uacute;mero del Pago:</div>
                    <div class="widgets">{{ form_widget(form.numPago) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.fechaPago) }}
                    <div class="label">Fecha del Pago:</div>
                    <div class="widgets">{{ form_widget(form.fechaPago) }}</div>
                </div>
            </div>
        </fieldset>
        <br>
        <fieldset>
            <legend id="b"><div class="divisor">CONDICIONES DEL PAGO</div> </legend>
            <div id="detalles" class="form-show">
                <div class="form-contenedor">
                    {{ form_errors(form.contraEntrega) }}
                    <div class="labels">Pago Contra Entrega:</div>
                    <div class="widgets">{{ form_widget(form.contraEntrega) }}</div>
                </div>
                <div class="form-contenedor">
                    {{ form_errors(form.diasEntrega) }}
                    <div class="labels">D&iacute;as de Entrega:</div>
                    <div class="widgets">{{ form_widget(form.diasEntrega) }}</div>
                </div>
            </div>    
        </fieldset>
       <br>
       <a class="btn" href="{{ path( 'pago', {'id_contratacion':id_contratacion }  ) }}">Listado de Pagos</a>
        <button type="submit" class="btn">Registrar Pago</button> 
    </form>
<script src="{{ asset('js/contenidos/efecto.js') }}"></script>
{% endblock %}
