{% extends '::contenidos.html.twig' %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">DETALLES</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <div class="form-show_edit">
            <div class="contenedor">
                <br>
                <div class="labels">N&uacute;mero del Memorandum:</div>
                <div class="dato">{{ entity.numMemo }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Fecha de Entrega Unid. Ejec.:</div>
                <div class="dato">{{ entity.fechaUnidadejec|date('Y-m-d') }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">N&uacute;mero de la Factura:</div>
                <div class="dato">{{ entity.numFactura }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Fecha de la Factura:</div>
                <div class="dato">{{ entity.fechaFactura|date('Y-m-d') }}</div>
            </div>
             
            {% if entity.tipoMoneda == 0 %}
                <div class="contenedor">
                    <div class="labels">Tipo de Moneda:</div>
                    <div class="dato">DOLARES</div>
                </div>
                <div class="contenedor">
                    <div class="labels">Monto en $:</div>
                    <div class="dato">{{ entity.montoMe }}</div>
                </div>
            {% elseif entity.tipoMoneda == 1 %}
                <div class="contenedor">
                    <div class="labels">Tipo de Moneda:</div>
                    <div class="dato">EUROS</div>
                </div>
                <div class="contenedor">
                    <div class="labels">Monto en €:</div>
                    <div class="dato">{{ entity.montoMe }}</div>
                </div>
            {% endif %}

            <div class="contenedor">
                <div class="labels">Monto en Bs:</div>
                <div class="dato">{{ entity.montoBs }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Tipo de Pago:</div>
                {% if entity.tipoPago == 0 %}
                    <div class="dato">CHEQUE</div>
                {% elseif entity.tipoPago == 1 %}
                    <div class="dato">TRANSFERENCIA</div>
                {% endif %}
            </div>
            <div class="contenedor">
                <div class="labels">N&uacute;mero del Pago:</div>
                <div class="dato">{{ entity.numPago }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Fecha del Pago:</div>
                <div class="dato">{{ entity.fechaPago|date('Y-m-d') }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Pago Contra Entrega:</div>
                <div class="dato">{{ entity.contraEntrega }}</div>
            <br>
            </div>
    </div>
<br>
<a href="{{ path('pago', {'id_contratacion':id_contratacion }) }}" data-toggle="tooltip" data-placement="top" title="Volver al listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
<br><br> 

{% endblock %}
