{% extends '::contenidos.html.twig' %}

{% block titulobanner %}
   PAGO - DETALLES
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo">DETALLES DEL PAGO</div>

     {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <fieldset>  
        <div class="form-show_edit">
            <div class="divisor">DATOS DE UNIDAD EJECUTORA</div>
            <div class="contenedor">
                <div class="labels">Unidad Ejecutora:</div>
                <div class="dato">{{ entity.idUnidadejec }}</div>
            </div>  
            <div class="contenedor">
                <div class="labels">Estatus del Pago:</div>
                <div class="dato" style="fontcolor:#333">
                    {% if entity1.0.fechaUnidadsiete != NULL %}
                            ENTREGADO AL BENEFICIARIO                  
                    {% elseif entity1.0.fechaUnidadseis != NULL %}
                            TESORERÍA
                    {% elseif entity1.0.fechaUnidadcinco != NULL %}
                            FINANZAS           
                    {% elseif entity1.0.fechaUnidadcuatro != NULL %}
                            PRESUPUESTO                 
                    {% elseif entity1.0.fechaUnidadtres != NULL %}
                            OFICINA DIRECTORA          
                    {% elseif entity1.0.fechaUnidaddos != NULL %}
                            COMPRAS                  
                    {% elseif entity1.0.fechaUnidaduno != NULL %}
                            RECURSOS HUMANOS        
                    {% endif %}  
                </div>
            </div>          

            {% if compras == 1 %}
                <legend id="b"><div class="divisor">CONDICIONES DEL PAGO</div> </legend>
                {% if entity.contraEntrega == 1 %}
                    <div class="contenedor">
                        <div class="labels">Pago Contra Entrega:</div>
                        <div class="dato">SI</div>
                    </div>
                {% elseif entity.contraEntrega == 0 %}
                    <div class="contenedor">
                        <div class="labels">Pago Contra Entrega:</div>
                        <div class="dato">NO</div>
                    </div>
                    <div class="contenedor">
                        <div class="labels">Dias de Entrega:</div>
                        <div class="dato">{{ entity.diasEntrega }}</div>
                    </div>
                {% endif %}
            {% endif %}

            <div class="divisor">DATOS DEL PAGO</div>
            <div class="contenedor">
                <div class="labels">N&uacute;mero del Memorandum:</div>
                <div class="dato">{{ entity.numMemo }}</div>
            </div>
            
            <div class="contenedor">
                <div class="labels">N&uacute;mero de la Factura:</div>
                <div class="dato">{{ entity.numFactura }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Fecha de la Factura:</div>
                <div class="dato">{{ entity.fechaFactura|date('Y-m-d') }}</div>
            </div>
                 
            {% if entity.tipoMoneda == 1 %}
                <div class="contenedor">
                    <div class="labels">Tipo de Moneda:</div>
                    <div class="dato">DOLARES</div>
                </div>
                <div class="contenedor">
                    <div class="labels">Monto en $:</div>
                    <div class="dato">{{ entity.montoMe }}</div>
                </div>
            {% elseif entity.tipoMoneda == 2 %}
                <div class="contenedor">
                    <div class="labels">Tipo de Moneda:</div>
                    <div class="dato">EUROS</div>
                </div>
                <div class="contenedor">
                    <div class="labels">Monto en €:</div>
                    <div class="dato">{{ entity.montoMe }}</div>
                </div>
            {% endif %}

            <div class="contenedor">
                <div class="labels">Monto en Bs:</div>
                <div class="dato">{{ entity.montoBs }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Tipo de Pago:</div>
                {% if entity.tipoPago == 0 %}
                    <div class="dato">CHEQUE</div>
                {% elseif entity.tipoPago == 1 %}
                    <div class="dato">TRANSFERENCIA</div>
                {% endif %}
            </div>
            <div class="contenedor">
                <div class="labels">N&uacute;mero del Pago:</div>
                <div class="dato">{{ entity.numPago }}</div>
            </div>
            <div class="contenedor">
                <div class="labels">Fecha del Pago:</div>
                <div class="dato">{{ entity.fechaPago|date('Y-m-d') }}</div>
                
            </div>
                
        </div>
    </fielset>
<br>
<a href="{{ path('pago' , { 'id_proveedor': id_proveedor, 'id_presupuesto': id_presupuesto, 'id_contratacion':id_contratacion } ) }}"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
<a href="{{ path('pago_edit', { 'id': entity.id, 'id_contratacion':id_contratacion, 'id_presupuesto':id_presupuesto, 'id_proveedor':id_proveedor }) }}" data-toggle="tooltip" data-placement="top" title="control de pagos"><img width="75px" src="{{ asset('images/edit.png')}}"></a>
<br>

{% endblock %}
