{% extends '::transporte.html.twig' %}

{% block title %}Transporte{% endblock %}

{% block titulobanner %}
    TRANSPORTE
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">TRANSPORTE -  CREAR PERSONAL EXTERNO</div>
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
<div class="formShow">
    <form action="{{ path('personalexterno_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.cedula) }}</div>
            <div class="labelform">Cédula:</div>
            <div class="widgetform">{{ form_widget(form.cedula) }}</div>
        </div>
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.nombre) }}</div>
            <div class="labelform">Nombre y Apellido:</div>
            <div class="widgetform">{{ form_widget(form.nombre, {'attr':{'class':'txtMay'}}) }}</div>
        </div>
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(form.telefono) }}</div>
            <div class="labelform">Teléfonos:</div>
            <div class="widgetform">{{ form_widget(form.telefono) }}</div>
        </div>
        {{ form_widget(form) }}
           <script>
        $(".txtMay").css({
            'text-transform':'uppercase',
        });
        </script>  
        <p>     
            <button class="btn btn-primary" type="submit">CREAR PERSONAL</button> | 
            <a class="btn" href="{{ path('personalexterno_list') }}">IR AL LISTADO</a> 
        </p>
    </form>
</div>
{% endblock %}
