{% extends '::transporte.html.twig' %}

{% block title %}Transporte{% endblock %}

{% block titulobanner %}
    TRANSPORTE
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <div class="titulo">TRANSPORTE -  DETALLE PERSONAL EXTERNO</div>
 <div class="formShow">

    <table class="record_properties" width="60%" align="center">
        <tbody>    
            <div class="contenedorform">
                <div class="labelform">ID:</div>
                <div class="widgetform">{{ entity.id }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Cédula:</div>
                <div class="widgetform">{{ entity.cedula }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Nombre y Apellido:</div>
                <div class="widgetform">{{ entity.nombre|upper }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Teléfono:</div>
                <div class="widgetform">{{ entity.telefono }}</div>
            </div>

        </tbody>
    </table>
    <br>
    <ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('personalexterno_list') }}">IR AL LISTADO</a> | 
        <a href="{{ path('personalexterno_edit', { 'id': entity.id }) }}">
            <button class="btn btn-primary" type="button">EDITAR</button> 
        </a>
    </li>
    <li>
        <form action="{{ path('personalexterno_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    </ul>
</div>
{% endblock %}
