{% extends '::contratos.html.twig' %}

{% block titulobanner %}
    DIRECCION SOLICITANTE - EDITAR
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo"> EDITAR DATOS DE LA DIRECCION SOLICITANTE </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <form action="{{ path('Direccionsolicitante_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>{{ form_widget(edit_form._token) }}
        <input type="hidden" name="_method" value="PUT" />
        <div id="descripcion" class="form-show_edit">
        <br>
            <fieldset>      
                <div class="form-contenedor">
                    {{ form_errors(edit_form.nombre) }}
                    <div class="labels">Nombre de la Unidad Solicitante:</div>
                    <div class="widgets">{{ form_widget(edit_form.nombre) }}</div>
                </div>
                <button type="submit" class="btn">Editar</button> <br><br>
            </fieldset>
        </div><br>
        <a href="{{ path('Direccionsolicitante') }}" data-toggle="tooltip" data-placement="top" title="Volver al listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    </form>
{% endblock %}
