{% extends '::contratos.html.twig' %}

{% block title %}Editar Direcci&oacute;n{% endblock %}

{% block titulo %}
    EDITAR LA DIRECCI&Oacute;N
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("Direccionsolicitante") }}">LISTADO DE DIRECCIONES</a></li>
  <li class="active">EDITAR LA DIRECCI&Oacute;N</li>
</ol>
{% endblock %}

{% block body -%}
 {{ parent() }}
    <form action="{{ path('Direccionsolicitante_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>{{ form_widget(edit_form._token) }}
        <input type="hidden" name="_method" value="PUT" />
        <div class="formShow">  
            <div class="contenedorform">
                <div class="text-error">{{ form_errors(edit_form.nombre) }}</div>                    
                <div class="labelform">Nombre de la Direcci&oacute;n:</div>
                <div class="widgetform">{{ form_widget(edit_form.nombre) }}</div>
            </div> 
        </div><br>

        <BR><button class="btn btn-primary" type="submit">EDITAR</button> | 
            <a class="btn btn-default" href="{{ path('Direccionsolicitante') }}">IR A LA LISTA</a> | 
            <a class="btn btn-default" href="{{ path('Direccionsolicitante_show', { 'id': entity.id }) }}">IR A CONSULTAR</a>
    </form>
{% endblock %}
