{% extends '::contratos.html.twig' %}

{% block titulobanner %}
    DIRECCION SOLICITANTE - PRINCIPAL
{% endblock %}

{% block body -%}
 {{ parent() }}
    <div class="titulo"> LISTADO DE DIRECCIONES SOLICITANTES </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalista">
        <thead>
            <tr>
                <th width="80%">Nombre</th>
                <th width="20%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr align="center">
                <td>{{ entity.nombre }}</td>
                <td>
                    <a href="{{ path('Direccionsolicitante_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="editar direccion solicitante"><img width="22px" src="{{ asset('images/edit.png')}}"></a>
                    
                    <a onclick="return confirm('¿Desea eliminar?')" href="{{ path('Direccionsolicitante_delete', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="eliminar direccion solicitante"><img width="18px" src="{{ asset('images/mal.jpeg')}}"></a>              
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br><br>

    <a class="btn btn-primary dropdown-toggle" href="{{ path( 'Direccionsolicitante_new' ) }}">Registrar Direcci&oacute;n Solicitante</a><br><br>
    {% endblock %}