{% extends '::contratos.html.twig' %}

{% block titulobanner %}
    DIRECCION SOLICITANTE - DETALLES
{% endblock %}
    
{% block body -%}

    {{ parent() }}
    <div class="titulo"> DETALLE DE LA DIRECCION SOLICITANTE </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
   {% endfor %}

    <div class="form-show_edit">
        <fieldset>       
                <div class="contenedor">
                    <div class="labels">Nombre:</div>
                    <div class="dato">{{ entity.nombre }}</div>
                </div>
        </fieldset>
    </div>
    <a href="{{ path('Direccionsolicitante') }}" data-toggle="tooltip" data-placement="top" title="Volver al listado"><img width="85px" src="{{ asset('images/listado.jpg')}}"></a>
    <a href="{{ path('Direccionsolicitante_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="editar datos del abogado"><img width="75px" src="{{ asset('images/edit.png')}}"></a>
    <br><br> 
{% endblock %}