{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Procedencia</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Institucion</th>
                <td>{{ entity.institucion }}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ entity.director }}</td>
            </tr>
            <tr>
                <th>Areainst</th>
                <td>{{ entity.areainst }}</td>
            </tr>
            <tr>
                <th>Telfinst</th>
                <td>{{ entity.telfinst }}</td>
            </tr>
            <tr>
                <th>Emailinst</th>
                <td>{{ entity.emailinst }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('procedencia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('procedencia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('procedencia_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
